interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/sources?monitored=true&per_page=10
  response:
    body:
      string: '[{"id": 12259, "type": "github", "full_name": "ns-1cb0f5a9/cowboy",
        "health": "unknown", "source_criticality": "unknown", "default_branch": null,
        "default_branch_head": null, "open_incidents_count": 0, "closed_incidents_count":
        0, "last_scan": null, "monitored": true, "monitoring_status": "deleted_on_remote",
        "visibility": "private", "external_id": "23", "secret_incidents_breakdown":
        {"open_secret_incidents": {"total": 0, "severity_breakdown": {"critical":
        0, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}}, "closed_secret_incidents":
        {"total": 0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0,
        "low": 0, "info": 0, "unknown": 0}}}, "url": "https://host-3c66a8bc.example.com/ns-1cb0f5a9/ns-6d1173c4",
        "provider_metadata": {"archived": false}, "deleted": false}, {"id": 12260,
        "type": "github", "full_name": "ns-1cb0f5a9/hunter", "health": "unknown",
        "source_criticality": "unknown", "default_branch": null, "default_branch_head":
        null, "open_incidents_count": 0, "closed_incidents_count": 0, "last_scan":
        null, "monitored": true, "monitoring_status": "deleted_on_remote", "visibility":
        "public", "external_id": "22", "secret_incidents_breakdown": {"open_secret_incidents":
        {"total": 0, "severity_breakdown[...]
