interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&ordering=-date&status__in=TRIGGERED%2CASSIGNED%2CRESOLVED&severity__in=10&validity__in=valid%2Cfailed_to_check%2Cno_checker%2Cnot_checked&tags__nin=TEST_FILE%2CFALSE_POSITIVE%2CCHECK_RUN_SKIP_FALSE_POSITIVE%2CCHECK_RUN_SKIP_LOW_RISK%2CCHECK_RUN_SKIP_TEST_CRED
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?ordering=-date&page=2&page_size=5&severity__in=10&status__in=TRIGGERED%2CASSIGNED%2CRESOLVED&tags__nin=TEST_FILE%2CFALSE_POSITIVE%2CCHECK_RUN_SKIP_FALSE_POSITIVE%2CCHECK_RUN_SKIP_LOW_RISK%2CCHECK_RUN_SKIP_TEST_CRED&validity__in=valid%2Cfailed_to_check%2Cno_checker%2Cnot_checked",
        "previous": null, "results": [{"id": 26879946, "account": 8, "criterion":
        "AWS Keys", "date": "2026-02-05T16:48:19Z", "last_trigger_published_at": "2026-02-05T16:48:19Z",
        "last_triggered_at": "2026-02-05T16:51:59.912161Z", "last_trigger_detected_at":
        "2026-02-05T16:51:59.912161Z", "hash": "BPRo0pF0ZesUJFhK1FAEiWQsj9wNtT2WYZ15WbzmXjC7vE/VL4Qc71cZRqNcojMG",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at": null, "resolver": null, "regression": false,
        "manual_severity_setter": null, "ignorer_display_name": "none", "ignorer_type":
        "none", "resolver_display_name": "none", "resolver_type": "none", "manual_severity_setter_display_name":
        "none", "manual_severity_setter_type": "none", "status": "ASSIGNED", "issue_name":
        "AWS IAM Keys", "severity_rule_config": {"id": 10860, "gg_created_at": "2026-02-12T15:13:37.684167Z",
        "gg_updated_at": "2026-02-12T15:13:37.684171Z", "index": 30, "severity": 10,
        "rule": {"id": 503, "gg_created_at": "2025-03-18T08:57:54.142008Z", "gg_updated_at":
        "2025-04-02T13:15:43.307296Z", "name": "Valid secrets related to highly sensitive
        detectors", "description": "Secrets related to highly sensitive detectors
        were valid when the incident was discovered. You can edit this rule to create
        your own list of sensitive detectors", "json_rule": {"operator": "AND", "args":
        [{"operator": "EQ", "arg1": {"path": "issue.secret.validity_status", "default":
        null}, "arg2": {"value": "valid"}}, {"operator": "IN", "arg1": {"path": "issue.secret.detector.detector_group_name",
        "default": null}, "arg2": {"value": ["github_app_token", "ldap_credentials",
        "github_oauth_token", "googlecloud_keys", "jira_basic_auth", "python_package_index_key",
        "aws_iam_sts", "npm_token", "gitlab_token", "smtp_credentials", "github_fine_grained_pat",
        "gitlab_enterprise_token", "github_access_token", "aws_iam"]}}]}, "is_global":
        true, "scope": "any", "author": null}}, "declarative_secret_status": null,
        "assignee": 581873, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "gim+dev@gitguardian.com", "name": "dev"}],
        "user_permission": 7, "is_publicly_shared": false, "feedbacks_count": 0, "occurrences_presence_seen_count":
        8, "occurrences_presence_deleted_count": 0, "occurrences_presence_should_be_checked":
        null, "locations_count": 0, "sources": [{"name": "gim-qa-gitlabSandbox-auto
        / gim-qa-gitlabSandbox-staging", "type": "gl_project", "path": "gim-qa-gitlabsandbox-auto/gim-qa-gitlabsandbox-staging",
        "source_criticality": "unknown"}], "custom_tags": [], "vault_metadata": null,
        "is_vaulted": false, "similar_issue_count": 0, "score": 97, "displayed_occurrence":
        {"id": 242021853, "issue": 26879946, "account": 8, "kind": "RLTM", "element":
        "e2cbc193a76a13b94e135c12a055d2083a233a89", "element_type": "GIT_COMMIT",
        "author_name": "dev", "author_info": "gim+dev@gitguardian.com", "value": null,
        "value_hash": "7AkVngiwT5n4ZZihQovCHs2qrlx0MOfD853AYv4HHS0DiM0Vk9YtctC+FFM1Iw+v",
        "published_at": "2026-02-05T16:48:19Z", "date": "2026-02-05T16:48:19Z", "detected_at":
        "2026-02-05T16:51:53.166126Z", "is_vcs_type": true, "last_detected_at": "2026-02-05T16:48:19Z",
        "last_seen_at": "2026-02-05T16:48:19Z", "data": {}, "url": "https://gitlab-01.aws-qa-gitguardian.com/gim-qa-gitlabsandbox-auto/gim-qa-gitlabsandbox-staging/commit/e2cbc193a76a13b94e135c12a055d2083a233a89#2dd906314026edd7e5fa25025afd4353424625a7_0_19",
        "source": {"id": 16219056, "url": "https://gitlab-01.aws-qa-gitguardian.com/gim-qa-gitlabsandbox-auto/gim-qa-gitlabsandbox-staging",
        "type": "gl_project", "display_name": "gim-qa-gitlabSandbox-auto / gim-qa-gitlabSandbox-staging",
        "visibility": "private", "monitored": true, "source_criticality": "unknown",
        "deleted_at": null, "default_branch": "main"}, "regression": false, "content":
        130291193, "secrets_engine_version": "2.156.0", "matches": [{"name": "client_id",
        "string_matched": "[REDACTED]", "indice_start": 124, "indice_end": 144, "pre_line_start":
        null, "pre_line_end": null, "post_line_start": 4, "post_line_end": 4}, {"name":
        "client_secret", "string_matched": "[REDACTED]", "indice_start": 981, "indice_end":
        1021, "pre_line_start": null, "pre_line_end": null, "post_line_start": 19,
        "post_line_end": 19}], "most_sensitive_match_name": "client_secret", "insights":
        [], "filepath": "ec2_instance_management.py", "filename": "ec2_instance_management.py",
        "presence": "visible", "last_presence_seen_at": "2026-02-18T22:30:08.818671Z",
        "last_presence_check_at": "2026-02-18T22:30:08.818671Z", "first_presence_deleted_at":
        null, "seen_in_default_branch": false, "change_type": "addition", "full_tags":
        []}, "has_dropped_occurrences": false, "tags": [], "public_exposure": {"source_publicly_visible":
        false, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "occurrences_count": 8}, {"id": 26155836, "account": 8, "criterion": "Artifactory
        Token", "date": "2026-01-21T10:36:57.655878Z", "last_trigger_published_at":
        "2026-01-21T10:36:57.655878Z", "last_triggered_at": "2026-01-21T10:36:58.397779Z",
        "last_trigger_detected_at": "2026-01-21T10:36:58.397779Z", "hash": "sb5IGg6qhGHwZ7DbBySx1FRi53wnsGUfGCxJpN/LR7YhaCe/mfERIIoosvzjJs1k",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": true, "resolve[...]
