interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/sources?ordering=-last_scan_date&per_page=5
  response:
    body:
      string: '[{"id": 19962429, "type": "sharepoint_online_drive", "full_name": "Team
        Site (document libraries) / Documents", "health": "safe", "source_criticality":
        "unknown", "default_branch": null, "default_branch_head": null, "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": null, "monitored": false, "visibility":
        "private", "external_id": "b!d9AOuHSFJkW7ATwYrYby7iETJKMqoUBAmM2v9M9L6tSkPoPVlY-1Sb-xT0DtOu-M",
        "secret_incidents_breakdown": {"open_secret_incidents": {"total": 0, "severity_breakdown":
        {"critical": 0, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}},
        "closed_secret_incidents": {"total": 0, "severity_breakdown": {"critical":
        0, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}}}, "url": "https://gitguardianengineering.sharepoint.com/sites/contentTypeHub/Shared%20Documents",
        "provider_metadata": {"archived": false}, "deleted": false}, {"id": 26301895,
        "type": "sharepoint_online_drive", "full_name": "Olivier Local testing (document
        libraries) / Documents", "health": "unknown", "source_criticality": "unknown",
        "default_branch": null, "default_branch_head": null, "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": null, "monitored": false, "visibility":
        "private", "external_id": "b!228zEW-fFkq1-2oX01HbwHGZCWcIaVdMoP3Smh_fYPO2jtDlq8vWRaNE2VXTEJXs",
        "secret_[...]
