interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=10&status=TRIGGERED%2CASSIGNED%2CRESOLVED%2CIGNORED&severity=critical%2Chigh%2Cmedium%2Clow%2Cinfo%2Cunknown&validity=valid%2Cinvalid%2Cfailed_to_check%2Cno_checker%2Cunknown&ordering=-date
  response:
    body:
      string: '[{"id": 2954877, "detector": {"name": "json_web_token", "display_name":
        "JSON Web Token", "nature": "generic", "family": "other", "category": "other",
        "detector_group_name": "json_web_token", "detector_group_display_name": "JSON
        Web Token"}, "date": "2026-06-23T11:45:26Z", "secret_id": 34904128, "secret_hash":
        "/uKNK09tzkxmPoFf3vj8jPyGxmvpayFjCCdnow7p0/fzFIUob/zCaMfAAG3RGpZN", "hmsl_hash":
        "86b53de471f9bd2633d5bf47c107c028f8a42913d47262d64938e9a9a8495fb9", "occurrences_count":
        1, "status": "TRIGGERED", "triggered_at": "2026-06-23T11:50:44.799930Z", "ignored_at":
        null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at": null,
        "resolver_id": null, "resolver_api_token_id": null, "secret_revoked": false,
        "validity": "no_checker", "severity": "high", "assignee_id": null, "assignee_email":
        null, "share_url": "[REDACTED]", "feedback_list": [], "risk_score": 53, "severity_rule_id":
        11902, "is_vaulted": false, "declarative_secret_status": "active", "resolve_reason":
        null, "ignore_reason": null, "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/public-incidents/2954877",
        "tags": ["JWT_PROPERTIES", "SENSITIVE_FILE"], "custom_tags": [], "destination_tickets":
        [], "incident_name": "JSON Web Token"}, {"id": 2954259, "detector": {"name":
        "json_web_token", "display_name": "JSON Web Token", "nature": "generic", "family":
        "other", "category": "other", "detector_group_name": "json_web_token", "detector_group_display_name":
        "JSON Web Token"}, "date": "2026-06-23T09:41:00Z", "secret_id": 34901242,
        "secret_hash": "u+QTBcREJHTV9cQ9/lVIB9JNmoOEzac1Rnf97fSMIuFU/IrSb/zCaMfAAG3RGpZN",
        "hmsl_hash": "25bc965e6d4fc75bf9d067ab4879f2d4d6b9782e3eb282e[...]
