interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/members?per_page=10&ordering=-created_at
  response:
    body:
      string: '[{"id": 1757897, "role": "member", "access_level": "member", "email":
        "rachel.chan@gitguardian.com", "name": "Rachel CHAN", "created_at": "2026-04-02T09:06:30.522496Z",
        "last_login": null, "active": true}, {"id": 1755666, "role": "member", "access_level":
        "member", "email": "ylan.cuvier@gitguardian.com", "name": "Ylan CUVIER", "created_at":
        "2026-03-31T10:09:24.169492Z", "last_login": null, "active": true}, {"id":
        1754656, "role": "manager", "access_level": "manager", "email": "candidate.playground+eu@gitguardian.com",
        "name": "CandidateEU DemoAccess", "created_at": "2026-03-30T14:33:58.378802Z",
        "last_login": "2026-04-03T06:24:50.603221Z", "active":[...]
