interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/members?per_page=10&ordering=-created_at
  response:
    body:
      string: '[{"id": 1742128, "role": "member", "access_level": "member", "email":
        "ben.martinmooney@gitguardian.com", "name": "Ben MARTINMOONEY", "created_at":
        "2026-03-20T12:16:02.861151Z", "last_login": null, "active": true}, {"id":
        1742004, "role": "member", "access_level": "member", "email": "alix.mouchet@gitguardian.com",
        "name": "Alix MOUCHET", "created_at": "2026-03-20T10:06:13.001876Z", "last_login":
        null, "active": true}, {"id": 1739935, "role": "member", "access_level": "member",
        "email": "paula.kleine@gitguardian.com", "name": "Paula KLEINE", "created_at":
        "2026-03-18T13:41:15.931617Z", "last_login": null, "active": true}, {"id":
        1738757, "role": "membe[...]
