interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/sources?ordering=-last_scan_date&per_page=5
  response:
    body:
      string: '[{"id": 19962464, "type": "sharepoint_online_pages", "full_name": "GGSim
        - 37aec209-3b8f-423f-95c0-e859899c0f8a / GGSim - 37aec209-3b8f-423f-95c0-e859899c0f8a
        (pages)", "health": "safe", "source_criticality": "unknown", "default_branch":
        null, "default_branch_head": null, "open_incidents_count": 0, "closed_incidents_count":
        0, "last_scan": null, "monitored": false, "visibility": "private", "external_id":
        "gitguardianengineering.sharepoint.com,15b47182-5c3b-46b0-b905-ce16b01f11a1,9e71d4c2-2cbd-4c78-ba9f-5f03dd3e852d:pages",
        "secret_incidents_breakdown": {"open_secret_incidents": {"total": 0, "severity_breakdown":
        {"critical": 0, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}},
        "closed_secret_incidents": {"total": 0, "severity_breakdown": {"critical":
        0, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}}}, "url": "https://gitguardianengineering.sharepoint.com/sites/GGSim-37aec209-3b8f-423f-95c0-e859899c0f8a",
        "deleted": false}, {"id": 19962432, "type": "sharepoint_online_pages", "full_name":
        "Test Corentin / Test Corentin (pages)", "health": "unknown", "source_criticality":
        "unknown", "default_branch": null, "default_branch_head": null, "open_incidents_count":
        0, "closed_incidents_count": 1, "last_scan": null, "monitored": false, "visibility":
        "private", "external_id": "gitguardianengineering.sharepoint.com,c034d99c-c410-4696-a12b-34150b6dd30a,4fe8b59d-035e-44ad-872f-f58e5eec094[...]
