interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=1
  response:
    body:
      string: '[{"id": 1, "detector": {"name": "stripe", "display_name": "Stripe Keys",
        "nature": "specific", "family": "token", "category": "payment_system", "detector_group_name":
        "stripe_keys", "detector_group_display_name": "Stripe Keys"}, "date": "2022-09-21T12:48:20Z",
        "secret_id": 14030708, "secret_hash": "oRwIqXVsin9BmHcHQx6WhicHNz4oNA/2C46qrJwl9Mn9/1HViIVhmFkAG+mbE/6F",
        "hmsl_hash": "413ceb0ac344f91b4de665e1c6d73af3a46a26b6562b4a934fe143a900acbeb6",
        "occurrences_count": 5, "status": "IGNORED", "triggered_at": "2025-01-07T18:06:02.721195Z",
        "ignored_at": "2025-07-30T12:45:49.970856Z", "ignorer_id": null, "ignorer_api_token_id":
        "e9a6365c-e79a-4ad9-b851-29489298e615", "resolved_at": null, "resolver_id":
        null, "resolver_api_token_id": null, "secret_revoked": false, "validity":
        "invalid", "severity": "unknown", "assignee_id": null, "assignee_email": null,
        "share_url": "[REDACTED]", "feedback_list": [], "risk_score": 9, "severity_rule_id":
        null, "is_vaulted": false, "declarative_secret_status": "invalid", "resolve_reason":
        null, "ignore_reason": "invalid", "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/public-incidents/1",
        "tags": ["FROM_HISTORICAL_SCAN", "INTERNALLY_LEAKED"], "custom_tags": [],
        "destination_tickets": [], "incident_name": "Stripe Keys"}]'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, HEAD, OPTIONS
      link:
      - <https://api.gitguardian.com/v1/public-incidents/secrets?cursor=cD0x&per_page=1>;
        rel="next"
      x-app-version:
      - v2.437.0
      x-per-page:
      - '1'
      x-secrets-engine-version:
      - 2.161.0
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets/1/occurrences?per_page=10&presence=present&severity=critical%2Chigh%2Cmedium%2Clow%2Cinfo%2Cunknown&status=TRIGGERED%2CASSIGNED%2CRESOLVED%2CIGNORED&validity=valid%2Cinvalid%2Cfailed_to_check%2Cno_checker%2Cunknown&ordering=-date
  response:
    body:
      string: '[{"id": 2733, "incident_id": 1, "date": "2023-03-14T13:42:20Z", "filepath":
        "stripe1.py", "kind": "historical", "presence": "present", "matches": [{"name":
        "apikey", "indice_start": 23, "indice_end": 55, "pre_line_start": null, "pre_line_end":
        null, "post_line_start": 1, "post_line_end": 1}], "tags": ["FROM_HISTORICAL_SCAN",
        "INTERNALLY_LEAKED"], "sha": "2b9ef5781791f7f4a54af30a254bab215cf97e51", "url":
        "https://github.com/ssokgg/tetris1/commit/2b9ef5781791f7f4a54af30a254bab215cf97e51#diff-706a1ecbc3c67f839c5b9103d4f96e3da1c61e28591053d120c97292b1492b7bR1",
        "source": {"id": 11, "type": "github", "name": "ssokgg/tetris1", "url": "https://github.com/ssokgg/tetris1"},
        "actor": {"id": 85, "type": "github_user", "name": "ssokgg", "email": "sandra.sok@gitguardian.com",
        "url": "https://github.com/ssokgg"}, "attachment_reasons": ["by_dev_from_perimeter"]},
        {"id": 2718, "incident_id": 1, "date": "2022-10-06T13:57:38Z", "filepath":
        "hello.py", "kind": "historical", "presence": "present", "matches": [{"name":
        "apikey", "indice_start": 50, "indice_end": 82, "pre_line_start": 3, "pre_line_end":
        3, "post_line_start": 3, "post_line_end": 3}], "tags": ["FROM_HISTORICAL_SCAN",
        "INTERNALLY_LEAKED"], "sha": "e1c2d9ef179795f195e89ed6a0bf21831fdca527", "url":
        "https://github.com/guill[...]
