interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/honeytokens?status=active&show_token=false&per_page=10
  response:
    body:
      string: '[{"id": "45182b59-b659-41ef-9bb8-44a78740fade", "name": "solid-octo-repo",
        "description": "Placed in solid-octo repo, file ... on 16May2023", "created_at":
        "2023-05-16T11:51:06.384073Z", "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/honeytokens/45182b59-b659-41ef-9bb8-44a78740fade",
        "status": "active", "triggered_at": null, "revoked_at": null, "type": "AWS",
        "open_events_count": 0, "creator_id": 319222, "revoker_id": null, "creator_api_token_id":
        null, "revoker_api_token_id": null, "tags": [], "labels": [{"id": "75e08b81-a5b1-4829-8c95-07aa2816a432",
        "key": "place", "value": "codebase"}], "custom_tags": [{"id": "75e08b81-a5b1-4829-8c95-07aa2816a432",
        "key": "place", "value": "codebase"}], "token": "[REDACTED]"}, {"id": "bfa8a9c0-547e-4e61-b366-8ec0a23e2601",
        "name": "jira-OPS-124", "description": "honeytoken deployed in jira ticket
        OPS-124", "created_at": "2023-05-16T11:58:57.713307Z", "gitguardian_url":
        "https://dashboard.gitguardian.com/workspace/8/honeytokens/bfa8a9c0-547e-4e61-b366-8ec0a23e2601",
        "status": "active", "triggered_at": null, "revoked_at": null, "type": "AWS",
        "open_events_count": 0, "creator_id": 319222, "revoker_id": null, "creato[...]
