interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets/21460?with_occurrences=5
  response:
    body:
      string: '{"id": 21460, "detector": {"name": "aws_iam", "display_name": "AWS
        IAM Keys", "nature": "specific", "family": "credentials", "detector_group_name":
        "aws_iam", "detector_group_display_name": "AWS IAM Keys"}, "date": "2020-10-29T13:19:59.005564Z",
        "secret_id": 70588, "secret_hash": "GxuGpow75lYUqq/11F2BTrhvz5MRq7Lp4iegdts1tBbsUTpYL4Qc71cZRqNcojMG",
        "hmsl_hash": "786f2e4bbe2c1ca4c8d274306a4f598fd8403ec332c2a52e11c3eb2f473c08e7",
        "occurrences_count": 2, "status": "IGNORED", "triggered_at": "2021-02-11T14:23:22.947577Z",
        "ignored_at": "2026-01-26T14:36:19.333114Z", "ignorer_id": 492181, "ignorer_api_token_id":
        null, "resolved_at": null, "resolver_id": null, "resolver_api_token_id": null,
        "secret_revoked": false, "validity": "invalid", "severity": "medium", "assignee_id":
        null, "assignee_email": "vincent.boyer@gitguardian.com", "share_url": "[REDACTED]",
        "feedback_list": [{"created_at": "2022-07-20T13:22:52.756189Z", "updated_at":
        "2022-07-20T13:22:52.756207Z", "email": "stanislas.crepin@gitguardian.com",
        "member_id": null, "answers": [{"type": "boolean", "field_ref": "actual_secret_yes_no",
        "field_label": "Is this an actual secret?", "boolean": true}, {"type": "boolean",
        "field_ref": "access_to_sensitive_yes_no", "field_label": "Does this secret
        give or has given access to any sensitive information or services?", "boolean":
        true}, {"type": "boolean", "field_ref": "revoked_yes_no", "field_label": "Has
        this secret been revoked?", "boolean": false}, {"type": "text", "field_ref":
        "remarks_text", "field_label": "Additional remarks", "text": "Hasn''t been
        revoked yet because X"}]}], "risk_score": 99, "is_vaulted": false, "ignore_reason":
        "invalid", "occurrences": [{"id": 78197, "incident_id": 21460, "date": "2020-10-29T13:20:05.797462Z",
        "filepath": "app.py", "kind": "realtime", "presence": "removed", "matches":
        [{"name": "client_id", "indice_start": 49, "indice_end": 69, "pre_line_start":
        3, "pre_line_end": 3, "post_line_start": null, "post_line_end": null}, {"name":
        "client_secret", "indice_start": 85, "indice_end": 125, "pre_line_start":
        4, "pre_line_end": 4, "post_line_start": null, "post_line_end": null}], "tags":
        ["PUBLICLY_EXPOSED", "PUBLIC"], "url": "https://github.com/wayne-enterprises-gg/public-app-gg-bis-2020-10/commit/4c2166bbf37e361fe9a818bffb63c3a43f89a1cb#diff-568470d013cd12e4f388206520da39ab9a4e4c3c6b95846cbc281abc1ba3c959L4",
        "author_info": "lucius-fox-gg@protonmail.com", "author_name": "Lucius Fox",
        "sha": "4c2166bbf37e361fe9a818bffb63c3a43f89a1cb", "change_type": "deletion",
        "source": {"id": 12349, "type": "github", "full_name": "wayne-enterprises-gg/public-app-gg-bis-2020-10",
        "health": "at_risk", "source_criticality": "unknown", "default_branch": null,
        "default_branch_head": null, "open_incidents_count": 4, "closed_incidents_count":
        11, "last_scan": {"date": "2020-12-10T10:45:12.795972Z", "status": "finished",
        "failing_reason": "", "commits_scanned": 926, "duration": "2.398961", "branches_scanned":
        1, "progress": 100}, "monitored": true, "visibility": "public", "external_id":
        "304477822", "secret_incidents_breakdown": {"open_secret_incidents": {"total":
        4, "severity_breakdown": {"critical": 4, "high": 0, "medium": 0, "low": 0,
        "info": 0, "unknown": 0}}, "closed_secret_incidents": {"total": 11, "severity_breakdown":
        {"critical": 0, "high": 10, "medium": 1, "low": 0, "info": 0, "unknown": 0}}},
        "url": "https://github.com/wayne-enterprises-gg/public-app-gg-bis-2020-10",
        "deleted": true}}, {"id": 78198, "incident_id": 21460, "date": "2020-10-29T13:19:59.005564Z",
        "filepath": "app.py", "kind": "realtime", "presence": "removed", "matches":
        [{"name": "client_id", "indice_start": 92, "indice_end": 112, "pre_line_start":
        null, "pre_line_end": null, "post_line_start": 3, "post_line_end": 3}, {"name":
        "client_secret", "indice_start": 128, "indice_end": 168, "pre_line_start":
        null, "pre_line_end": null, "post_line_start": 4, "post_line_end"[...]
