interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/sources?source_criticality=unknown&per_page=10
  response:
    body:
      string: '[{"id": 12370, "type": "github", "full_name": "aymericGG/Project-back",
        "health": "safe", "source_criticality": "unknown", "default_branch": "", "default_branch_head":
        null, "open_incidents_count": 0, "closed_incidents_count": 0, "last_scan":
        {"date": "2025-10-09T16:45:43.353058Z", "status": "finished", "failing_reason":
        "", "commits_scanned": 0, "duration": "0.01237", "branches_scanned": 0, "progress":
        100}, "monitored": true, "visibility": "public", "external_id": "253745397",
        "secret_incidents_breakdown": {"open_secret_incidents": {"total": 0, "severity_breakdown":
        {"critical": 0, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}},
        "closed_secret_incidents": {"total": 0, "severity_breakdown": {"critical":
        0, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}}}, "url": "https://github.com/aymericGG/Project-back",
        "deleted": false}, {"id": 9123340, "type": "github", "full_name": "orga-083643/solid-octo",
        "health": "safe", "source_criticality": "unknown", "default_branch": "main",
        "default_branch_head": "1218ef7297f84f36297c0111ea88b54b9befd365", "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": {"date": "2025-10-09T16:45:43.351408Z",
        "status": "finished", "failing_reason": "", "commits_scanned": 7, "duration":
        "1.120819", "branches_scanned": 1, "progress": [...]
