interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/members?per_page=10&ordering=-created_at
  response:
    body:
      string: '[{"id": 1831560, "role": "member", "access_level": "member", "email":
        "user-6cf4a340@example.com", "name": "User 075b2f33", "created_at": "2026-06-22T09:31:09.529363Z",
        "last_login": null, "active": true}, {"id": 1827687, "role": "member", "access_level":
        "member", "email": "user-b9296f05@example.com", "name": "User dd80f6e6", "created_at":
        "2026-06-16T12:40:54.847312Z", "last_login": null, "active": true}, {"id":
        1827686, "role": "member", "access_level": "member", "email": "user-871fac1d@example.com",
        "name": "User 7fb663b6", "created_at": "2026-06-16T12:40:53.811676Z", "last_login":
        null, "active": true}, {"id": 1826598, "role": "member", "access_[...]
