interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/sources?per_page=3
  response:
    body:
      string: '[{"id": 12259, "type": "github", "full_name": "lonely/cowboy", "health":
        "unknown", "source_criticality": "unknown", "default_branch": null, "default_branch_head":
        null, "open_incidents_count": 0, "closed_incidents_count": 0, "last_scan":
        null, "monitored": true, "monitoring_status": "deleted_on_remote", "visibility":
        "private", "external_id": "23", "secret_incidents_breakdown": {"open_secret_incidents":
        {"total": 0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0,
        "low": 0, "info": 0, "unknown": 0}}, "closed_secret_incidents": {"total":
        0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0, "low": 0,
        "info": 0, "unknown": 0}}}, "url": "https://ghe.dev.gitguardian.com/lonely/cowboy",
        "provider_metadata": {"archived": false}, "deleted": false}, {"id": 12260,
        "type": "github", "full_name": "lonely/hunter", "health": "unknown", "source_criticality":
        "unknown", "default_branch": null, "default_branch_head": null, "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": null, "monitored": true, "monitoring_status":
        "deleted_on_remote", "visibility": "public", "external_id": "22", "secret_incidents_breakdown":
        {"open_secret_incidents": {"total": 0, "severity_breakdown": {"critical[...]
