interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/members?per_page=10&ordering=-created_at
  response:
    body:
      string: '[{"id": 1332393, "role": "member", "access_level": "member", "email":
        "kevin.torres@gitguardian.com", "name": "Kevin TORRES", "created_at": "2026-02-04T12:47:15.570966Z",
        "last_login": "2026-01-29T18:17:40.772984Z", "active": true}, {"id": 1331114,
        "role": "member", "access_level": "member", "email": "test.automation@gitguardian.com",
        "name": "Test Automation", "created_at": "2026-02-03T09:36:17.670987Z", "last_login":
        "2026-02-03T11:23:45.653129Z", "active": true}, {"id": 1330095, "role": "member",
        "access_level": "member", "email": "clemence.pierunek@gitguardian.com", "name":
        "Cl\u00e9mence PIERUNEK", "created_at": "2026-02-02T10:20:53.462285Z", "last_login":
        null, "[...]
