interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets/21460/members?per_page=5
  response:
    body:
      string: '[{"id": 10, "member_id": 10, "role": "manager", "name": "Bruce Wayne",
        "email": "bruce-wayne-gg@protonmail.com", "incident_id": 21460, "incident_permission":
        "full_access"}, {"id": 13, "member_id": 13, "role": "manager", "name": "Aymeric
        SICARD", "email": "aymeric.sicard@gitguardian.com", "incident_id": 21460,
        "incident_permission": "full_access"}, {"id": 2508, "member_id": 2508, "role":
        "manager", "name": "Guillaume CHARPIAT", "email": "guillaume.charpiat@gitguardian.com",
        "incident_id": 21460, "incident_permission": "full_access"}, {"id": 37699,
        "member_id": 37699, "role": "manager", "name": "Alexis LARNAUD", "email":
        "alexis.larnaud@gitguardian.com", "incident_id": 21460, "incident_permission":
        "full_access"}, {"id": 63809, "member_id": 63809, "role": "manager", "name":
        "Orian ROTURIER", "email": "orian.roturier@gitguardian.com", "incident_id":
        21460, "incident_permission": "full_access"}]'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, HEAD, OPTIONS
      link:
      - <https://api.gitguardian.com/v1/incidents/secrets/21460/members?cursor=cD02MzgwOQ%3D%3D&per_page=5>;
        rel="next"
      x-app-version:
      - v2.521.0
      x-per-page:
      - '5'
      x-secrets-engine-version:
      - 2.165.0
    status:
      code: 200
      message: OK
version: 1
