interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&ordering=-date&status__in=TRIGGERED&severity__in=10&validity__in=valid&tags__nin=TEST_FILE
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?ordering=-date&page=2&page_size=5&severity__in=10&status__in=TRIGGERED&tags__nin=TEST_FILE&validity__in=valid",
        "previous": null, "results": [{"id": 32985083, "account": 8, "criterion":
        "Google API Key", "date": "2026-05-19T09:33:23Z", "last_trigger_published_at":
        "2026-05-19T09:33:23Z", "last_triggered_at": "2026-05-19T09:36:55.570755Z",
        "last_trigger_detected_at": "2026-05-19T09:36:55.570755Z", "hash": "pHE0O7zGgt2lhT0TLQzB2cwgMuZgrhqH4vSIGV5fw5ao1EL3iwQ5Z8PP16EaJtIX",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at": null, "resolver": null, "regression": false,
        "manual_severity_setter": null, "ignorer_display_name": "none", "ignorer_type":
        "none", "resolver_display_name": "none", "resolver_type": "none", "manual_severity_setter_display_name":
        "none", "manual_severity_setter_type": "none", "status": "TRIGGERED", "issue_name":
        "Google API Key", "severity_rule_config": {"id": 11883, "gg_created_at": "2026-05-20T08:56:10.055321Z",
        "gg_updated_at": "2026-05-20T08:56:10.055331Z", "index": 10, "severity": 10,
        "rule": {"id": 745, "gg_created_at": "2026-02-12T15:13:36.079495Z", "gg_updated_at":
        "2026-02-12T15:13:36.079508Z", "name": "Publicly leaked secrets", "description":
        "Publicly leaked secrets outside perimeter", "json_rule": {"operator": "AND",
        "args": [{"operator": "NOT", "arg1": {"operator": "EQ", "arg1": {"path": "issue.public_leak_range",
        "default": null}, "arg2": {"value": "0"}}}, {"operator": "NOT", "arg1": {"operator":
        "EQ", "arg1": {"path": "issue.secret.validity_status", "default": null}, "arg2":
        {"value": "invalid"}}}]}, "is_global": false, "scope": "private", "author":
        520858}}, "declarative_secret_status": "active", "assignee": null, "last_presence_check_at":
        null, "secret": "[REDACTED]", "severity": 100, "authors": [{"info": "gim+dev@gitguardian.com",
        "name": "dev"}], "user_permission": 7, "is_publicly_shared": false, "feedbacks_count":
        0, "occurrences_presence_seen_count": 2, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 1, "sources":
        [{"id": 16218896, "name": "qa / test-nriv", "type": "gl_project", "path":
        "qa1/test-nriv", "source_criticality": "unknown", "monitoring_status": "active",
        "deleted_at": null}], "custom_tags": [], "vault_metadata": null, "is_vaulted":
        false, "similar_issue_count": 0, "score": 64, "displayed_occurrence": {"id":
        268288466, "issue": 32985083, "account": 8, "kind": "RLTM", "element": "9181621d49e910c3d2393f2373e52c04b26c7adb",
        "element_type": "GIT_COMMIT", "author_name": "dev", "author_info": "gim+dev@gitguardian.com",
        "value": null, "value_hash": "y0o7bgCt8InKo3/G0QE6WaG+gU32WlUdYH0N4oUFXredK2KoKwrhfI+hoCMCs6v6",
        "published_at": "2026-05-19T09:33:23Z", "date": "2026-05-19T09:33:23Z", "detected_at":
        "2026-05-19T09:36:53.339083Z", "is_vcs_type": true, "last_detected_at": "2026-05-19T09:33:23Z",
        "last_seen_at": "2026-05-19T09:33:23Z", "data": {}, "url": "https://gitlab-01.aws-qa-gitguardian.com/qa1/test-nriv/commit/9181621d49e910c3d2393f2373e52c04b26c7adb#a290632bbcae192e53c54337b3238d835c97e8a9_5_4",
        "source": {"id": 16218896, "url": "https://gitlab-01.aws-qa-gitguardian.com/qa1/test-nriv",
        "type": "gl_project", "display_name": "qa / test-nriv", "visibility": "internal",
        "monitored": true, "source_criticality": "unknown", "deleted_at": null, "default_branch":
        "main", "monitoring_status": "active"}, "regression": false, "content": 162813398,
        "secrets_engine_version": "2.162.0", "matches": [{"name": "apikey", "string_matched":
        "[REDACTED]", "indice_start": 307, "indice_end": 346, "pre_line_start": null,
        "pre_line_end": null, "post_line_start": 4, "post_line_end": 4}], "most_sensitive_match_name":
        "apikey", "insights": [], "filepath": ".envrc", "filename": ".envrc", "presence":
        "visible", "last_presence_seen_at": "2026-05-19T09:36:55.598741Z", "last_presence_check_at":
        "2026-05-19T09:36:55.598741Z", "first_presence_deleted_at": null, "seen_in_default_branch":
        true, "change_type": "addition", "full_tags": [{"type": "DEFAULT_BRANCH",
        "metadata": null, "field": "content"}]}, "has_dropped_occurrences": false,
        "tags": ["DEFAULT_BRANCH", "PUBLICLY_LEAKED"], "public_exposure": {"source_publicly_visible":
        false, "public_incident_linked": false, "leaked_outside_perimeter": true},
        "occurrences_count": 2}, {"id": 22515404, "account": 8, "criterion": "AWS
        Keys", "date": "2025-11-17T17:16:25Z", "last_trigger_published_at": "2025-11-17T17:16:25Z",
        "last_triggered_at": "2025-11-17T17:18:18.706440Z", "last_trigger_detected_at":
        "2025-11-17T17:18:18.706440Z", "hash": "6y4trbQi60aNmDEFQe0tJH3jke+8j18I9t2sKfgaunTYEUdZL4Qc71cZRqNcojMG",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at": null, "resolver[...]
