interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets/21460/members?per_page=10&search=gitguardian
  response:
    body:
      string: '[{"id": 13, "member_id": 13, "role": "manager", "name": "Aymeric SICARD",
        "email": "aymeric.sicard@gitguardian.com", "incident_id": 21460, "incident_permission":
        "full_access"}, {"id": 2508, "member_id": 2508, "role": "manager", "name":
        "Guillaume CHARPIAT", "email": "guillaume.charpiat@gitguardian.com", "incident_id":
        21460, "incident_permission": "full_access"}, {"id": 37699, "member_id": 37699,
        "role": "manager", "name": "Alexis LARNAUD", "email": "alexis.larnaud@gitguardian.com",
        "incident_id": 21460, "incident_permission": "full_access"}, {"id": 63809,
        "member_id": 63809, "role": "manager", "name": "O[...]
