interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/sources?per_page=3
  response:
    body:
      string: '[{"id": 12338, "type": "github", "full_name": "wayne-enterprises-gg/shared-app",
        "health": "safe", "source_criticality": "low", "default_branch": "master",
        "default_branch_head": "a219c18ff8e913427c38fc7d90756d6bb1bb5b43", "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": {"date": "2026-02-02T10:49:30.905195Z",
        "status": "finished", "failing_reason": "", "commits_scanned": 544, "duration":
        "0.0", "branches_scanned": 1, "progress": 100}, "monitored": true, "visibility":
        "public", "external_id": "218964926", "secret_incidents_breakdown": {"open_secret_incidents":
        {"total": 0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0,
        "low": 0, "info": 0, "unknown": 0}}, "closed_secret_incidents": {"total":
        0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0, "low": 0,
        "info": 0, "unknown": 0}}}, "url": "https://github.com/wayne-enterprises-gg/shared-app",
        "deleted": false}, {"id": 12356, "type": "github", "full_name": "wayne-enterprises-gg/with-readme-repo-gg",
        "health": "safe", "source_criticality": "medium", "default_branch": "master",
        "default_branch_head": "21ca725ac5028cf45975b49f7b48928f34f73117", "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": {"date": "2025-10-09T16:45:43.352734Z",
        "status": "finished", "failing_reason": "", "commits_scanned": 1, "duration":
        "3.265244", "branches_scanned"[...]
