interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&ordering=-date&status__in=TRIGGERED&severity__in=10%2C20%2C30%2C100&validity__in=valid%2Cfailed_to_check%2Cno_checker%2Cnot_checked&tags__nin=TEST_FILE%2CFALSE_POSITIVE%2CCHECK_RUN_SKIP_FALSE_POSITIVE%2CCHECK_RUN_SKIP_LOW_RISK%2CCHECK_RUN_SKIP_TEST_CRED
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?ordering=-date&page=2&page_size=5&severity__in=10%2C20%2C30%2C100&status__in=TRIGGERED&tags__nin=TEST_FILE%2CFALSE_POSITIVE%2CCHECK_RUN_SKIP_FALSE_POSITIVE%2CCHECK_RUN_SKIP_LOW_RISK%2CCHECK_RUN_SKIP_TEST_CRED&validity__in=valid%2Cfailed_to_check%2Cno_checker%2Cnot_checked",
        "previous": null, "results": [{"id": 34205503, "account": 8, "criterion":
        "microsoft_azure_storage_connection_string", "date": "2026-06-23T11:13:31.325324Z",
        "last_trigger_published_at": "2026-06-23T11:13:31.325324Z", "last_triggered_at":
        "2026-06-23T11:13:31.343453Z", "last_trigger_detected_at": "2026-06-23T11:13:31.343453Z",
        "hash": "HdPZ4cjZuziAqsakdlsUnJDapTz3ns5pX8vPzfhvGQvpWWWX25LITKmJimoqGr3z",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at": null, "resolver": null, "regression": false,
        "manual_severity_setter": null, "ignorer_display_name": "none", "ignorer_type":
        "none", "resolver_display_name": "none", "resolver_type": "none", "manual_severity_setter_display_name":
        "none", "manual_severity_setter_type": "none", "status": "TRIGGERED", "issue_name":
        "Microsoft Azure Storage Connection String", "severity_rule_config": null,
        "declarative_secret_status": null, "assignee": null, "last_presence_check_at":
        null, "secret": "[REDACTED]", "severity": 100, "authors": [{"info": "", "name":
        "Kashyapa P.A. Jayasekera"}], "user_permission": 7, "is_publicly_shared":
        true, "feedbacks_count": 0, "occurrences_presence_seen_count": 16, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 16,
        "sources": [{"id": 28462334, "name": "GGFRLTA127 \u2014 kashyapap.jayasekera",
        "type": "endpoints", "path": "GGFRLTA127 \u2014 kashyapap.jayasekera", "source_criticality":
        "unknown", "monitoring_status": "active", "deleted_at": null}], "custom_tags":
        [], "vault_metadata": null, "is_vaulted": false, "similar_issue_count": 0,
        "score": 97, "displayed_occurrence": {"id": 274792885, "issue": 34205503,
        "account": 8, "kind": "RLTM", "element": "/Users/kashyapap.jayasekera/leak-digger/leakdigger/scripts/secrets2db/benchmark-investigation/2.159-dedup/secrets.jsonl.169",
        "element_type": "ENDPOINT_FILE", "author_name": "Kashyapa P.A. Jayasekera",
        "author_info": "", "value": null, "value_hash": "1TXwqQngy2cxRxis2dLzOshet5LX0P4n6uJ9tbzrAYI/0Tf5WGr+ma7NdWCAggYy",
        "published_at": "2026-06-23T11:13:31.325324Z", "date": "2026-06-23T11:13:31.325324Z",
        "detected_at": "2026-06-23T11:13:31.325324Z", "is_vcs_type": false, "last_detected_at":
        "2026-06-23T11:13:31.325324Z", "last_seen_at": "2026-06-23T11:13:31.325324Z",
        "data": {"line": 2, "matched_lines": []}, "url": "", "source": {"id": 28462334,
        "url": "/workspace/8/endpoints/users/217", "type": "endpoints", "display_name":
        "GGFRLTA127 \u2014 kashyapap.jayasekera", "visibility": "private", "monitored":
        true, "source_criticality": "unknown", "deleted_at": null, "default_branch":
        null, "monitoring_status": "active"}, "regression": false, "content": 168376390,
        "secrets_engine_version": "2.165.0", "matches": [], "most_sensitive_match_name":
        null, "insights": [], "filepath": null, "filename": null, "presence": "visible",
        "last_presence_seen_at": "2026-06-23T11:13:31.325324Z", "last_presence_check_at":
        "2026-06-23T11:13:31.325324Z", "first_presence_deleted_at": null, "seen_in_default_branch":
        null, "change_type": null, "full_tags": []}, "has_dropped_occurrences": false,
        "tags": [], "public_exposure": {"source_publicly_visible": false, "public_incident_linked":
        false, "leaked_outside_perimeter": false}, "occurrences_count": 16}, {"id":
        34186239, "account": 8, "criterion": "Generic Password", "date": "2026-06-22T15:14:57Z",
        "last_trigger_published_at": "2026-06-22T15:14:57Z", "last_triggered_at":
        "2026-06-22T15:16:49.799821Z", "last_trigger_detected_at": "2026-06-22T15:16:49.799821Z",
        "hash": "l20PufsE4GDTHxA+dQvcCRYgs5n0Jvz4ekZkuygCenyvIwxefma8ieOEhD7igl+v",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at"[...]
