interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=10&status=TRIGGERED%2CASSIGNED%2CRESOLVED%2CIGNORED&severity=critical%2Chigh%2Cmedium%2Clow%2Cinfo%2Cunknown&validity=valid%2Cinvalid%2Cfailed_to_check%2Cno_checker%2Cunknown&ordering=-date
  response:
    body:
      string: '[{"id": 1656322, "detector": {"name": "generic_password", "display_name":
        "Generic Password", "nature": "generic", "family": "other", "category": "other",
        "detector_group_name": "generic_password", "detector_group_display_name":
        "Generic Password"}, "date": "2026-04-08T13:57:02Z", "secret_id": 30877010,
        "secret_hash": "xHPjwUsmqt6eA7ncYDxRlt7kV7BnCq1drlnSRHGknhfkmcDLfma8ieOEhD7igl+v",
        "hmsl_hash": "7c3d0e84bbd9229c2997872cb4d17c04c6ff7220fd5f2812bbd1d1dbe6f5947a",
        "occurrences_count": 1, "status": "TRIGGERED", "triggered_at": "2026-04-08T14:03:21.364805Z",
        "ignored_at": null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at":
        null, "resolver_id": null, "resolver_api_token_id": null, "secret_revoked":
        false, "validity": "no_checker", "severity": "unknown", "assignee_id": null,
        "assignee_email": null, "share_url": "[REDACTED]", "feedback_list": [], "risk_score":
        52, "severity_rule_id": null, "is_vaulted": false, "declarative_secret_status":
        "active", "resolve_reason": null, "ignore_reason": null, "gitguardian_url":
        "https://dashboard.gitguardian.com/workspace/8/public-incidents/1656322",
        "tags": [], "custom_tags": [], "destination_tickets": [], "incident_name":
        "Generic Password"}, {"id": 1622340, "detector": {"name": "generic_password",
        "display_name": "Generic Password", "nature": "generic", "family": "other",
        "category": "other", "detector_group_name": "generic_password", "detector_group_display_name":
        "Generic Password"}, "date": "2026-04-07T20:07:53Z", "secret_id": 30795205,
        "secret_hash": "kB4u8+jrFoS2fxB1eoQxTY0F3Lh+PlC371M42NbxwiiCVuU9fma8ieOEhD7igl+v",
        "hmsl_hash": "e6b9fe4ea6d7ad7257e228bc4c604[...]
