interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/secret_detectors?per_page=3
  response:
    body:
      string: '[{"name": "1password_service_account_token", "display_name": "1Password
        Service Account Token", "is_active": true, "type": "specific", "category":
        "secret_management", "checkable": false, "frequency": 0.02, "use_with_validity_check_disabled":
        true, "scans_code_only": false, "is_recommended_for_business": true, "removed_at":
        null, "open_incidents_count": 1, "ignored_incidents_count": 0, "resolved_incidents_count":
        0}, {"name": "8_blablatoto", "display_name": "BlablaToto Token", "is_active":
        true, "type": "custom", "category": "other", "checkable": false, "frequency":
        363.41, "use_with_validity_check_disabled": true, "scans_code_only": false,
        "is_recommended_for_business": true, "removed_at": null, "open_incidents_count":
        1, "ignored_incidents_count": 0, "resolved_incidents_count": 0}, {"name":
        "8_blablatoto_bis", "display_name": "BlablaToto Token", "is_active": true,
        "type": "custom", "category": "other", "checkable": false, "frequency": 363.41,
        "use_with_validity_check_disabled": true, "scans_code_only": false, "is_recommended_for_business":
        true, "removed_at": null, "open_incidents_count": 1, "ignored_incidents_count":
        0, "resolved_incidents_count": 0}]'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
      link:
      - <https://api.gitguardian.com/v1/secret_detectors?cursor=cD04X2JsYWJsYXRvdG9fYmlz&per_page=3>;
        rel="next"
      x-app-version:
      - v2.386.0
      x-per-page:
      - '3'
      x-secrets-engine-version:
      - 2.156.0
    status:
      code: 200
      message: OK
version: 1
