interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/api_tokens/self
  response:
    body:
      string: '{"id": "8a262c6a-832d-49e5-8744-23c743ff25ac", "name": "ggmcp CI",
        "type": "personal_access_token", "scopes": ["scan", "incidents:read", "members:read",
        "audit_logs:read", "teams:read", "honeytokens:read", "honeytokens:write",
        "api_tokens:read", "sources:read", "nhi:send-inventory", "nhi:write-vault",
        "custom_tags:read", "custom_tags:write", "secrets:read", "secrets:write",
        "scan:create-incidents", "public-perimeter:read"], "member_id": 480870, "workspace_id":
        8, "created_at": "2025-12-07T14:13:08.044416Z", "last_used_at": "2026-02-05T08:03:00Z",
        "expire_at": null, "revoked_at": null, "status": "active", "creator_id": 480870}'
    headers:
      allow:
      - GET, DELETE, HEAD, OPTIONS
      content-type:
      - application/json
      x-app-version:
      - v2.384.0
      x-secrets-engine-version:
      - 2.155.4
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/occurrences/secrets?exclude_tags=TEST_FILE%2CFALSE_POSITIVE%2CCHECK_RUN_SKIP_FALSE_POSITIVE%2CCHECK_RUN_SKIP_LOW_RISK%2CCHECK_RUN_SKIP_TEST_CRED&per_page=10&severity=critical%2Chigh%2Cmedium%2Cunknown&validity=valid%2Cfailed_to_check%2Cno_checker%2Cunknown&status=TRIGGERED%2CASSIGNED%2CRESOLVED&with_sources=false&member_assignee_id=480870
  response:
    body:
      string: '[{"id": 78199, "incident_id": 21461, "date": "2020-10-29T10:19:39.723768Z",
        "filepath": "app.py", "kind": "realtime", "presence": "removed", "matches":
        [{"name": "apikey", "indice_start": 48, "indice_end": 726, "pre_line_start":
        3, "pre_line_end": 14, "post_line_start": null, "post_line_end": null}], "tags":
        ["PUBLIC", "PUBLICLY_EXPOSED"], "url": "https://github.com/wayne-enterprises-gg/private-gg-bis-2020-09/commit/333db3e12b3f863ebb02cac6f232fc44e4f46533#diff-568470d013cd12e4f388206520da39ab9a4e4c3c6b95846cbc281abc1ba3c959L3",
        "author_info": "lucius-fox-gg@protonmail.com", "author_name": "Lucius Fox",
        "sha": "333db3e12b3f863ebb02cac6f232fc44e4f46533", "change_type": "deletion",
        "source_id": 12320}, {"id": 78200, "incident_id": 21461, "date": "2020-10-29T09:19:54.249454Z",
        "filepath": "app.py", "kind": "realtime", "presence": "removed", "matches":
        [{"name": "apikey", "indice_start": 91, "indice_end": 769, "pre_line_start":
        null, "pre_line_end": null, "post_line_start": 3, "post_line_end": 14}], "tags":
        ["PUBLIC", "PUBLICLY_EXPOSED"], "url": "https://github.com/wayne-enterprises-gg/private-gg-bis-2020-09/commit/76dd4f31a31c78a151723031bfebff4d076751b2[...]
