interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&ordering=-date&status__in=TRIGGERED&severity__in=10%2C20%2C30%2C100&validity__in=valid%2Cfailed_to_check%2Cno_checker%2Cnot_checked&tags__nin=TEST_FILE%2CFALSE_POSITIVE%2CCHECK_RUN_SKIP_FALSE_POSITIVE%2CCHECK_RUN_SKIP_LOW_RISK%2CCHECK_RUN_SKIP_TEST_CRED
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?ordering=-date&page=2&page_size=5&severity__in=10%2C20%2C30%2C100&status__in=TRIGGERED&tags__nin=TEST_FILE%2CFALSE_POSITIVE%2CCHECK_RUN_SKIP_FALSE_POSITIVE%2CCHECK_RUN_SKIP_LOW_RISK%2CCHECK_RUN_SKIP_TEST_CRED&validity__in=valid%2Cfailed_to_check%2Cno_checker%2Cnot_checked",
        "previous": null, "results": [{"id": 27743219, "account": 8, "criterion":
        "Generic Password", "date": "2026-03-02T08:03:19Z", "last_trigger_published_at":
        "2026-03-02T08:03:19Z", "last_triggered_at": "2026-03-02T08:04:40.966599Z",
        "last_trigger_detected_at": "2026-03-02T08:04:40.966599Z", "hash": "DIhTV8EvZb3qiiqNdZxIdx5KXxPM1+opgvbjqYv9ikr7Xshkfma8ieOEhD7igl+v",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at": null, "resolver": null, "regression": false,
        "manual_severity_setter": null, "ignorer_display_name": "none", "ignorer_type":
        "none", "resolver_display_name": "none", "resolver_type": "none", "manual_severity_setter_display_name":
        "none", "manual_severity_setter_type": "none", "status": "TRIGGERED", "issue_name":
        "Generic Password", "severity_rule_config": null, "declarative_secret_status":
        null, "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "gim+dev@gitguardian.com", "name": "dev"}],
        "user_permission": 7, "is_publicly_shared": false, "feedbacks_count": 0, "occurrences_presence_seen_count":
        2, "occurrences_presence_deleted_count": 0, "occurrences_presence_should_be_checked":
        null, "locations_count": 1, "sources": [{"name": "olaugier / test", "type":
        "gl_project", "path": "olaugier/test", "source_criticality": "unknown"}],
        "custom_tags": [], "vault_metadata": null, "is_vaulted": false, "similar_issue_count":
        0, "score": 63, "displayed_occurrence": {"id": 247153722, "issue": 27743219,
        "account": 8, "kind": "RLTM", "element": "876b995fcda9f3ebacdde3630fe8521c09e88a50",
        "element_type": "GIT_COMMIT", "author_name": "dev", "author_info": "gim+dev@gitguardian.com",
        "value": null, "value_hash": "kqtDoOt2gXsDpCN6VFM6vvO0PUTxcS7pA+2Yu2AS9t2s4kcdjypyaVpjw9oi8GAg",
        "published_at": "2026-03-02T08:03:19Z", "date": "2026-03-02T08:03:19Z", "detected_at":
        "2026-03-02T08:04:26.107138Z", "is_vcs_type": true, "last_detected_at": "2026-03-02T08:03:19Z",
        "last_seen_at": "2026-03-02T08:03:19Z", "data": {}, "url": "https://gitlab-01.aws-qa-gitguardian.com/olaugier/test/commit/876b995fcda9f3ebacdde3630fe8521c09e88a50#dbdb2e6bfc642ed0d0c5033e50062fe3ede15e4e_0_3",
        "source": {"id": 23485701, "url": "https://gitlab-01.aws-qa-gitguardian.com/olaugier/test",
        "type": "gl_project", "display_name": "olaugier / test", "visibility": "private",
        "monitored": true, "source_criticality": "unknown", "deleted_at": null, "default_branch":
        "main"}, "regression": false, "content": 137431882, "secrets_engine_version":
        "2.157.1", "matches": [{"name": "password", "string_matched": "[REDACTED]",
        "indice_start": 67, "indice_end": 143, "pre_line_start": null, "pre_line_end":
        null, "post_line_start": 3, "post_line_end": 3}], "most_sensitive_match_name":
        "password", "insights": [{"name": "minified", "source": "document", "metadata":
        {"minified_probability": 0.0}}], "filepath": "configuration_15.txt", "filename":
        "configuration_15.txt", "presence": "visible", "last_presence_seen_at": "2026-03-02T08:04:41.000526Z",
        "last_presence_check_at": "2026-03-02T08:04:41.000526Z", "first_presence_deleted_at":
        null, "seen_in_default_branch": true, "change_type": "addition", "full_tags":
        [{"type": "DEFAULT_BRANCH", "metadata": null}]}, "has_dropped_occurrences":
        false, "tags": ["DEFAULT_BRANCH"], "public_exposure": {"source_publicly_visible":
        false, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "occurrences_count": 2}, {"id": 26805049, "account": 8, "criterion": "Generic
        High Entropy Secret", "date": "2026-02-04T12:40:14Z", "last_trigger_published_at":
        "2026-02-04T12:40:14Z", "last_triggered_at": "2026-02-04T13:38:51.993879Z",
        "last_trigger_detected_at": "2026-02-04T13:38:51.993879Z", "hash": "WTaCT+UniPgL/yRBqvY08cAEfxZM20pDa9wMIFDtfg14lIkIp+KkPCNpyNbtXqJM",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_a[...]
