interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/secret_detectors?search=aws&per_page=10
  response:
    body:
      string: '[{"name": "aws_bedrock_long_term_api_key", "display_name": "AWS Bedrock
        Long-term API key", "is_active": true, "type": "specific", "category": "cloud_provider",
        "checkable": true, "frequency": 0.47, "use_with_validity_check_disabled":
        true, "scans_code_only": false, "is_recommended_for_business": true, "removed_at":
        null, "open_incidents_count": 0, "ignored_incidents_count": 0, "resolved_incidents_count":
        0}, {"name": "aws_cognito_oauth_credentials", "display_name": "AWS Cognito
        OAuth 2.0 Credentials", "is_active": true, "type": "specific", "category":
        "identity_provider", "checkable": false, "frequency": 3.65, "use_with_validity_check_disabled":
        true, "scans_code_only": false, "is_recommended_for_business": true, "removed_at":
        null, "open_incidents_count": 0, "ignored_incidents_count": 0, "resolved_incidents_count":
        0}, {"name": "aws_cognito_oauth[...]
