interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/secret_detectors?type=generic&per_page=10
  response:
    body:
      string: '[{"name": "authentication_tuple", "display_name": "Authentication Tuple",
        "is_active": true, "type": "generic", "category": "other", "checkable": false,
        "frequency": 22.74, "use_with_validity_check_disabled": true, "scans_code_only":
        false, "is_recommended_for_business": true, "removed_at": null, "open_incidents_count":
        4, "ignored_incidents_count": 1, "resolved_incidents_count": 0}, {"name":
        "base64_basic_auth", "display_name": "Base64 Basic Authentication", "is_active":
        true, "type": "generic", "category": "other", "checkable": false, "frequency":
        61.06, "use_with_validity_check_disabled": true, "scans_code_only": false,
        "is_recommended_for_business": true, "removed_at": null, "open_incidents_count":
        33, "ignored_incidents_count": 0, "resolved_incidents_count": 0}, {"name":
        "base64_generic_high_entropy_secret", "display_[...]
