interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/members/13
  response:
    body:
      string: '{"id": 13, "role": "manager", "access_level": "manager", "email": "aymeric.sicard@gitguardian.com",
        "name": "Aymeric SICARD", "created_at": "2020-01-21T09:35:47.907207Z", "last_login":
        "2026-04-01T10:58:24.108304Z", "active": true}'
    headers:
      allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      content-type:
      - application/json
      x-app-version:
      - v2.425.0
      x-secrets-engine-version:
      - 2.159.0
    status:
      code: 200
      message: OK
version: 1
