interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets/21460/members?per_page=10&ordering=-created_at
  response:
    body:
      string: '[{"id": 10, "member_id": 10, "role": "manager", "name": "Bruce Wayne",
        "email": "bruce-wayne-gg@protonmail.com", "incident_id": 21460, "incident_permission":
        "full_access"}, {"id": 13, "member_id": 13, "role": "manager", "name": "Aymeric
        SICARD", "email": "aymeric.sicard@gitguardian.com", "incident_id": 21460,
        "incident_permission": "full_access"}, {"id": 2508, "member_id": 2508, "role":
        "manager", "name": "Guillaume CHARPIAT", "email": "guillaume.charpiat@gitguardian.com",
        "incident_id": 21460, "incident_permission": "full_access"}, {"id": 37699,
        "member_id": 37699, "role": "manager", "name": "Alexis [...]
