interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=10&date_after=2020-01-01T00%3A00%3A00Z&ordering=-risk_score&risk_score_min=0&risk_score_max=100
  response:
    body:
      string: '[{"id": 5207, "detector": {"name": "digitalocean_token", "display_name":
        "DigitalOcean Token", "nature": "specific", "family": "token", "category":
        "cloud_provider", "detector_group_name": "digitalocean_token", "detector_group_display_name":
        "DigitalOcean Token"}, "date": "2023-03-03T16:38:13Z", "secret_id": 14597819,
        "secret_hash": "vClMsNqM/WdfLMx7H6mUnp1i9W87jp+J+ffYMGCEbQIsIKP1Qg9f/tAi7MYoYTK8",
        "hmsl_hash": "8726444fd47d2df39f484439152c7c7b0a642e171a89091b98aee1f8cb3e8444",
        "occurrences_count": 1, "status": "TRIGGERED", "triggered_at": "2025-01-07T18:10:13.203243Z",
        "ignored_at": null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at":
        null, "resolver_id": null, "resolver_api_token_id": null, "secret_revoked":
        false, "validity": "valid", "severity": "critical", "assignee_id": null, "assignee_email":
        null, "share_url": "[REDACTED]", "feedback_list": [], "risk_score": 100, "severity_rule_id":
        10861, "is_vaulted": false, "declarative_secret_status": "active", "resolve_reason":
        null, "ignore_reason": null, "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/public-incidents/5207",
        "tags": ["FROM_HISTORICAL_SCAN"], "custom_tags": [], "destination_tickets":
        [], "incident_name": "DigitalOcean Token"}, {"id": 5208, "detector": {"name":
        "digitalocean_token", "display_name": "DigitalOcean Token", "nature": "specific",
        "family": "token", "category": "cloud_provider", "detector_group_name": "digitalocean_token",
        "detector_group_display_name": "DigitalOcean Token"}, "date": "2023-03-03T16:38:13Z",
        "secret_id": 14597820, "secret_hash": "gpSu+iGVzqTb04w0hQpy/EQ3yZXU/M0KWTkiYW0DN6GchufVQg9f/tAi7MYoYTK8",
        "hmsl_hash": "e2a9fad8ba3b356d7db9[...]
