interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/sources?per_page=20
  response:
    body:
      string: '[{"id": 12259, "type": "github", "full_name": "lonely/cowboy", "health":
        "unknown", "source_criticality": "unknown", "default_branch": null, "default_branch_head":
        null, "open_incidents_count": 0, "closed_incidents_count": 0, "last_scan":
        null, "monitored": true, "monitoring_status": "deleted_on_remote", "visibility":
        "private", "external_id": "23", "secret_incidents_breakdown": {"open_secret_incidents":
        {"total": 0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0,
        "low": 0, "info": 0, "unknown": 0}}, "closed_secret_incidents": {"total":
        0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0, "low": 0,
        "info": 0, "unknown": 0}}}, "url": "https://ghe.dev.gitguardian.com/lonely/cowboy",
        "provider_metadata": {"archived": false}, "deleted": false}, {"id": 12260,
        "type": "github", "full_name": "lonely/hunter", "health": "unknown", "source_criticality":
        "unknown", "default_branch": null, "default_branch_head": null, "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": null, "monitored": true, "monitoring_status":
        "deleted_on_remote", "visibility": "public", "external_id": "22", "secret_incidents_breakdown":
        {"open_secret_incidents": {"total": 0, "severity_breakdown": {"critical[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/sources?per_page=20&cursor=cD0xMjI3OA%3D%3D
  response:
    body:
      string: '[{"id": 12279, "type": "github", "full_name": "wayne-enterprises-gg/private-gg-bis-2020-01",
        "health": "at_risk", "source_criticality": "unknown", "default_branch": null,
        "default_branch_head": null, "open_incidents_count": 1, "closed_incidents_count":
        3, "last_scan": null, "monitored": true, "monitoring_status": "deleted_on_remote",
        "visibility": "public", "external_id": "234319360", "secret_incidents_breakdown":
        {"open_secret_incidents": {"total": 1, "severity_breakdown": {"critical":
        1, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}}, "closed_secret_incidents":
        {"total": 3, "severity_breakdown": {"critical": 0, "high": 3, "medium": 0,
        "low": 0, "info": 0, "unknown": 0}}}, "url": "https://github.com/wayne-enterprises-gg/private-gg-bis-2020-01",
        "provider_metadata": {"archived": false}, "deleted": false}, {"id": 12280,
        "type": "github", "full_name": "wayne-enterprises-gg/private-app-gg-bis-2020-12",
        "health": "at_risk", "source_criticality": "unknown", "default_branch": null,
        "default_branch_head": null, "open_incidents_count": 1, "closed_incidents_count":
        7, "last_scan": {"date": "2021-03-05T16:32:08.931273Z", "status": "finished",
        "failing_reason": "", "commits_scanned": 1343, "duration": "3.700622", "branches_scanned":
        1, "progress": 100}, "monitored": true, "monitoring_status": "deleted_on_remote",
        "visibility": "public", "external_id": "321822525", "secret_incidents_breakdown":
        {"open_secret_incidents": {"total": 1, "severity_breakdown": {"critical":
        1, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}}, "closed_secret_incidents":
        {"total": 7, "severity_breakdown": {"critical": 0, "high": 7, "medium": 0,
        "low": 0, "info": 0, "unknown": 0}}}, "url": "https://github.com/wayne[...]
