interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/members?per_page=10&search=gitguardian
  response:
    body:
      string: '[{"id": 13, "role": "manager", "access_level": "manager", "email":
        "aymeric.sicard@gitguardian.com", "name": "Aymeric Sicard", "created_at":
        "2020-01-21T09:35:47.907207Z", "last_login": "2026-02-02T15:18:27.122251Z",
        "active": true}, {"id": 2508, "role": "manager", "access_level": "manager",
        "email": "guillaume.charpiat@gitguardian.com", "name": "Guillaume Charpiat",
        "created_at": "2020-03-23T17:53:57.158457Z", "last_login": "2026-01-29T15:06:07.929620Z",
        "active": true}, {"id": 37699, "role": "manager", "access_level": "manager",
        "email": "alexis.larnaud@gitguardian.com", "name": "Alexis Larnaud", "created_at":
        "2020-09-03T11:16:05.980606Z", "last_login": "2026-02-02T14:16:09.[...]
