interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/members?per_page=10&ordering=-created_at
  response:
    body:
      string: '[{"id": 1831560, "role": "member", "access_level": "member", "email":
        "chris.heine@gitguardian.com", "name": "Chris HEINE", "created_at": "2026-06-22T09:31:09.529363Z",
        "last_login": null, "active": true}, {"id": 1827687, "role": "member", "access_level":
        "member", "email": "badr.bennasri@gitguardian.com", "name": "Badr BENNASRI",
        "created_at": "2026-06-16T12:40:54.847312Z", "last_login": null, "active":
        true}, {"id": 1827686, "role": "member", "access_level": "member", "email":
        "kevin.duchier-ext@gitguardian.com", "name": "Kevin DUCHIER", "created_at":
        "2026-06-16T12:40:53.811676Z", "last_login": null, "active": true}, {"id":
        1826598, "role"[...]
