interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/secret_detectors?per_page=20
  response:
    body:
      string: '[{"name": "1password_service_account_token", "display_name": "1Password
        Service Account Token", "is_active": true, "type": "specific", "category":
        "secret_management", "checkable": false, "frequency": 0.02, "use_with_validity_check_disabled":
        true, "scans_code_only": false, "is_recommended_for_business": true, "removed_at":
        null, "open_incidents_count": 1, "ignored_incidents_count": 0, "resolved_incidents_count":
        0}, {"name": "8_blablatoto", "display_name": "BlablaToto Token", "is_active":
        true, "type": "custom", "category": "other", "checkable": false, "frequency":
        363.41, "use_with_validity_check_disabled": true, "scans_code_only": false,
        "is_recommended_for_business": true, "removed_at": null, "open_incidents_count":
        1, "ignored_incidents_count": 0, "resolved_incidents_count": 0}, {"name":
        "8_blablatoto_bis", "display_name": "BlablaToto Token", "is_acti[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/secret_detectors?per_page=20&cursor=cD1hbGdvbGlhX2tleXM%3D
  response:
    body:
      string: '[{"name": "algolia_search", "display_name": "Algolia Search Keys",
        "is_active": false, "type": "specific", "category": "Api", "checkable": false,
        "frequency": 107.55, "use_with_validity_check_disabled": true, "sca[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/secret_detectors?per_page=20&cursor=cD1hc3BuZXRfdmFsaWRhdGlvbl9rZXk%3D
  response:
    body:
      string: '[{"name": "assemblyai_access_token", "display_name": "AssemblyAI Access
        Token", "is_active": true, "type": "specific", "category": "ai", "checkable":
        true, "frequency": 4.9, "use_with_validity_check_di[...]
