interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/secret_detectors?per_page=20
  response:
    body:
      string: '[{"name": "1password_service_account_token", "display_name": "1Password
        Service Account Token", "is_active": true, "type": "specific", "category":
        "secret_management", "checkable": false, "frequency": 0.02, "use_with_validity_check_disabled":
        true, "scans_code_only": false, "is_recommended_for_business": true, "removed_at":
        null, "open_incidents_count": 1, "ignored_incidents_count": 0, "resolved_incidents_count":
        0}, {"name": "8_blablatoto", "display_name": "BlablaToto Token", "is_active":
        true, "type": "custom", "category": "other", "checkable": false, "frequency":
        363.41, "use_with_validity_check_disabled": true, "scans_code_only": false,
        "is_recommended_for_business": true, "removed_at": null, "open_incidents_count":
        1, "ignored_incidents_count": 0, "resolved_incidents_count": 0}, {"name":
        "8_blablatoto_bis", "display_name": "BlablaToto Token", "is_acti[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/secret_detectors?per_page=20&cursor=cD1hbXFwX2Fzc2lnbm1lbnRfYXR0YWNoZWRfcG9ydA%3D%3D
  response:
    body:
      string: '[{"name": "anthropic_admin_key", "display_name": "Anthropic Admin Key",
        "is_active": true, "type": "specific", "category": "ai", "checkable": true,
        "frequency": 0.02, "use_with_validity_check_disabled": true, "scans_code_onl[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/secret_detectors?per_page=20&cursor=cD1hd3NfY29nbml0b19vYXV0aF9jcmVkZW50aWFscw%3D%3D
  response:
    body:
      string: '[{"name": "aws_cognito_oauth_credentials_with_host", "display_name":
        "AWS Cognito OAuth 2.0 Credentials with Host", "is_active": true, "type":
        "specific", "category": "identity_provider", "checkable": true, "frequency":
    [...]
