interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets/21460/members?per_page=10&access_level=owner
  response:
    body:
      string: '[{"id": 10, "member_id": 10, "role": "manager", "name": "User 2b03ad68",
        "email": "user-324427de@example.com", "incident_id": 21460, "incident_permission":
        "full_access"}, {"id": 13, "member_id": 13, "role": "manager", "name": "User
        d0d18d7e", "email": "user-71ab73d0@example.com", "incident_id": 21460, "incident_permission":
        "full_access"}, {"id": 2508, "member_id": 2508, "role": "manager", "name":
        "User 793501dc", "email": "user-d9f863cd@example.com", "incident_id": 21460,
        "incident_permission": "full_access"}, {"id": 37699, "member_id": 37699, "role":
        "manager", "name": "User 40f52996", "email": "u[...]
