interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/remediation-workflow
  response:
    body:
      string: '{"id": 6, "account_id": 8, "steps": [{"title": "Step 1. Investigate
        the incident.", "description": "Why did you hardcode this secret? Is it valid?
        What sensitive resources does it give access to?", "link": {"text": "Contact
        security", "url": "https://securityportal.company.com"}}, {"title": "Step
        2. Revoke the secret", "description": "Contact DevOps to revoke the secret.",
        "link": {"text": "Create a ticket for DevOps (internal portal)", "url": "https://docs.gitguardian.com"}},
        {"title": "Step 3. Rotate the secret.", "description": "Contact DevOps to
        rotate the key. Make sure other users of the service are aware of this operation.",
        "link": {"text": "Create a ticket for DevOps (internal portal)", "url": "https://docs.gitguardian.com"}},
        {"title": "Step 4. Re-deploy impacted services.", "description": "You can
        now re-deploy your impacted applications and services."}, {"title": "Step
        5. Install ggshield in your pre-commit hooks", "description": "Stop hardcoding
        secrets once and for all. Install **ggshield CLI** on your local workstation,
        please!", "link": {"text": "Read ggshield docs", "url": "https://docs.gitguardian.com/"}},
        {"title": "Title", "description": "Body", "link": {"text": "Learn More", "url":
        "{{revoke_documentation_link}}"}}], "created_at": "2022-12-15T09:58:14.315507Z",
        "updated_at": "2026-06-23T12:23:58.290253Z"}'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, HEAD, OPTIONS
      x-app-version:
      - v2.521.0
      x-secrets-engine-version:
      - 2.165.0
    status:
      code: 200
      message: OK
version: 1
