interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/sources?per_page=5
  response:
    body:
      string: '[{"id": 12338, "type": "github", "full_name": "wayne-enterprises-gg/shared-app",
        "health": "safe", "source_criticality": "low", "default_branch": "master",
        "default_branch_head": "a219c18ff8e913427c38fc7d90756d6bb1bb5b43", "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": {"date": "2025-10-09T16:45:43.352252Z",
        "status": "finished", "failing_reason": "", "commits_scanned": 544, "duration":
        "0.961627", "branches_scanned": 1, "progress": 100}, "monitored": true, "visibility":
        "public", "external_id": "218964926", "secret_incidents_breakdown": {"open_secret_incidents":
        {"total": 0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0,
        "low": 0, "info": 0, "unknown": 0}}, "closed_secret_incidents": {"total":
        0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0, "low": 0,
        "info": 0, "unknown": 0}}}, "url": "https://github.com/wayne-enterprises-gg/shared-app",
        "deleted": false}, {"id": 12356, "type": "github", "full_name": "wayne-enterprises-gg/with-readme-repo-gg",
        "health": "safe", "source_criticality": "medium", "default_branch": "master",
        "default_branch_head": "21ca725ac5028cf45975b49f7b48928f34f73117", "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": {"date": "2025-10-09T16:45:43.352734Z",
        "status": "finished", "failing_reason": "", "commits_scanned": 1, "duration":
        "3.265244", "branches_scanned"[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/sources?per_page=5&cursor=cD0xMjM3MA%3D%3D
  response:
    body:
      string: '[{"id": 12371, "type": "github", "full_name": "aymericGG/Project-Front",
        "health": "safe", "source_criticality": "high", "default_branch": "", "default_branch_head":
        null, "open_incidents_count": 0, "closed_incidents_count": 0, "last_scan":
        {"date": "2025-10[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/sources?per_page=5&cursor=cD05MTIzODgy
  response:
    body:
      string: '[{"id": 9124147, "type": "github", "full_name": "orga-083643/improved-carnival",
        "health": "safe", "source_criticality": "unknown", "default_branch": "main",
        "default_branch_head": "cdaa5dd8497a52a75702879823adc18141ad88b4", "open_incidents_count":
        0, "closed_in[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/sources?per_page=5&cursor=cD0xMTI2MDI1OA%3D%3D
  response:
    body:
      string: '[{"id": 11260259, "type": "github", "full_name": "gitjez/private_repo",
        "health": "safe", "source_criticality": "high", "default_branch": "main",
        "default_branch_head": "a8102e99d82504517c016fd20aa499209c65e41d", "open_incidents_count":
        0, "closed_incide[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/sources?per_page=5&cursor=cD0xMTM0ODc3Ng%3D%3D
  response:
    body:
      string: '[{"id": 11363204, "type": "github", "full_name": "amascia-gg/ftn-test-circleci",
        "health": "at_risk", "source_criticality": "unknown", "default_branch": "main",
        "default_branch_head": null, "open_incidents_count": 2, "closed_incidents_count":
        1, "last_sc[...]
