interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets?status=TRIGGERED&per_page=5
  response:
    body:
      string: '[{"id": 21467, "detector": {"name": "newrelic_apm_license_key", "display_name":
        "New Relic APM License Key", "nature": "specific", "family": "token", "detector_group_name":
        "newrelic_apm_license_key", "detector_group_display_name": "New Relic APM
        License Key"}, "date": "2020-10-26T14:19:40.469654Z", "secret_id": 70595,
        "secret_hash": "Rkk5oUrdwpPC4VEVfur6poyo2E+7l2kFI6xMeO7sOu2Pz052OuGBsJoc20xNYyU1",
        "hmsl_hash": "beec046bdad5b63f3fcae66e5b5925240bcb0ac0bf68661abb6ed1aaaa954b1c",
        "occurrences_count": 2, "status": "TRIGGERED", "triggered_at": "2021-02-11T14:23:22.947776Z",
        "ignored_at": null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at":
        null, "resolver_id": null, "resolver_api_token_id": null, "secret_revoked":
        false, "validity": "no_checker", "severity": "high", "assignee_id": null,
        "assignee_email": null, "share_url": null, "feedback_list": [], "ignore_reason":
        null, "occurrences": null, "secret_presence": {"files_requiring_code_fix":
        0, "files_pending_merge": 0, "files_fixed": 0, "outside_vcs": 0, "removed_outside_vcs":
        0, "in_vcs": 0, "removed_in_vcs": 2}, "regression": false, "gitguardian_url":
        "https://dashboard.gitguardian.com/workspace/8/incidents/21467", "tags": ["PUBLICLY_LEAKED",
        "PUBLIC", "PUBLICLY_EXPOSED"], "custom_tags": []}, {"id": 21469, "detector":
        {"name": "private_key_openssh", "display_name": "OpenSSH Private Key", "nature":
        "specific", "family": "cryptographic_key", "detector_group_name": "private_key_openssh",
        "detector_group_display_name": "OpenSSH Private Key"}, "date": "2020-10-25T23:19:57.381648Z",
        "secret_id": 70597, "secret_hash": "uXOeC9IsaE56xHpyEY+k5ZcR5PdQWRkDlBOWi/I2RwLVwrqVkTr0t/OLrv3FkQLP",
        "hmsl_hash": "cefa1de8f00a3047848849473b2397b231874aa183d4393[...]
