interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets?per_page=5&ordering=-date
  response:
    body:
      string: '[{"id": 26805049, "detector": {"name": "generic_high_entropy_secret",
        "display_name": "Generic High Entropy Secret", "nature": "generic", "family":
        "other", "detector_group_name": "generic_high_entropy_secret", "detector_group_display_name":
        "Generic High Entropy Secret"}, "date": "2026-02-04T12:40:14Z", "secret_id":
        27187353, "secret_hash": "WTaCT+UniPgL/yRBqvY08cAEfxZM20pDa9wMIFDtfg14lIkIp+KkPCNpyNbtXqJM",
        "hmsl_hash": "7540b6bde0415ab616f125e5bd200ed3f01f764ba8e151f87f9a4937ee562f3c",
        "occurrences_count": 1, "status": "TRIGGERED", "triggered_at": "2026-02-04T13:38:51.993879Z",
        "ignored_at": null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at":
        null, "resolver_id": null, "resolver_api_token_id": null, "secret_revoked":
        false, "validity": "no_checker", "severity": "unknown", "assignee_id": null,
        "assignee_email": null, "share_url": "[REDACTED]", "feedback_list": [], "risk_score":
        52, "is_vaulted": false, "ignore_reason": null, "occurrences": null, "secret_presence":
        {"files_requiring_code_fix": 0, "files_pending_merge": 0, "files_fixed": 0,
        "outside_vcs": 0, "removed_outside_vcs": 0, "in_vcs": 1, "removed_in_vcs":
        0}, "regression": false, "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/incidents/26805049",
        "tags": ["FROM_HISTORICAL_SCAN"], "incident_name": "Generic High Entropy Secret",
        "public_exposure": null, "destination_tickets": [{"id": "AEF-2271", "type":
        "jira_cloud", "link": "https://yanne-gg-integration.atlassian.net/browse/AEF-2271"}],
        "custom_tags": []}, {"id": 26805046, "detector": {"name": "googleaiza", "display_name":
        "Google API Key", "nature": "specific", "family": "token", "detector_group_name":
        "google_api_key", "detector_group_display_name": "Google API Key"}, "date":
        "2026-02-04T12:40:14Z", "secret_id": 27187350, "secret_hash": "CZJQmDNizaye6Se/yo5f/c+CUkxebkA24Agny/NaiDD4mt8CiwQ5Z8PP16EaJtIX",
        "hmsl_hash": "dcc935c76a8d25e57ad36cc4ffde8493cf71a0b42222904db8f774174922456a",
        "occurrences_coun[...]
