interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/audit_logs?per_page=5
  response:
    body:
      string: '[{"id": 16909424, "api_token_id": null, "member_id": 313030, "member_email":
        "loic.bruneau@gitguardian.com", "member_name": "Lo\u00efc Bruneau", "date":
        "2025-12-08T08:59:49.861698Z", "data": {"type": "saml_sso"}, "event_name":
        "user.logged_in", "action_type": "OTHER", "target_ids": ["312327"], "ip_address":
        "176.137.48.195"}, {"id": 16909359, "api_token_id": null, "member_id": 104916,
        "member_email": "wassim.hana@gitguardian.com", "member_name": "wassim hana",
        "date": "2025-12-08T08:56:59.606898Z", "data": {"type": "saml_sso"}, "event_name":
        "user.logged_in", "action_type": "OTHER", "target_ids": ["104742"], "ip_address":
        "80.119.30.122"}, {"id": 16908727, "api_token_id": null, "member_id": 715366,
        "member_email": "gabriel.cousin@gitguardian.com", "member_name": "Gabriel
        Cousin", "date": "2025-12-08T08:18:49.073908Z", "data": {"type": "saml_sso"},
        "event_name": "user.logged_in", "action_type": "OTHER", "target_ids": ["714235"],
        "ip_address": "35.83.131.170"}, {"id": 16882615, "api_token_id": null, "member_id":
        480870, "member_email": "timothe.delion@gitguardian.com", "member_name": "Timoth\u00e9
        Delion", "date": "2025-12-07T14:13:08.051459Z", "data": {"expire_at": null},
        "event_name": "personal_access_token.created", "action_type": "CREATE", "target_ids":
        ["8a262c6a-832d-49e5-8744-23c743ff25ac"], "ip_address": "35.161.89.114"},
        {"id": 16882428, "api_token_id": null, "member_id": 480870, "member_email":
        "timothe.delion@gitguardian.com", "member_name": "Timoth\u00e9 Delion", "date":
        "2025-12-07T13:56:38.780218Z", "data": {"name": "ggmcp CI", "expire_at": null},
        "event_name": "service_account.created", "action_type": "CREATE", "target_ids":
        ["e01a0bab-40de-43ca-9937-741e9ac8c472"], "ip_address": "35.161.89.114"}]'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
      link:
      - <https://api.gitguardian.com/v1/audit_logs?cursor=cD0xNjg4MjQyOA%3D%3D&per_page=5>;
        rel="next"
      x-app-version:
      - v2.348.0
      x-per-page:
      - '5'
      x-secrets-engine-version:
      - 2.152.1
    status:
      code: 200
      message: OK
version: 1
