interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/occurrences/secrets?presence=present&per_page=5
  response:
    body:
      string: '[{"id": 78286, "incident_id": 21508, "date": "2020-10-06T16:04:13.862586Z",
        "filepath": "perfume.rb", "kind": "realtime", "presence": "present", "matches":
        [{"name": "apikey", "indice_start": 43, "indice_end": 107, "pre_line_start":
        null, "pre_line_end": null, "post_line_start": 2, "post_line_end": 2}], "tags":
        [], "url": "https://ghe.dev.gitguardian.com/my-testing-org/armani_code/commit/21e85fff4c6df92b43b2b886613e271ac9f952fc#diff-dc5b406fd39db8f08f10d865c326035fecda819f4b375022b242dc2dbfc6dea7R2",
        "author_info": "noreply@ghe.dev.gitguardian.com", "author_name": "GitHub Enterprise",
        "sha": "21e85fff4c6df92b43b2b886613e271ac9f952fc", "change_type": "addition",
        "source": {"id": 12264, "type": "github", "full_name": "my-testing-org/armani_code",
        "health": "safe", "source_criticality": "unknown", "default_branch": null,
        "default_branch_head": null, "open_incidents_count": 0, "closed_incidents_count":
        1, "last_scan": {"date": "2020-06-04T09:06:33.833273Z", "status": "finished",
        "failing_reason": "", "commits_scanned": 2, "duration": "2.830578", "branches_scanned":
        1, "progress": 100}, "monitored": true, "visibility": "public", "external_id":
        "30", "secret_incidents_breakdown": {"open_secret_incidents": {"total": 0,
        "severity_breakdown": {"critical": 0, "high": 0, "medium": 0, "low": 0, "info":
        0, "unknown": 0}}, "closed_secret_incidents": {"total": 1, "severity_breakdown":
        {"critical": 0, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 1}}},
        "url": "https://ghe.dev.gitguardian.com/my-testing-org/armani_code", "deleted":
        true}}, {"id": 79389, "incident_id": 21985, "date": "2020-01-16T13:19:57Z",
        "filepath": "app.py", "kind": "historical", "presence": "present", "matches":
        [{"name": "apikey", "indice_start": 46, "indice_end": 93, "pre_line_start":
        3, "pre_line_end": 3, "post_line_start": null, "post_line_end": null}], "tags":
        ["PUBLICLY_EXPOSED", "DEFAULT_BRANCH", "FROM_HISTORICAL_SCAN", "PUBLIC"],
        "url": "https://github.com/wayne-enterprises-gg/business-app/commit[...]
