interactions:
  - request:
      body: ''
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&feedback=true
    response:
      body:
        string: '{"count": 12030, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?feedback=true&page=2&page_size=5",
        "previous": null, "results": [{"id": 23429983, "account": 8, "criterion":
        "AWS Keys", "date": "2025-12-16T17:22:08Z", "last_trigger_published_at": "2025-12-16T17:22:08Z",
        "last_triggered_at": "2025-12-16T18:22:25.117146Z", "last_trigger_detected_at":
        "2025-12-16T18:22:25.117146Z", "hash": "Bxk/2SaXQPI8yl7xAhB3l3Q9xdra8RHtG7PEK3Wc2BUYBzgKL4Qc71cZRqNcojMG",
        "policy": 1, "ignored": true, "ignored_at": "2025-12-16T18:22:25.122585Z",
        "ignore_reason": "invalid", "ignorer": 491414, "resolved": false, "resolved_at":
        null, "resolver": null, "regression": false, "manual_severity_setter": null,
        "policy_name": "ensure_no_secrets", "policy_display_name": "Secrets detection",
        "ignorer_display_name": "8@bot.gitguardian.com", "ignorer_type": "user", "resolver_display_name":
        "none", "resolver_type": "none", "manual_severity_setter_display_name": "none",
        "manual_severity_setter_type": "none", "status": "IGNORED", "issue_name":
        "AWS IAM Keys", "severity_rule_config": null, "declarative_secret_status":
        "invalid", "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "gg-tools@gitguardianengineering.onmicrosoft.com",
        "name": "gg-tools"}], "user_permission": 7, "is_publicly_shared": false, "feedbacks_count":
        0, "occurrences_presence_seen_count": 1, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 0, "sources":
        [{"name": "Alina''s site (document libraries) / Documents", "type": "sharepoint_online_drive",
        "path": "Alina''s site (document libraries) / Documents", "source_criticality":
        "unknown"}], "custom_tags": [], "vault_metadata": null, "similar_issue_count":
        0, "score": 7, "displayed_occurrence": {"id": 230344889, "issue": 23429983,
        "account": 8, "kind": "RLTM", "element": "{\"drive_id\": \"b!EFtsUNZdNkyikeU9z6xQzkUMGeBD9bdJo5M6BS3bW67zTZ14Z8npSqr01XpQaXIh\",
        \"parent_reference_path\": \"/drives/b!EFtsUNZdNkyikeU9z6xQzkUMGeBD9bdJo5M6BS3bW67zTZ14Z8npSqr01XpQaXIh/root:\",
        \"file_id\": \"01Y5MCAQY6HCFEWMVSWZCJJ2PCDHL3I2YO\"}", "element_type": "SHAREPOINT_ONEDRIVE_FILE",
        "author_name": "gg-tools", "author_info": "gg-tools@gitguardianengineering.onmicrosoft.com",
        "value": null, "value_hash": "iPtXjz0IchI3JPXhF9r8blhAWpYqtW42SnmwJ/Qm7urxC80Sii0L/QArnKtol4jI",
        "published_at": "2025-12-16T17:22:08Z", "date": "2025-12-16T17:22:08Z", "detected_at":
        "2025-12-16T18:15:30.167037Z", "is_vcs_type": false, "last_detected_at": "2025-12-16T17:22:08Z",
        "last_seen_at": "2025-12-16T17:22:08Z", "data": {}, "url": "https://gitguardianengineering.sharepoint.com/sites/Alina%27ssite/Shared%20Documents/small_with_secret.csv.gz",
        "source": {"id": 23920761, "url": "https://gitguardianengineering.sharepoint.com/sites/Alina%27ssite/Shared%20Documents",
        "type": "sharepoint_online_drive", "display_name": "Alina''s site (document
        libraries) / Documents", "visibility": "private", "monitored": true, "source_criticality":
        "unknown", "deleted_at": null, "default_branch": null}, "regression": false,
        "content": 112471538, "secrets_engine_version": "2.153.1", "matches": [{"name":
        "client_id", "string_matched": "[REDACTED]", "indice_start": 500,
        "indice_end": 520, "pre_line_start": null, "pre_line_end": null, "post_line_start":
        null, "post_line_end": null}, {"name": "client_secret", "string_matched": "[REDACTED]", "indice_start": 546, "indice_end":
        586, "pre_line_start": null, "pre_line_end": null, "post_line_start": null,
        "post_line_end": null}], "most_sensitive_match_name": "client_secret", "insights":
        [], "filepath": "small_with_secret.csv.gz", "filename": "small_with_secret.csv.gz",
        "presence": "visible", "last_presence_seen_at": "2025-12-16T18:22:25.147790Z",
        "last_presence_check_at": "2025-12-16T18:22:25.147790Z", "first_presence_deleted_at":
        null, "seen_in_default_branch": null, "change_type": null, "full_tags": []},
        "has_dropped_occurrences": false, "tags": [], "public_exposure": {"source_publicly_visible":
        false, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "occurrences_count": 1}, {"id": 23316251, "account": 8, "criterion": "Figma
        Personal Access Token", "date": "2025-12-11T10:20:33Z", "last_trigger_published_at":
        "2025-12-11T10:20:33Z", "last_triggered_at": "2025-12-12T13:42:33.638019Z",
        "last_trigger_detected_at": "2025-12-12T13:42:33.638019Z", "hash": "GE2F9myvPOY9d2s6Nfmk51d56pRf/vuWKlf6ibIMmsAAR5GdnkQX790L2ERUA9iz",
        "policy": 1, "ignored": true, "ignored_at": "2025-12-12T13:42:33.647628Z",
        "ignore_reason": "invalid", "igno[...]
