interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/sources?ordering=-last_scan_date&per_page=5
  response:
    body:
      string: '[{"id": 20874261, "type": "jira_cloud", "full_name": "gitjez / TEST",
        "health": "safe", "source_criticality": "unknown", "default_branch": null,
        "default_branch_head": null, "open_incidents_count": 0, "closed_incidents_count":
        0, "last_scan": null, "monitored": true, "visibility": "private", "external_id":
        "10014", "secret_incidents_breakdown": {"open_secret_incidents": {"total":
        0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0, "low": 0,
        "info": 0, "unknown": 0}}, "closed_secret_incidents": {"total": 0, "severity_breakdown":
        {"critical": 0, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}}},
        "url": "https://gitjez.atlassian.net/browse/TEST", "deleted": false}, {"id":
        19962418, "type": "sharepoint_online_drive", "full_name": "Nathan''s team
        (document libraries) / Documents", "health": "safe", "source_criticality":
        "unknown", "default_branch": null, "default_branch_head": null, "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": null, "monitored": false, "visibility":
        "private", "external_id": "b!XujY5Lq2Tk-0RUULONRiXHRt3TcaVmNArycNQ-90aC1lHPBM3hNpTpG-0WKDUAxt",
        "secret_incidents_[...]
