interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/sources?search=test&per_page=5
  response:
    body:
      string: '[{"id": 9123882, "type": "github", "full_name": "orga-083643/analytics-test",
        "health": "safe", "source_criticality": "unknown", "default_branch": "main",
        "default_branch_head": "f19d79466ce40e0bb69c9ee0ea08787ead9b5845", "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": {"date": "2025-10-09T16:45:43.352186Z",
        "status": "finished", "failing_reason": "", "commits_scanned": 7, "duration":
        "0.942938", "branches_scanned": 1, "progress": 100}, "monitored": true, "visibility":
        "private", "external_id": "630536182", "secret_incidents_breakdown": {"open_secret_incidents":
        {"total": 0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0,
        "low": 0, "info": 0, "unknown": 0}}, "closed_secret_incidents": {"total":
        0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0, "low": 0,
        "info": 0, "unknown": 0}}}, "url": "https://github.com/orga-083643/analytics-test",
        "deleted": false}, {"id": 11363204, "type": "github", "full_name": "amascia-gg/ftn-test-circleci",
        "health": "at_risk", "source_criticality": "unknown", "default_branch": "main",
        "default_branch_head": null, "open_incidents_count": 2, "closed_incidents_count":
        1, "last_scan": {"date": "2025-10-09T16:45:43.354963Z", "status": "finished",
        "failing_reason": "", "commits_scanned": 3121, "duration": "95.292729", "branches_scanned":
        2, "progress": 100}, "monitored": true,[...]
