interactions:
  - request:
      body: ''
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&severity__in=10%2C20
    response:
      body:
        string: '{"count": 5391, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?page=2&page_size=5&severity__in=10%2C20",
        "previous": null, "results": [{"id": 22515404, "account": 8, "criterion":
        "AWS Keys", "date": "2025-11-17T17:16:25Z", "last_trigger_published_at": "2025-11-17T17:16:25Z",
        "last_triggered_at": "2025-11-17T17:18:18.706440Z", "last_trigger_detected_at":
        "2025-11-17T17:18:18.706440Z", "hash": "6y4trbQi60aNmDEFQe0tJH3jke+8j18I9t2sKfgaunTYEUdZL4Qc71cZRqNcojMG",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null, "resolved": false, "resolved_at": null, "resolver": null,
        "regression": false, "manual_severity_setter": null, "policy_name": "ensure_no_secrets",
        "policy_display_name": "Secrets detection", "ignorer_display_name": "none",
        "ignorer_type": "none", "resolver_display_name": "none", "resolver_type":
        "none", "manual_severity_setter_display_name": "none", "manual_severity_setter_type":
        "none", "status": "TRIGGERED", "issue_name": "AWS IAM Keys", "severity_rule_config":
        {"id": 7263, "gg_created_at": "2025-03-18T08:57:54.146713Z", "gg_updated_at":
        "2025-03-18T08:57:54.146716Z", "index": 2, "severity": 10, "rule": {"id":
        503, "gg_created_at": "2025-03-18T08:57:54.142008Z", "gg_updated_at": "2025-04-02T13:15:43.307296Z",
        "name": "Valid secrets related to highly sensitive detectors", "description":
        "Secrets related to highly sensitive detectors were valid when the incident
        was discovered. You can edit this rule to create your own list of sensitive
        detectors", "json_rule": {"operator": "AND", "args": [{"operator": "EQ", "arg1":
        {"path": "issue.secret.validity_status", "default": null}, "arg2": {"value":
        "valid"}}, {"operator": "IN", "arg1": {"path": "issue.secret.detector.detector_group_name",
        "default": null}, "arg2": {"value": ["github_app_token", "ldap_credentials",
        "github_oauth_token", "googlecloud_keys", "jira_basic_auth", "python_package_index_key",
        "aws_iam_sts", "npm_token", "gitlab_token", "smtp_credentials", "github_fine_grained_pat",
        "gitlab_enterprise_token", "github_access_token", "aws_iam"]}}]}, "is_global":
        true, "scope": "any", "author": null}}, "declarative_secret_status": null,
        "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "gim+dev@gitguardian.com", "name": "dev"}],
        "user_permission": 7, "is_publicly_shared": false, "feedbacks_count": 0, "occurrences_presence_seen_count":
        1, "occurrences_presence_deleted_count": 0, "occurrences_presence_should_be_checked":
        null, "locations_count": 0, "sources": [{"name": "gim-qa-gitlabSandbox-auto
        / gim-qa-gitlabSandbox-staging", "type": "gl_project", "path": "gim-qa-gitlabsandbox-auto/gim-qa-gitlabsandbox-staging",
        "source_criticality": "unknown"}], "custom_tags": [], "vault_metadata": null,
        "similar_issue_count": 0, "score": 99, "displayed_occurrence": {"id": 226113779,
        "issue": 22515404, "account": 8, "kind": "RLTM", "element": "95c8ae28ae02f1182bfa5ae2f6cabb69fab3ece9",
        "element_type": "GIT_COMMIT", "author_name": "dev", "author_info": "gim+dev@gitguardian.com",
        "value": null, "value_hash": "yEDhOhQ6p7D5/7TcJR5YtztO3INO1WgqiWd2qPiA0XRele/bong1Td3XczdQcVM3",
        "published_at": "2025-11-17T17:16:25Z", "date": "2025-11-17T17:16:25Z", "detected_at":
        "2025-11-17T17:18:16.645938Z", "is_vcs_type": true, "last_detected_at": "2025-11-17T17:16:25Z",
        "last_seen_at": "2025-11-17T17:16:25Z", "data": {}, "url": "https://gitlab-01.aws-qa-gitguardian.com/gim-qa-gitlabsandbox-auto/gim-qa-gitlabsandbox-staging/commit/95c8ae28ae02f1182bfa5ae2f6cabb69fab3ece9#34c8dc1a12161a07003ebd2c3145185257f0cd94_0_3",
        "source": {"id": 16219056, "url": "https://gitlab-01.aws-qa-gitguardian.com/gim-qa-gitlabsandbox-auto/gim-qa-gitlabsandbox-staging",
        "type": "gl_project", "display_name": "gim-qa-gitlabSandbox-auto / gim-qa-gitlabSandbox-staging",
        "visibility": "private", "monitored": true, "source_criticality": "unknown",
        "deleted_at": null, "default_branch": "main"}, "regression": false, "content":
        105863010, "secrets_engine_version": "2.150.0", "matches": [{"name": "client_id",
        "string_matched": "[REDACTED]", "indice_start": 45, "indice_end":
        65, "pre_line_start": null, "pre_line_end": null, "post_line_start": 2, "post_line_end":
        2}, {"name": "client_secret", "string_matched": "[REDACTED]",
        "indice_start": 82, "indice_end": 122, "pre_line_start": null, "pre_line_end":
        null, "post_line_start": 3, "post_line_end": 3}], "most_sensitive_match_name":
        "client_secret", "insights": [], "filepath": "aws_api_access.yml", "filename":
        "aws_api_access.yml", "presence": "visible", "last_presence_seen_at": "2025-11-17T17:18:18.736250Z",
        "last_presence_check_at": "2025-11-17T17:18:18.736250Z", "first_presence_deleted_at":
        null, "seen_in_default_branch": false, "change_type": "addition", "full_tags":
        []}, "has_dropped_occurrences": false, "tags": [], "public_exposure": {"source_publicly_visible":
        false, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "occurrences_count": 1}, {"id": 22200735, "account": 8, "criterion": "Generic
        Password", "date": "2025-11-07T00:14:57Z", "last_trigger_published_at": "2025-11-07T00:14:57Z",
        "last_triggered_at": "2025-11-07T00:17:58.770080Z", "last_trigger_detected_at":
        "2025-11-07T00:17:58.770080Z", "hash": "+xjRpic3jSboy2X32jg/0dspgmSWI+A//30hlpVgdpuGkeylfma8ieOEhD7igl+v",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null, "resolved": false, "resolved[...]
