interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets?per_page=5&ordering=-date
  response:
    body:
      string: '[{"id": 22750829, "detector": {"name": "newrelic_api_key_prefixed",
        "display_name": "New Relic API Key", "nature": "specific", "family": "token",
        "detector_group_name": "newrelic_api_key", "detector_group_display_name":
        "New Relic API Key"}, "date": "2025-11-25T14:25:14.821969Z", "secret_id":
        22817942, "secret_hash": "KI8+EmTSgb/n635fWbO9w0n2bDePAta7MTwqIGtOSaPiAEM+y5YhXqALAd237nLX",
        "hmsl_hash": "89311a76737b1014d430eaea14e854db1a6dcad79d3b3f1e5121235f26994de6",
        "occurrences_count": 1, "status": "IGNORED", "triggered_at": "2025-11-25T14:25:15.477159Z",
        "ignored_at": "2025-11-25T14:25:15.488025Z", "ignorer_id": 492181, "ignorer_api_token_id":
        null, "resolved_at": null, "resolver_id": null, "resolver_api_token_id": null,
        "secret_revoked": false, "validity": "invalid", "severity": "unknown", "assignee_id":
        null, "assignee_email": null, "share_url": "[REDACTED]", "feedback_list":
        [], "ignore_reason": "invalid", "occurrences": null, "secret_presence": {"files_requiring_code_fix":
        0, "files_pending_merge": 0, "files_fixed": 0, "outside_vcs": 1, "removed_outside_vcs":
        0, "in_vcs": 0, "removed_in_vcs": 0}, "regression": false, "gitguardian_url":
        "https://dashboard.gitguardian.com/workspace/8/incidents/22750829", "tags":
        [], "custom_tags": []}, {"id": 22750802, "detector": {"name": "newrelic_api_key_prefixed",
        "display_name": "New Relic API Key", "nature": "specific", "family": "token",
        "detector_group_name": "newrelic_api_key", "detector_group_display_name":
        "New Relic API Key"}, "date": "2025-11-25T14:20:42.400162Z", "secret_id":
        22817906, "secret_hash": "Aa/Lx+Xui+Qwa8PmLGUXjK4YMnG1YmMPxJddY5KkdSG8AtXqy5YhXqALAd237nLX",
        "hmsl_hash": "7446de1755961b2ef642ed972e10befcd4ed61ff414fe066a5ff71[...]
