interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/sources?visibility=private&per_page=5
  response:
    body:
      string: '[{"id": 9123340, "type": "github", "full_name": "orga-083643/solid-octo",
        "health": "safe", "source_criticality": "unknown", "default_branch": "main",
        "default_branch_head": "1218ef7297f84f36297c0111ea88b54b9befd365", "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": {"date": "2025-10-09T16:45:43.351408Z",
        "status": "finished", "failing_reason": "", "commits_scanned": 7, "duration":
        "1.120819", "branches_scanned": 1, "progress": 100}, "monitored": true, "visibility":
        "private", "external_id": "630519649", "secret_incidents_breakdown": {"open_secret_incidents":
        {"total": 0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0,
        "low": 0, "info": 0, "unknown": 0}}, "closed_secret_incidents": {"total":
        0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0, "low": 0,
        "info": 0, "unknown": 0}}}, "url": "https://github.com/orga-083643/solid-octo",
        "deleted": false}, {"id": 9123810, "type": "github", "full_name": "orga-083643/ideal-journey",
        "health": "safe", "source_criticality": "unknown", "default_branch": "main",
        "default_branch_head": "ab24e2860796dff2a67c4915b1a6d745b13bdd76", "open_incidents_count":
        0, "closed_incidents_count": 1, "last_scan": {"date": "2025-10-09T16:45:43.354999Z",
        "status": "finished", "failing_reason": "", "commits_scanned": 3, "duration":
        "0.866616", "branches_scanned": 1, "progress[...]
