interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/audit_logs?per_page=10
  response:
    body:
      string: '[{"id": 18359274, "api_token_id": null, "member_id": 1050761, "member_email":
        "todd.cohen@gitguardian.com", "member_name": "Todd Cohen", "date": "2026-02-04T15:35:07.561215Z",
        "data": {"type": "saml_sso"}, "event_name": "user.logged_in", "action_type":
        "OTHER", "target_ids": ["1048624"], "ip_address": "63.133.236.187"}, {"id":
        18358924, "api_token_id": null, "member_id": 104916, "member_email": "wassim.hana@gitguardian.com",
        "member_name": "wassim hana", "date": "2026-02-04T15:22:32.660376Z", "data":
        null, "event_name": "secret_incident.viewed", "action_type": "READ", "target_ids":
        ["22407910"], "ip_address": "35.161.89.114"}, {"id": 18358793, "api_token_id":
        null, "member_id": 104916, "member_email": "wassim.hana@gitguardian.com",
        "member_name[...]
