interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/sources?per_page=1
  response:
    body:
      string: '[{"id": 12338, "type": "github", "full_name": "wayne-enterprises-gg/shared-app",
        "health": "safe", "source_criticality": "low", "default_branch": "master",
        "default_branch_head": "a219c18ff8e913427c38fc7d90756d6bb1bb5b43", "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": {"date": "2025-10-09T16:45:43.352252Z",
        "status": "finished", "failing_reason": "", "commits_scanned": 544, "duration":
        "0.961627", "branches_scanned": 1, "progress": 100}, "monitored": true, "visibility":
        "public", "external_id": "218964926", "secret_incidents_breakdown": {"open_secret_incidents":
        {"total": 0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0,
        "low": 0, "info": 0, "unknown": 0}}, "closed_secret_incidents": {"total":
        0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0, "low": 0,
        "info": 0, "unknown": 0}}}, "url": "https://github.com/wayne-enterprises-gg/shared-app",
        "deleted": false}]'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
      link:
      - <https://api.gitguardian.com/v1/sources?cursor=cD0xMjMzOA%3D%3D&per_page=1>;
        rel="next"
      x-app-version:
      - v2.348.0
      x-per-page:
      - '1'
      x-secrets-engine-version:
      - 2.152.1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/sources?search=wayne-enterprises-gg%2Fshared-app&per_page=50
  response:
    body:
      string: '[{"id": 12338, "type": "github", "full_name": "wayne-enterprises-gg/shared-app",
        "health": "safe", "source_criticality": "low", "default_branch": "master",
        "default_branch_head": "a219c18ff8e913427c38fc7d90756d6bb1bb5b43", "open_incidents_count":
 [...]
