interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/api_tokens
  response:
    body:
      string: '[{"id": "004bc4f5-7f44-427f-97e7-517e9292f82b", "name": "-", "type":
        "personal_access_token", "scopes": ["secrets:read"], "member_id": 1094434,
        "workspace_id": 8, "created_at": "2025-10-08T12:29:22.250242Z", "last_used_at":
        "2025-10-08T13:22:00Z", "expire_at": null, "revoked_at": "2025-10-08T13:23:04.839231Z",
        "status": "revoked", "creator_id": 1094434}, {"id": "005b13bd-56ed-4711-96c9-6a8665a1eabb",
        "name": "-", "type": "personal_access_token", "scopes": ["scan"], "member_id":
        582715, "workspace_id": 8, "created_at": "2025-03-05T19:59:44.171922Z", "last_used_at":
        "2025-03-06T14:33:00Z", "expire_at": "2025-03-12T19:59:44.167712Z", "revoked_at":
        "2025-03-07T07:33:29.036372Z", "status": "revoked", "creator_id": 582715},
        {"id": "005d38e5-95d3-4390-817c-fbe3bbf7eea2", "name": "ggshield demo stan",
 [...]
