interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/honeytokens?show_token=false&per_page=5
  response:
    body:
      string: '[{"id": "411d33c0-7fad-4fc1-b94e-bb440c8f9c49", "name": "ggshield-wv7vMain",
        "description": "description", "created_at": "2023-05-15T14:09:08.478482Z",
        "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/honeytokens/411d33c0-7fad-4fc1-b94e-bb440c8f9c49",
        "status": "revoked", "triggered_at": null, "revoked_at": "2023-05-16T09:34:11.250010Z",
        "type": "AWS", "open_events_count": 0, "creator_id": null, "revoker_id": null,
        "creator_api_token_id": null, "revoker_api_token_id": null, "tags": [], "labels":
        [{"id": "e29e158e-ef22-4055-9694-9711eea8ec48", "key": "place", "value": "ggshield"}],
        "custom_tags": [{"id": "e29e158e-ef22-4055-9694-9711eea8ec48", "key": "place",
        "value": "ggshield"}], "token": "[REDACTED]"}, {"id": "858a3a76-f6f2-4c2e-b0bc-323d9a575413",
        "name": "test_honey_token", "description": "description", "created_at": "2023-05-15T14:09:09.210845Z",
        "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/honeytokens/858a3a76-f6f2-4c2e-b0bc-323d9a575413",
        "status": "revoked", "triggered_at": null, "revoked_at": "2023-05-16T09:34:17.165934Z",
        "type": "AWS", "open_events_count": 0, "creator_id": null, "revoker_id": null,
        "creator_a[...]
