interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/api_tokens/self
  response:
    body:
      string: '{"id": "8a262c6a-832d-49e5-8744-23c743ff25ac", "name": "ggmcp CI",
        "type": "personal_access_token", "scopes": ["scan", "incidents:read", "members:read",
        "audit_logs:read", "teams:read", "honeytokens:read", "honeytokens:write",
        "api_tokens:read", "sources:read", "nhi:send-inventory", "nhi:write-vault",
        "custom_tags:read", "custom_tags:write", "secrets:read", "secrets:write",
        "scan:create-incidents", "public-perimeter:read"], "member_id": 480870, "workspace_id":
        8, "created_at": "2025-12-07T14:13:08.044416Z", "last_used_at": "2025-12-08T09:18:00Z",
        "expire_at": null, "revoked_at": null, "status": "active", "creator_id": 480870}'
    headers:
      allow:
      - GET, DELETE, HEAD, OPTIONS
      content-type:
      - application/json
      x-app-version:
      - v2.348.0
      x-secrets-engine-version:
      - 2.152.1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/members/480870
  response:
    body:
      string: '{"id": 480870, "role": "manager", "access_level": "manager", "email":
        "timothe.delion@gitguardian.com", "name": "Timoth\u00e9 Delion", "created_at":
        "2023-06-26T12:41:18.599497Z", "last_login": "2025-12-07T13:53:16.639748Z",
        "active": true}'
    headers:
      allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      content-type:
      - application/json
      x-app-version:
      - v2.348.0
      x-secrets-engine-version:
      - 2.152.1
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/members/480870/secret-incidents
  response:
    body:
      string: '[{"id": 21460, "detector": {"name": "aws_iam", "display_name": "AWS
        IAM Keys", "nature": "specific", "family": "credentials", "detector_group_name":
        "aws_iam", "detector_group_display_name": "AWS IAM Keys"}, "date": "2020-10-29T13:19:59.005564Z",
        "secret_id": 70588, "secret_hash": "GxuGpow75lYUqq/11F2BTrhvz5MRq7Lp4iegdts1tBbsUTpYL4Qc71cZRqNcojMG",
        "hmsl_hash": "786f2e4bbe2c1ca4c8d274306a4f598fd8403ec332c2a52e11c3eb2f473c08e7",
        "occurrences_count": 2, "status": "RESOLVED", "triggered_at": "2021-02-11T14:23:22.947577Z",
        "ignored_at": null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at":
        "2025-03-27T19:40:53.923165Z", "resolver_id": 492181, "resolver_api_token_id":
        null, "secret_revoked": true, "validity": "invalid", "severity": "high", "assignee_id":
        null, "assignee_email": "vincent.boyer@gitguardian.com", "share_url": null,
        "feedback_list": [{"created_at": "2022-07-20T13:22:52.756189Z", "updated_at":
        "2022-07-20T13:22:52.756207Z", "email": "stanislas.crepin@gitguardian.com",
        "member_id": null, "answers": [{"type": "boolean", "field_ref": "actual_secret_yes_no",
        "field_label": "Is this an actual secret?", "boolean": true}, {"type": "boolean",
        "field_ref": "access_to_sensitive_yes_no", "field_label": "Does this secret
        give or has given access to any sensitive information or services?", "boolean":
        true}, {"type": "boolean", "field_ref": "revoked_yes_no", "field_label": "Has
        this secret been revoked?", "boolean": false}, {"type": "text", "field_ref":
        "remarks_text", "field_label": "Additional remarks", "text": "Hasn''t been
        revoked yet because X"}]}], "ignore_reason": null, "occurrences": null, "secret_presence":
        {"files_requiring_code_fix": 0, "files_pending_merge": 0, "files_fixed": 0,
        "outside_vcs": 0, "removed_outside_vcs": 0, "in_vcs": 0, "removed_in_vcs":
        2}, "regression": false, "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/incidents/21460",
        "tags": ["PUBLICLY_EXPOSED", "PUBLIC"], "custom_tags": []}, {"id": 21461,
        "detector": {"name": "private_key_dsa", "display_name": "DSA Private Key",
        "nature": "specific", "family": "cryptographic_key", "detector_group_name":
        "private_key_dsa", "detector_group_display_name": "DSA Private Key"}, "date":
        "2020-10-29T09:19:54.249454Z", "secret_id": 70589, "secret_hash": "FNJbfEKG/ZXHjBfeEDa+45ryvtA8AC1egwR+QsSqIDlRVNh2Z/McHLTpLI6+WVL/",
        "hmsl_hash": "ae092263bbe1c8bbcc5e8e4dd785681b62e9d48226d66cb28f5d305fa5ef8e6[...]
