interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&ordering=-date&status__in=TRIGGERED%2CASSIGNED%2CRESOLVED&severity__in=10&validity__in=valid%2Cfailed_to_check%2Cno_checker%2Cnot_checked&tags__nin=TEST_FILE%2CFALSE_POSITIVE%2CCHECK_RUN_SKIP_FALSE_POSITIVE%2CCHECK_RUN_SKIP_LOW_RISK%2CCHECK_RUN_SKIP_TEST_CRED
  response:
    body:
      string: '{"count": 580, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?ordering=-date&page=2&page_size=5&severity__in=10&status__in=TRIGGERED%2CASSIGNED%2CRESOLVED&tags__nin=TEST_FILE%2CFALSE_POSITIVE%2CCHECK_RUN_SKIP_FALSE_POSITIVE%2CCHECK_RUN_SKIP_LOW_RISK%2CCHECK_RUN_SKIP_TEST_CRED&validity__in=valid%2Cfailed_to_check%2Cno_checker%2Cnot_checked",
        "previous": null, "results": [{"id": 26155836, "account": 8, "criterion":
        "Artifactory Token", "date": "2026-01-21T10:36:57.655878Z", "last_trigger_published_at":
        "2026-01-21T10:36:57.655878Z", "last_triggered_at": "2026-01-21T10:36:58.397779Z",
        "last_trigger_detected_at": "2026-01-21T10:36:58.397779Z", "hash": "sb5IGg6qhGHwZ7DbBySx1FRi53wnsGUfGCxJpN/LR7YhaCe/mfERIIoosvzjJs1k",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null, "resolved": false, "resolved_at": null, "resolver": null,
        "regression": false, "manual_severity_setter": null, "policy_name": "ensure_no_secrets",
        "policy_display_name": "Secrets detection", "ignorer_display_name": "none",
        "ignorer_type": "none", "resolver_display_name": "none", "resolver_type":
        "none", "manual_severity_setter_display_name": "none", "manual_severity_setter_type":
        "none", "status": "TRIGGERED", "issue_name": "Artifactory Token", "severity_rule_config":
        {"id": 7273, "gg_created_at": "2025-03-18T08:57:54.146813Z", "gg_updated_at":
        "2025-03-18T08:57:54.146816Z", "index": 12, "severity": 10, "rule": {"id":
        513, "gg_created_at": "2025-03-18T08:57:54.142453Z", "gg_updated_at": "2025-03-18T08:57:54.142456Z",
        "name": "Package manager related secret", "description": "The detector relates
        to a package manager", "json_rule": {"operator": "EQ", "arg1": {"path": "issue.secret.detector.metadata.category",
        "default": null}, "arg2": {"value": "package_registry"}}, "is_global": true,
        "scope": "private", "author": null}}, "declarative_secret_status": null, "assignee":
        null, "last_presence_check_at": null, "secret": "[REDACTED]", "severity":
        100, "authors": [{"info": "gg-tools@gitguardian.com", "name": "gg-tools"}],
        "user_permission": 7, "is_publicly_shared": true, "feedbacks_count": 0, "occurrences_presence_seen_count":
        1, "occurrences_presence_deleted_count": 0, "occurrences_presence_should_be_checked":
        null, "locations_count": 0, "sources": [{"name": "jira-data-center.do.gitguardian.dev
        / ChangingGCAM", "type": "jira_data_center_project", "path": "jira-data-center.do.gitguardian.dev
        / ChangingGCAM", "source_criticality": "unknown"}], "custom_tags": [], "vault_metadata":
        null, "is_vaulted": false, "similar_issue_count": 0, "score": 92, "displayed_occurrence":
        {"id": 238634588, "issue": 26155836, "account": 8, "kind": "RLTM", "element":
        "https://jira-data-center.do.gitguardian.dev/browse/GCAM-2?focusedCommentId=11020#comment-11020",
        "element_type": "JIRA_COMMENT", "author_name": "gg-tools", "author_info":
        "gg-tools@gitguardian.com", "value": null, "value_hash": "eQvUyYdyG+FGWUNR0idFck7aRQRzU9rBJuNONSFQNBc/68hbESiZedNRnCS6CqCj",
        "published_at": "2026-01-21T10:36:57.655878Z", "date": "2026-01-21T10:36:57.655878Z",
        "detected_at": "2026-01-21T10:36:55.769000Z", "is_vcs_type": false, "last_detected_at":
        "2026-01-21T10:47:47.663607Z", "last_seen_at": "2026-01-21T10:47:47.663607Z",
        "data": {}, "url": "https://jira-data-center.do.gitguardian.dev/browse/GCAM-2?focusedCommentId=11020#comment-11020",
        "source": {"id": 24381556, "url": "https://jira-data-center.do.gitguardian.dev/browse/GCAM/",
        "type": "jira_data_center_project", "display_name": "jira-data-center.do.gitguardian.dev
        / ChangingGCAM", "visibility": "private", "monitored": true, "source_criticality":
        "unknown", "deleted_at": null, "default_branch": null}, "regression": false,
        "content": 125057751, "secrets_engine_version": "2.155.2", "matches": [{"name":
        "apikey", "string_matched": "[REDACTED]", "indice_start": 925, "indice_end":
        998, "pre_line_start": null, "pre_line_end": null, "post_line_start": null,
        "post_line_end": null}], "most_sensitive_match_name": "apikey", "insights":
        [], "filepath": null, "filename": null, "presence": "visible", "last_presence_seen_at":
        "2026-01-21T10:47:48.180663Z", "last_presence_check_at": "2026-01-21T10:47:48.180663Z",
        "first_presence_deleted_at": null, "seen_in_default_branch": null, "change_type":
        null, "full_tags": []}, "has_dropped_occurrences": false, "tags": [], "public_exposure":
        {"source_publicly_visible": false, "public_incident_linked": false, "leaked_outside_perimeter":
        false}, "occurrences_count": 1}, {"id": 22515404, "account": 8, "criterion":
        "AWS Keys", "date": "2025-11-17T17:16:25Z", "last_trigger_published_at": "2025-11-17T17:16:25Z",
        "last_triggered_at": "2025-11-17T17:18:18.706440Z", "last_trigger_detected_at":
        "2025-11-17T17:18:18.706440Z", "hash": "6y4trbQi60aNmDEFQe0tJH3jke+8j18I9t2sKfgaunTYEUdZL4Qc71cZRqNcojMG",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null, "resolved": false, "resolved_at": nu[...]
