interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/sources?ordering=-last_scan_date&per_page=5
  response:
    body:
      string: '[{"id": 19962505, "type": "sharepoint_online_pages", "full_name": "GITGUARDIAN
        SAS / GITGUARDIAN SAS (pages)", "health": "safe", "source_criticality": "unknown",
        "default_branch": null, "default_branch_head": null, "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": null, "monitored": false, "visibility":
        "private", "external_id": "gitguardianengineering.sharepoint.com,3c9d2add-7c12-4ee6-bb75-5ae8baeb6844,6bf9420c-122e-4d4f-bfc5-003e45909b9b:pages",
        "secret_incidents_breakdown": {"open_secret_incidents": {"total": 0, "severity_breakdown":
        {"critical": 0, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}},
        "closed_secret_incidents": {"total": 0, "severity_breakdown": {"critical":
        0, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}}}, "url": "https://gitguardianengineering.sharepoint.com/sites/GITGUARDIANSAS",
        "deleted": false}, {"id": 19962410, "type": "sharepoint_online_drive", "full_name":
        "jGRI Sandbox (document libraries) / Documents", "health": "safe", "source_criticality":
        "unknown", "default_branch": null, "default_branch_head": null, "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": null, "monitored": false, "visibility":
        "private", "external_id": "b!coazU_5qSUqu1lmfms37XoYe8E_tzAJHodc6cVXWWjJMQuHLotqTSpE3cyfpgML1",
        "secret_incidents_breakdown"[...]
