interactions:
  - request:
      body: ''
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&status__in=TRIGGERED
    response:
      body:
        string: '{"count": 6347, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?page=2&page_size=5&status__in=TRIGGERED",
        "previous": null, "results": [{"id": 23269670, "account": 8, "criterion":
        "GitLab Token", "date": "2025-12-10T14:38:28.217609Z", "last_trigger_published_at":
        "2025-12-10T14:38:28.217609Z", "last_triggered_at": "2025-12-10T14:38:29.390284Z",
        "last_trigger_detected_at": "2025-12-10T14:38:29.390284Z", "hash": "KNAE5siw67Skh/ifX6FharHUI6Rqo6bpLVj8U5zGbWjm5bIdxGkRAPRx8mJAAtol",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null, "resolved": false, "resolved_at": null, "resolver": null,
        "regression": false, "manual_severity_setter": null, "policy_name": "ensure_no_secrets",
        "policy_display_name": "Secrets detection", "ignorer_display_name": "none",
        "ignorer_type": "none", "resolver_display_name": "none", "resolver_type":
        "none", "manual_severity_setter_display_name": "none", "manual_severity_setter_type":
        "none", "status": "TRIGGERED", "issue_name": "GitLab Token", "severity_rule_config":
        null, "declarative_secret_status": null, "assignee": null, "last_presence_check_at":
        null, "secret": "[REDACTED]", "severity": 100, "authors": [{"info": "gg-tools@gitguardian.com",
        "name": "gg-tools"}], "user_permission": 7, "is_publicly_shared": true, "feedbacks_count":
        0, "occurrences_presence_seen_count": 1, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 0, "sources":
        [{"name": "jira-data-center.do.gitguardian.dev / ChangingGCAM", "type": "jira_data_center_project",
        "path": "jira-data-center.do.gitguardian.dev / ChangingGCAM", "source_criticality":
        "unknown"}], "custom_tags": [], "vault_metadata": null, "similar_issue_count":
        0, "score": 7, "displayed_occurrence": {"id": 229467020, "issue": 23269670,
        "account": 8, "kind": "RLTM", "element": "https://jira-data-center.do.gitguardian.dev/browse/GCAM-2?focusedCommentId=11016#comment-11016",
        "element_type": "JIRA_COMMENT", "author_name": "gg-tools", "author_info":
        "gg-tools@gitguardian.com", "value": null, "value_hash": "bwxHdDPWyvwAh/ZlacCfmYXASrPypcoqQjKW3SURp3+McYjzn8pCwI0GDWMlrwjy",
        "published_at": "2025-12-10T14:38:28.217609Z", "date": "2025-12-10T14:38:28.217609Z",
        "detected_at": "2025-12-10T14:38:26.847000Z", "is_vcs_type": false, "last_detected_at":
        "2025-12-10T14:38:30.918114Z", "last_seen_at": "2025-12-10T14:38:30.918114Z",
        "data": {}, "url": "https://jira-data-center.do.gitguardian.dev/browse/GCAM-2?focusedCommentId=11016#comment-11016",
        "source": {"id": 24381556, "url": "https://jira-data-center.do.gitguardian.dev/browse/GCAM/",
        "type": "jira_data_center_project", "display_name": "jira-data-center.do.gitguardian.dev
        / ChangingGCAM", "visibility": "private", "monitored": true, "source_criticality":
        "unknown", "deleted_at": null, "default_branch": null}, "regression": false,
        "content": 110912451, "secrets_engine_version": "2.152.1", "matches": [{"name":
        "apikey", "string_matched": "[REDACTED]",
        "indice_start": 857, "indice_end": 914, "pre_line_start": null, "pre_line_end":
        null, "post_line_start": null, "post_line_end": null}], "most_sensitive_match_name":
        "apikey", "insights": [], "filepath": null, "filename": null, "presence":
        "visible", "last_presence_seen_at": "2025-12-10T14:38:31.268444Z", "last_presence_check_at":
        "2025-12-10T14:38:31.268444Z", "first_presence_deleted_at": null, "seen_in_default_branch":
        null, "change_type": null, "full_tags": []}, "has_dropped_occurrences": false,
        "tags": ["REVOCABLE_BY_GG"], "public_exposure": {"source_publicly_visible":
        false, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "occurrences_count": 1}, {"id": 23269327, "account": 8, "criterion": "GitLab
        Token", "date": "2025-12-10T14:19:09.551197Z", "last_trigger_published_at":
        "2025-12-10T14:19:09.551197Z", "last_triggered_at": "2025-12-10T14:19:10.639669Z",
        "last_trigger_detected_at": "2025-12-10T14:19:10.639669Z", "hash": "gP6S8nfO7keg7t8MtZ8gJMJ3O6xebhyKTL/TG7LIUP7guMdDxGkRAPRx8mJAAtol",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null, "resolved": false,[...]
