interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/api_tokens/self
  response:
    body:
      string: '{"id": "8a262c6a-832d-49e5-8744-23c743ff25ac", "name": "ggmcp CI",
        "type": "personal_access_token", "scopes": ["scan", "incidents:read", "members:read",
        "audit_logs:read", "teams:read", "honeytokens:read", "honeytokens:write",
        "api_tokens:read", "sources:read", "nhi:send-inventory", "nhi:write-vault",
        "custom_tags:read", "custom_tags:write", "secrets:read", "secrets:write",
        "scan:create-incidents", "public-perimeter:read"], "member_id": 480870, "workspace_id":
        8, "created_at": "2025-12-07T14:13:08.044416Z", "last_used_at": "2026-02-04T15:38:00Z",
        "expire_at": null, "revoked_at": null, "status": "active", "creator_id": 480870}'
    headers:
      allow:
      - GET, DELETE, HEAD, OPTIONS
      content-type:
      - application/json
      x-app-version:
      - v2.384.0
      x-secrets-engine-version:
      - 2.155.4
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/members/480870
  response:
    body:
      string: '{"id": 480870, "role": "manager", "access_level": "manager", "email":
        "timothe.delion@gitguardian.com", "name": "Timoth\u00e9 Delion", "created_at":
        "2023-06-26T12:41:18.599497Z", "last_login": "2026-02-02T11:35:58.339554Z",
        "active": true}'
    headers:
      allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      content-type:
      - application/json
      x-app-version:
      - v2.384.0
      x-secrets-engine-version:
      - 2.155.4
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/members/480870
  response:
    body:
      string: '{"id": 480870, "role": "manager", "access_level": "manager", "email":
        "timothe.delion@gitguardian.com", "name": "Timoth\u00e9 Delion", "created_at":
        "2023-06-26T12:41:18.599497Z", "last_login": "2026-02-02T11:35:58.339554Z",
        "active": true}'
    headers:
      allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      content-type:
      - application/json
      x-app-version:
      - v2.384.0
      x-secrets-engine-version:
      - 2.155.4
    status:
      code: 200
      message: OK
version: 1
