interactions:
  - request:
      body: ''
      headers:
        Content-Type:
          - application/json
      method: GET
      uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&secret_manager_type__in=hashicorpvault%2Cawssecretsmanager
    response:
      body:
        string: '{"count": 4, "page": 1, "next": null, "previous": null, "results":
        [{"id": 15597635, "account": 8, "criterion": "Telegram Bot Token", "date":
        "2025-02-13T10:27:09.472000Z", "last_trigger_published_at": "2025-02-13T10:27:09.472000Z",
        "last_triggered_at": "2025-02-13T10:27:13.796317Z", "last_trigger_detected_at":
        "2025-02-13T10:27:13.796317Z", "hash": "tW7lOEE8+EwMT1msVQtmDjFAu7Y/1CIUXyKN5MZzEFL/4BbtZF+rvnjKWrs7CFFg",
        "policy": 1, "ignored": true, "ignored_at": "2025-07-28T09:27:26.533451Z",
        "ignore_reason": "invalid", "ignorer": 491414, "resolved": false, "resolved_at":
        null, "resolver": null, "regression": false, "manual_severity_setter": null,
        "policy_name": "ensure_no_secrets", "policy_display_name": "Secrets detection",
        "ignorer_display_name": "8@bot.gitguardian.com", "ignorer_type": "user", "resolver_display_name":
        "none", "resolver_type": "none", "manual_severity_setter_display_name": "none",
        "manual_severity_setter_type": "none", "status": "IGNORED", "issue_name":
        "Telegram Bot Token", "severity_rule_config": null, "declarative_secret_status":
        "invalid", "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "gg-tools@gitguardianengineering.onmicrosoft.com",
        "name": "gg-tools"}], "user_permission": 7, "is_publicly_shared": false, "feedbacks_count":
        0, "occurrences_presence_seen_count": 1, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 0, "sources":
        [{"name": "GitGuardian Engineering / Public Team / Standard Channel", "type":
        "microsoft_teams_channel", "path": "GitGuardian Engineering / Public Team
        / Standard Channel", "source_criticality": "unknown"}], "custom_tags": [],
        "vault_metadata": [{"source": "awssecretsmanager"}], "similar_issue_count":
        0, "score": 0, "displayed_occurrence": {"id": 178067536, "issue": 15597635,
        "account": 8, "kind": "RLTM", "element": "https://teams.microsoft.com/l/message/19%3A82edfae183b045c88f990d9289ae3194%40thread.tacv2/1739442429472?groupId=fd16d0e5-2f1a-4c28-88f0-1276c842d319&tenantId=1eb62cd2-9303-4be2-8187-2404c20ba039&createdTime=1739442429472&parentMessageId=1739441877232",
        "element_type": "MICROSOFT_TEAMS_MESSAGE", "author_name": "gg-tools", "author_info":
        "gg-tools@gitguardianengineering.onmicrosoft.com", "value": null, "value_hash":
        "HMunI39H2AEXZaBL1SgfEVmUtphKkZ194YwARbTI1BmHgpkx5+fp+uq9hDz0rWk6", "published_at":
        "2025-02-13T10:27:09.472000Z", "date": "2025-02-13T10:27:09.472000Z", "detected_at":
        "2025-02-13T10:27:09.472000Z", "is_vcs_type": false, "last_detected_at": "2025-02-13T10:27:09.472000Z",
        "last_seen_at": "2025-02-13T10:27:09.472000Z", "data": {}, "url": "https://teams.microsoft.com/l/message/19%3A82edfae183b045c88f990d9289ae3194%40thread.tacv2/1739442429472?groupId=fd16d0e5-2f1a-4c28-88f0-1276c842d319&tenantId=1eb62cd2-9303-4be2-8187-2404c20ba039&createdTime=1739442429472&parentMessageId=1739441877232",
        "source": {"id": 17532856, "url": "https://teams.microsoft.com/l/channel/19:82edfae183b045c88f990d9289ae3194@thread.tacv2/Standard
        Channel?groupId=fd16d0e5-2f1a-4c28-88f0-1276c842d319&tenantId=1eb62cd2-9303-4be2-8187-2404c20ba039",
        "type": "microsoft_teams_channel", "display_name": "GitGuardian Engineering
        / Public Team / Standard Channel", "visibility": "public", "monitored": true,
        "source_criticality": "unknown", "deleted_at": null, "default_branch": null},
        "regression": false, "content": 50897298, "secrets_engine_version": "2.131.0",
        "matches": [{"name": "apikey", "string_matched": "[REDACTED]",
        "indice_start": 0, "indice_end": 46, "pre_line_start": null, "pre_line_end":
        null, "post_line_start": null, "post_line_end": null}], "most_sensitive_match_name":
        "apikey", "insights": [], "filepath": null, "filename": null, "presence":
        "visible", "last_presence_seen_at": "2025-12-20T22:41:44.782060Z", "last_presence_check_at":
        "2025-12-20T22:41:44.782060Z", "first_presence_deleted_at": null, "seen_in_default_branch":
        null, "change_type": null, "full_tags": []}, "has_dropped_occurrences": false,
        "tags": [], "public_exposure": {"source_publicly_visible": false, "public_incident_linked":
        false, "leaked_outside_perimeter": false}, "occurrences_count": 1}, {"id":
        15154672, "account": 8, "criterion": "GitLab OAuth Application Token", "date":
        "2025-01-13T09:55:09Z", "last_trigger_published_at": "2025-01-13T09:55:09Z",
        "last_triggered_at": "2025-01-13T09:59:52.011211Z", "last_trigger_detected_at":
        "2025-01-13T09:59:52.011211Z", "hash": "4g5/yEr5XshVtZHKqFi1E9yX6MX4TpW8xvREMb0ijkeY9HRiDKw0Wt0HegDxFpeb",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null, "resolved": false, "resolved_at": null, "resolver": null,
        "regression": false, "manual_severity_setter": null, "policy_name": "ensure_no_secrets",
        "policy_display_name": "Secrets detection", "ignorer_display_name": "none",
        "ignorer_type": "none", "resolver_display_name": "none", "resolver_type":
        "none", "manual_severity_setter_display_name": "none", "manual_severity_setter_type":
        "none", "status": "TRIGGERED", "issue_name": "GitLab OAuth Application Token",
        "severity_rule_config": {"id": 10289, "gg_created_at": "2025-11-05T13:08:54.487518Z",
        "gg_updated_at": "2025-11-05T13:08:54.487521Z", "index": 160, "severity":
        20, "rule": {"id": 574, "gg_created_at": "2025-06-13T16:15:20.466677Z", "gg_updated_at":
        "2025-06-13T16:15:20.466692Z", "name": "VCS Creds", "description": null, "json_rule":
        {"operator": "AND", "args": [{"operator": "EQ", "arg1": {"path": "issue.secret.detector.metadata.category",
        "default": null}, "arg2": {"value": "version_control_platform"}}, {"operator":
        "NOT", "arg1": {"operator": "EQ", "arg1": {"path": "issue.secret.validity_status",
        "default": null}, "arg2": {"value": "invalid"}}}]}, "is_global": false, "scope":
        "private", "author": 520858}}, "declarative_secret_status": "active", "assignee":
        null, "last_presence_check_at": null, "secret": "[REDACTED]", "severity":
        100, "authors": [{"info": "jonathan.griffe@gitguardian.com", "name": "Jonathan
        Griffe"}], "user_permission": 7, "is_publicly_shared": false, "feedbacks_count":
        1, "occurrences_presence_seen_count": 1, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 0, "sources":
 [...]
