interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/honeytokens?search=test&show_token=false&per_page=5
  response:
    body:
      string: '[{"id": "858a3a76-f6f2-4c2e-b0bc-323d9a575413", "name": "test_honey_token",
        "description": "description", "created_at": "2023-05-15T14:09:09.210845Z",
        "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/honeytokens/858a3a76-f6f2-4c2e-b0bc-323d9a575413",
        "status": "revoked", "triggered_at": null, "revoked_at": "2023-05-16T09:34:17.165934Z",
        "type": "AWS", "open_events_count": 0, "creator_id": null, "revoker_id": null,
        "creator_api_token_id": null, "revoker_api_token_id": null, "tags": [], "labels":
        [{"id": "e29e158e-ef22-4055-9694-9711eea8ec48", "key": "place", "value": "ggshield"}],
        "custom_tags": [{"id": "e29e158e-ef22-4055-9694-9711eea8ec48", "key": "place",
        "value": "ggshield"}], "token": "[REDACTED]"}, {"id": "ef11a80c-6d8e-4fb5-8ee2-4556bae695c3",
        "name": "test ht public", "description": "", "created_at": "2023-05-17T17:00:24.966335Z",
        "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/honeytokens/ef11a80c-6d8e-4fb5-8ee2-4556bae695c3",
        "status": "triggered", "triggered_at": "2023-05-17T17:02:33.386529Z", "revoked_at":
        null, "type": "AWS", "open_events_count": 5012, "creator_id": 166199, "revoker_id":
        null, "creator_api_tok[...]
