interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&source_criticality__in=critical%2Chigh
  response:
    body:
      string: '{"count": 564, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?page=2&page_size=5&source_criticality__in=critical%2Chigh",
        "previous": null, "results": [{"id": 21898354, "account": 8, "criterion":
        "OpenAI Project API Key v2", "date": "2025-10-27T08:36:14Z", "last_trigger_published_at":
        "2025-10-27T08:36:14Z", "last_triggered_at": "2025-10-27T08:36:28.692404Z",
        "last_trigger_detected_at": "2025-10-27T08:36:28.692404Z", "hash": "eV2SVjmFm0aCHMBQo1Ix9sNPUz+FCsEU+hoLUUI/XO4Qlo3mQvtp9WTZ/kMbY8Dv",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null, "resolved": true, "resolved_at": "2025-10-27T09:11:16.295187Z",
        "resolver": 491414, "regression": false, "manual_severity_setter": null, "policy_name":
        "ensure_no_secrets", "policy_display_name": "Secrets detection", "ignorer_display_name":
        "none", "ignorer_type": "none", "resolver_display_name": "8@bot.gitguardian.com",
        "resolver_type": "user", "manual_severity_setter_display_name": "none", "manual_severity_setter_type":
        "none", "status": "RESOLVED", "issue_name": "OpenAI Project API Key v2", "severity_rule_config":
        {"id": 9832, "gg_created_at": "2025-10-13T07:17:04.872264Z", "gg_updated_at":
        "2025-10-13T07:17:04.872266Z", "index": 170, "severity": 20, "rule": {"id":
        1, "gg_created_at": "2022-11-28T14:48:37.272319Z", "gg_updated_at": "2022-11-28T14:48:37.272332Z",
        "name": "Valid secret", "description": "The secrets were valid when the incident
        was discovered", "json_rule": {"operator": "EQ", "arg1": {"path": "issue.secret.validity_status",
        "default": null}, "arg2": {"value": "valid"}}, "is_global": true, "scope":
        "private", "author": 119518}}, "declarative_secret_status": "revoked", "assignee":
        null, "last_presence_check_at": null, "secret": "[REDACTED]", "severity":
        100, "authors": [{"info": "pierre.lalanne@gitguardian.com", "name": "Pierre
        Lalanne"}], "user_permission": 7, "is_publicly_shared": false, "feedbacks_count":
        0, "occurrences_presence_seen_count": 1, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 1, "sources":
        [{"name": "pierrelalanne/test_repo", "type": "gh_repository", "path": "pierrelalanne/test_repo",
        "source_criticality": "critical"}], "custom_tags": [], "vault_metadata": null,
        "is_vaulted": false, "similar_issue_count": 0, "score": 68, "displayed_occurrence":
        {"id": 222897202, "issue": 21898354, "account": 8, "kind": "RLTM", "element":
        "2f64439b954159030a743bd6cba1f09c68c78892", "element_type": "GIT_COMMIT",
        "author_name": "Pierre Lalanne", "author_info": "pierre.lalanne@gitguardian.com",
        "value": null, "value_hash": "TSNePghDjVdzM9TUpPkpmfsFuHs2+mQKRGw/SUEp/MomFh2KEqAS8JpAuXnz5rBz",
        "published_at": "2025-10-27T08:36:14Z", "date": "2025-10-27T08:36:14Z", "detected_at":
        "2025-10-27T08:36:24.106237Z", "is_vcs_type": true, "last_detected_at": "2025-10-27T08:36:14Z",
        "last_seen_at": "2025-10-27T08:36:14Z", "data": {}, "url": "https://github.com/pierrelalanne/test_repo/commit/2f64439b954159030a743bd6cba1f09c68c78892#diff-25541648145d3e401765df599038b993ce7692e9b97a137e8f6597d046110ef5R3",
        "source": {"id": 17188087, "url": "https://github.com/pierrelalanne/test_repo",
        "type": "gh_repository", "display_name": "pierrelalanne/test_repo", "visibility":
        "private", "monitored": true, "source_criticality": "critical", "deleted_at":
        null, "default_branch": "main"}, "regression": false, "content": 101119659,
        "secrets_engine_version": "2.149.1", "matches": [{"name": "apikey", "string_matched":
        "[REDACTED]", "indice_start": 65, "indice_end": 229, "pre_line_start": null,
        "pre_line_end": null, "post_line_start": 3, "post_line_end": 3}], "most_sensitive_match_name":
        "apikey", "insights": [], "filepath": "severity_score.py", "filename": "severity_score.py",
        "presence": "visible", "last_presence_seen_at": "2025-10-27T08:36:28.720974Z",
        "last_presence_check_at": "2025-10-27T08:36:28.720974Z", "first_presence_deleted_at":
        null, "seen_in_default_branch": true, "change_type": "addition", "full_tags":
        [{"type": "DEFAULT_BRANCH", "metadata": null}]}, "has_dropped_occurrences":
        false, "tags": ["DEFAULT_BRANCH", "REVOCABLE_BY_GG"], "public_exposure": {"source_publicly_visible":
        false, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "occurrences_count": 1}, {"id": 21638889, "account": 8, "criterion": "Grafana
        Token", "date": "2025-10-16T07:58:02Z", "last_trigger_published_at": "2025-10-16T07:58:02Z",
        "last_triggered_at": "2025-10-16T07:58:06.991871Z", "last_trigger_detected_at":
        "2025-10-16T07:58:06.991871Z", "hash": "r30WXWvOCURlJnfzTPDJpBQ/uJ6S+CdbSYo6VT3RsIK/OiU35KpHLFZiko88q52i",
        "policy": 1, "ignored": true, "ignored_at": "2025-10-18T20:12:39.568110Z",
        "ignore_reason": "", "ignorer": 614347, "resolv[...]
