interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets?per_page=5&ordering=-date
  response:
    body:
      string: '[{"id": 29487335, "detector": {"name": "stripe_webhook_secret", "display_name":
        "Stripe Webhook Secret", "nature": "specific", "family": "token", "detector_group_name":
        "stripe_webhook_secret", "detector_group_display_name": "Stripe Webhook Secret"},
        "date": "2026-04-02T16:22:33.518000Z", "secret_id": 30393936, "secret_hash":
        "JquJu98wTd0k40t3UsNgP22P+ywFCrsGM1VDRg3oZBdGXhRWbjOMbKAG+JtXZUOK", "hmsl_hash":
        "2ff36381d6ac8340ab574aee45e128e5f6b983ec78fe761ccc88da5e4a0f8698", "occurrences_count":
        1, "status": "TRIGGERED", "triggered_at": "2026-04-02T16:22:34.233032Z", "ignored_at":
        null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at": null,
        "resolver_id": null, "resolver_api_token_id": null, "secret_revoked": false,
        "validity": "no_checker", "severity": "unknown", "assignee_id": null, "assignee_email":
        null, "share_url": "[REDACTED]", "feedback_list": [], "risk_score": 62, "is_vaulted":
        false, "ignore_reason": null, "occurrences": null, "secret_presence": {"files_requiring_code_fix":
        0, "files_pending_merge": 0, "files_fixed": 0, "outside_vcs": 1, "removed_outside_vcs":
        0, "in_vcs": 0, "removed_in_vcs": 0}, "regression": false, "gitguardian_url":
        "https://dashboard.gitguardian.com/workspace/8/incidents/29487335", "tags":
        [], "incident_name": "Stripe Webhook Secret", "public_exposure": {"source_publicly_visible":
        false, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "destination_tickets": [{"id": "AEF-2330", "type": "jira_cloud", "link": "https://yanne-gg-integration.atlassian.net/browse/AEF-2330"}],
        "custom_tags": []}, {"id": 29487333, "detector": {"name": "slackbototken",
        "display_name": "Slack Bot Token", "nature": "specific", "family": "token",
        "detector_group_name": "slackbot_token", "detector_group_display_name": "Slack
        Bot Token"}, "date": "2026-04-02T16:22:26.591000Z", "secret_id": 30393934,
        "secret_hash": "UeONCI+H/I19fHV7Ge45VQxOI0/YUY6CYZu9psQ6W53s6W+UOMgPzYhV28m6OGG4",
        "hmsl_hash": "ddfd57b5fd9d223785d498b53bc03e096771b6fa3a9b747fea5a065c1f5204a1",
     [...]
