interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=10&ordering=-score&score__ge=50
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?ordering=-score&page=2&page_size=10&score__ge=50",
        "previous": null, "results": [{"id": 21460, "account": 8, "criterion": "AWS
        Keys", "date": "2020-10-29T13:19:59.005564Z", "last_trigger_published_at":
        "2020-10-29T13:19:59.005564Z", "last_triggered_at": "2021-02-11T14:23:22.947577Z",
        "last_trigger_detected_at": "2021-02-11T14:23:22.947577Z", "hash": "GxuGpow75lYUqq/11F2BTrhvz5MRq7Lp4iegdts1tBbsUTpYL4Qc71cZRqNcojMG",
        "policy": 1, "ignored": true, "ignored_at": "2026-01-26T14:36:19.333114Z",
        "ignore_reason": "invalid", "ignorer": 491414, "resolved": false, "resolved_at":
        null, "resolver": null, "regression": false, "manual_severity_setter": 614347,
        "policy_name": "ensure_no_secrets", "policy_display_name": "Secrets detection",
        "ignorer_display_name": "8@bot.gitguardian.com", "ignorer_type": "user", "resolver_display_name":
        "none", "resolver_type": "none", "manual_severity_setter_display_name": "romain.jouhannet@gitguardian.com",
        "manual_severity_setter_type": "user", "status": "IGNORED", "issue_name":
        "AWS IAM Keys", "severity_rule_config": {"id": 28, "gg_created_at": "2023-02-07T13:53:07.394202Z",
        "gg_updated_at": "2023-02-07T13:53:07.394210Z", "index": 200, "severity":
        20, "rule": {"id": 7, "gg_created_at": "2022-11-28T14:51:21.662136Z", "gg_updated_at":
        "2023-01-26T08:30:27.365959Z", "name": "Cloud providers secrets", "description":
        "Detector is linked to cloud providers", "json_rule": {"operator": "EQ", "arg1":
        {"path": "issue.secret.detector.metadata.category", "default": null}, "arg2":
        {"value": "cloud_provider"}}, "is_global": true, "scope": "private", "author":
        104371}}, "declarative_secret_status": "invalid", "assignee": 245361, "last_presence_check_at":
        null, "secret": "[REDACTED]", "severity": 30, "authors": [{"info": "lucius-fox-gg@protonmail.com",
        "name": "Lucius Fox"}], "user_permission": 7, "is_publicly_shared": false,
        "feedbacks_count": 1, "occurrences_presence_seen_count": 0, "occurrences_presence_deleted_count":
        2, "occurrences_presence_should_be_checked": null, "locations_count": 0, "sources":
        [{"name": "wayne-enterprises-gg/public-app-gg-bis-2020-10", "type": "gh_repository",
        "path": "wayne-enterprises-gg/public-app-gg-bis-2020-10", "source_criticality":
        "unknown"}], "custom_tags": [], "vault_metadata": null, "is_vaulted": false,
        "similar_issue_count": 48, "score": 100, "displayed_occurrence": {"id": 78198,
        "issue": 21460, "account": 8, "kind": "RLTM", "element": "998deb2c88b0be31f72d117ac1238114334445e8",
        "element_type": "GIT_COMMIT", "author_name": "Lucius Fox", "author_info":
        "lucius-fox-gg@protonmail.com", "value": null, "value_hash": "1L9CNiJQrSoUY+DgKJLdtjuqHK0OaVUl1VVX1ysCO/lX8FQi+GgD01C2z8H3+skF",
        "published_at": "2020-10-29T13:19:59.005564Z", "date": "2020-10-29T13:19:59.005564Z",
        "detected_at": "2020-10-29T13:19:59.005564Z", "is_vcs_type": true, "last_detected_at":
        "2020-10-29T13:19:59.005564Z", "last_seen_at": "2020-10-29T13:19:59.005564Z",
        "data": {}, "url": "https://github.com/wayne-enterprises-gg/public-app-gg-bis-2020-10/commit/998deb2c88b0be31f72d117ac1238114334445e8#diff-568470d013cd12e4f388206520da39ab9a4e4c3c6b95846cbc281abc1ba3c959R4",
        "source": {"id": 12349, "url": "https://github.com/wayne-enterprises-gg/public-app-gg-bis-2020-10",
        "type": "gh_repository", "display_name": "wayne-enterprises-gg/public-app-gg-bis-2020-10",
        "visibility": "public", "monitored": true, "source_criticality": "unknown",
        "deleted_at": "2021-01-14T00:19:19.349665Z", "default_branch": null}, "regression":
        false, "content": 468, "secrets_engine_version": "unknown", "matches": [{"name":
        "client_id", "string_matched": "[REDACTED]", "indice_start": 92, "indice_end":
        112, "pre_line_start": null, "pre_line_end": null, "post_line_start": 3, "post_line_end":
        3}, {"name": "client_secret", "string_matched": "[REDACTED]", "indice_start":
        128, "indice_end": 168, "pre_line_start": null, "pre_line_end": null, "post_line_start":
        4, "post_line_end": 4}], "most_sensitive_match_name": "client_secret", "insights":
        [], "filepath": "app.py", "filename": "app.py", "presence": "repository_deleted",
        "last_presence_seen_at": "2020-10-29T13:19:59.005564Z", "last_presence_check_at":
        "2021-07-24T15:12:47.621455Z", "first_presence_deleted_at": "2021-07-24T15:12:47.621455Z",
        "seen_in_default_branch": null, "change_type": "addition", "full_tags": [{"type":
        "PUBLICLY_EXPOSED", "metadata": null}]}, "has_dropped_occurrences": false,
        "tags": ["PUBLICLY_LEAKED"], "public_exposure": {"source_publicly_visible":
        true, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "occurrences_count": 2}, {"id": 21464, "account": 8, "criterion": "AWS Keys",
        "date": "2020-10-29T04:19:56.388169Z", "last_trigger_published_at": "2020-10-29T04:19:56.388169Z",
        "last_triggered_at": "2021-02-11T14:23:22.947692Z", "last_trigger_detected_at":
        "2021-02-11T14:23:22.947692Z", "hash": "Vk90LgwiOvekJz1ekAbpTtG//qwTheghhQ6DeOBCFVHzghwkL4Qc71cZRqNcojMG",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null, "resolved": true, "resolv[...]
