interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=1&status=TRIGGERED
  response:
    body:
      string: '[{"id": 3, "detector": {"name": "gitguardian_test_token", "display_name":
        "GitGuardian Development Secret", "nature": "specific", "family": "token",
        "category": "internal", "detector_group_name": "gitguardian_test_token", "detector_group_display_name":
        "GitGuardian Development Secret"}, "date": "2019-11-19T14:11:01Z", "secret_id":
        14592836, "secret_hash": "UkaGM2d1NaALSIkUqCBkEgY+xnpQYM3vPZeWQp9v/O680MxYd9tR0/CjGaYu0TLp",
        "hmsl_hash": "2cc5873afae5ee7747e26e2d73f7b8abe0ac63e7971442ceb50be7c4bf5c77c9",
        "occurrences_count": 13, "status": "TRIGGERED", "triggered_at": "2025-01-07T18:06:02.737783Z",
        "ignored_at": null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at":
        null, "resolver_id": null, "resolver_api_token_id": null, "secret_revoked":
        false, "validity": "no_checker", "severity": "unknown", "assignee_id": null,
        "assignee_email": null, "share_url": "[REDACTED]", "feedback_list": [], "risk_score":
        44, "severity_rule_id": null, "is_vaulted": false, "declarative_secret_status":
        "active", "resolve_reason": null, "ignore_reason": null, "gitguardian_url":
        "https://dashboard.gitguardian.com/workspace/8/public-incidents/3", "tags":
        ["FROM_HISTORICAL_SCAN"], "custom_tags": [], "destination_tickets": [], "incident_name":
        "GitGuardian Development Secret"}]'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, HEAD, OPTIONS
      link:
      - <https://api.gitguardian.com/v1/public-incidents/secrets?cursor=cD0z&per_page=1&status=TRIGGERED>;
        rel="next"
      x-app-version:
      - v2.521.0
      x-per-page:
      - '1'
      x-secrets-engine-version:
      - 2.165.0
    status:
      code: 200
      message: OK
- request:
    body: '{"ignore_reason": "test_credential"}'
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: POST
    uri: https://api.gitguardian.com/v1/public-incidents/secrets/3/ignore
  response:
    body:
      string: '{"id": 3, "detector": {"name": "gitguardian_test_token", "display_name":
        "GitGuardian Development Secret", "nature": "specific", "family": "token",
        "category": "internal", "detector_group_name": "gitgu[...]
