interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/api_tokens/self
  response:
    body:
      string: '{"id": "d0ca9877-641f-4c37-8857-c08e0ae148c4", "name": "ggmcp CI (April)",
        "type": "personal_access_token", "scopes": ["scan", "incidents:read", "incidents:write",
        "incidents:share", "members:read", "members:write", "audit_logs:read", "teams:read",
        "teams:write", "honeytokens:read", "honeytokens:write", "api_tokens:read",
        "api_tokens:write", "ip_allowlist:read", "ip_allowlist:write", "sources:read",
        "sources:write", "nhi:send-inventory", "nhi:write-vault", "custom_tags:read",
        "custom_tags:write", "secrets:read", "secrets:write", "scan:create-incidents",
        "public-perimeter:read", "nhi:ownership:read", "nhi:ownership:write", "sources:scan"],
        "member_id": 480870, "workspace_id": 8, "created_at": "2026-04-20T13:31:42.422943Z",
        "last_used_at": "2026-06-23T12:52:00Z", "expire_at": null, "revoked_at": null,
        "status": "active", "creator_id": 480870}'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, DELETE, HEAD, OPTIONS
      x-app-version:
      - v2.521.0
      x-secrets-engine-version:
      - 2.165.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/members/480870
  response:
    body:
      string: '{"id": 480870, "role": "manager", "access_level": "manager", "email":
        "timothe.delion@gitguardian.com", "name": "Timoth\u00e9 DELION", "created_at":
        "2023-06-26T12:41:18.599497Z", "last_login": "2026-06-23T12:20:54.639679Z",
        "active": true}'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, PUT, PATCH, DELETE, HEAD, OPTIONS
      x-app-version:
      - v2.521.0
      x-secrets-engine-version:
      - 2.165.0
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=1&status=TRIGGERED
  response:
    body:
      string: '[{"id": 5, "detector": {"name": "slackbototken", "display_name": "Slack
        Bot Token", "nature": "specific", "family": "token", "category": "messaging_system",
        "detector_group_name": "slackbot_token", "detector_group_display_name": "Slack
        Bot Token"}, "date": "2024-05-24T12:18:15Z", "secret_id": 14592838, "secret_hash":
        "Z5EChCcGXgX/eXhBjNhs4sGINbMdnzWjcD4m3l7naZmf7qCBOMgPzYhV28m6OGG4", "hmsl_hash":
        "dc66b2a9c718f0d32581426943c736bfed9bcfd865c77712ca43d96faf97f731", "occurrences_count":
        2, "status": "TRIGGERED", "triggered_at": "2025-01-07T18:06:02.739857Z", "ignored_at":
        null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at": null,
        "resolver_id": null, "resolver_api_token_id": null, "secret_revoked": false,
        "validity": "failed_to_check", "severity": "unknown", "assignee_id": null,
        "assignee_email": null, "share_url": "[REDACTED]", "feedback_list": [], "risk_score":
        44, "severity_rule_id": null, "is_vaulted": false, "declarative_secret_status":
        "active", "resolve_reason": null, "ignore_reason": null, "gitguardian_url":
        "https://dashboard.gitguardian.com/workspace/8/public-incidents/5", "tags":
        ["FROM_HISTORICAL_SCAN"], "custom_tags": [], "destination_tickets": [], "incident_name":
        "Slack Bot Token"}]'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, HEAD, OPTIONS
      link:
      - <https://api.gitguardian.com/v1/public-incidents/secrets?cursor=cD01&per_page=1&status=TRIGGERED>;
        rel="next"
      x-app-version:
      - v2.521.0
      x-per-page:
      - '1'
      x-secrets-engine-version:
      - 2.165.0
    status:
      code: 200
      message: OK
- request:
    body: '{"email": "timothe.delion@gitguardian.com"}'
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: POST
    uri: https://api.gitguardian.com/v1/public-incidents/secrets/5/assign
  response:
    body:
      string: '{"id": 5, "detector": {"name": "slackbototken", "display_name": "Slack
        Bot Token", "nature": "specific", "family": "token", "category": "messaging_system",
        "detector_group_name": "slackbot_token[...]
