interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/audit_logs?per_page=10
  response:
    body:
      string: '[{"id": 19851004, "api_token_id": null, "member_id": 1130661, "member_email":
        "pierre.butkus@gitguardian.com", "member_name": "Pierre BUTKUS", "date": "2026-03-20T15:42:57.313433Z",
        "data": {"type": "saml_sso"}, "event_name": "user.logged_in", "action_type":
        "OTHER", "target_ids": ["1128523"], "ip_address": "86.234.8.131"}, {"id":
        19846197, "api_token_id": null, "member_id": 790733, "member_email": "romain.jouhannet@gitguardian.com",
        "member_name": "Romain JOUHANNET", "date": "2026-03-20T13:36:07.219756Z",
        "data": {"type": "saml_sso"}, "event_name": "user.logged_in", "action_type":
        "OTHER", "target_ids": ["614347"], "ip_address": "185.175.151.131"}, {"id":
        19843163, "api_token_id": "37a3bb8c-cb1a-41e2-9939-d468d49feaf6", "member_id":
        null, "member_email": null, "member_name": "Okta SCIM", "date": "2026-03-20T12:16:02.865158Z",
        "data": {"access_level": "member"}, "event_name": "user.joined", "action_type":
        "OTHER", "target_ids": ["1740391"], "ip_address": "99.80.150.218"}, {"id":
        19838996, "api_token_id": "37a3bb8c-cb1a-41e2-9939-d468d49feaf6", "member_id":
        null, "member_email": null, "member_name": "Okta SCIM", "date": "2026-03-20T10:06:13.007584Z",
        "data": {"access_level": "member"}, "event_name": "user.joined", "action_type":
        "OTHER", "target_ids": ["1740267"], "ip_address": "99.80.150.218"}, {"id":
        19837906, "api_token_id": null, "member_id": 1139585, "member_email": "ghislain.casier@gitguardian.com",
        "member_name": "Ghislain CASIER", "date": "2026-03-20T09:39:36.936091Z", "data":
        {"team": "All incidents", "users": [{"id": 1091280, "name": "Maxime MOROT\u00c9",
        "permission": 31, "is_team_leader": true}]}, "event_name": "teammate.added",
        "action_type": "CREATE", "target_ids": ["1115219"], "ip_address": "54.212.233.107"},
        {"id": 19837905, "api_token_id": null, "member_id": 1139585, "member_email":
        "ghislain.casier@gitguardian.com", "member_name": "Ghislain CASIER", "date":
        "2026-03-20T09:39:36.915989Z", "data": {"name": "Maxime MOROT\u00c9", "new_access_level":
        "manager", "old_access_level": "member"}, "event_name": "member.changed_permissions",
        "action_type": "UPDATE", "target_ids": ["1093408"], "ip_address": "54.212.233.107"},
        {"id": 19837873, "api_token_id": null, "member_id": 318126, "member_email":
        "julien.chaumont@gitguardian.com", "member_name": "Julien CHAUMONT", "date":
        "2026-03-20T09:38:56.016130Z", "data": {"team": "All incidents", "users":
        [{"id": 1137449, "name": "Ghislain CASIER", "permission": 31, "is_team_leader":
        true[...]
