interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&detector_group_name__in=AWS+Keys
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?detector_group_name__in=AWS+Keys&page=2&page_size=5",
        "previous": null, "results": [{"id": 29487335, "account": 8, "criterion":
        "Stripe Webhook Secret", "date": "2026-04-02T16:22:33.518000Z", "last_trigger_published_at":
        "2026-04-02T16:22:33.518000Z", "last_triggered_at": "2026-04-02T16:22:34.233032Z",
        "last_trigger_detected_at": "2026-04-02T16:22:34.233032Z", "hash": "JquJu98wTd0k40t3UsNgP22P+ywFCrsGM1VDRg3oZBdGXhRWbjOMbKAG+JtXZUOK",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at": null, "resolver": null, "regression": false,
        "manual_severity_setter": null, "ignorer_display_name": "none", "ignorer_type":
        "none", "resolver_display_name": "none", "resolver_type": "none", "manual_severity_setter_display_name":
        "none", "manual_severity_setter_type": "none", "status": "TRIGGERED", "issue_name":
        "Stripe Webhook Secret", "severity_rule_config": null, "declarative_secret_status":
        null, "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "ggtestintegrations@proton.me", "name":
        "GG Test Integrations"}], "user_permission": 7, "is_publicly_shared": true,
        "feedbacks_count": 0, "occurrences_presence_seen_count": 1, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 0, "sources":
        [{"name": "gg-test-integrations / My Kanban Space", "type": "jira_cloud_project",
        "path": "gg-test-integrations / My Kanban Space", "source_criticality": "unknown"}],
        "custom_tags": [], "vault_metadata": null, "is_vaulted": false, "similar_issue_count":
        0, "score": 62, "displayed_occurrence": {"id": 256867982, "issue": 29487335,
        "account": 8, "kind": "RLTM", "element": "KAN-8?focusedCommentId=10014", "element_type":
        "JIRA_COMMENT", "author_name": "GG Test Integrations", "author_info": "ggtestintegrations@proton.me",
        "value": null, "value_hash": "o40+pCpgMCFgcapQEEdZ3imjEpSONYcgy0J+gLe5ygKDJctj7Ro4REsJrqbUl0yj",
        "published_at": "2026-04-02T16:22:33.518000Z", "date": "2026-04-02T16:22:33.518000Z",
        "detected_at": "2026-04-02T16:22:34.031682Z", "is_vcs_type": false, "last_detected_at":
        "2026-04-02T16:22:33.518000Z", "last_seen_at": "2026-04-02T16:22:33.518000Z",
        "data": {}, "url": "https://gg-test-integrations.atlassian.net/browse/KAN-8?focusedCommentId=10014",
        "source": {"id": 26780039, "url": "https://gg-test-integrations.atlassian.net/browse/KAN",
        "type": "jira_cloud_project", "display_name": "gg-test-integrations / My Kanban
        Space", "visibility": "private", "monitored": true, "source_criticality":
        "unknown", "deleted_at": null, "default_branch": null}, "regression": false,
        "content": 148603941, "secrets_engine_version": "2.159.0", "matches": [{"name":
        "apikey", "string_matched": "[REDACTED]", "indice_start": 25, "indice_end":
        63, "pre_line_start": null, "pre_line_end": null, "post_line_start": null,
        "post_line_end": null}], "most_sensitive_match_name": "apikey", "insights":
        [], "filepath": null, "filename": null, "presence": "visible", "last_presence_seen_at":
        "2026-04-02T16:22:34.268883Z", "last_presence_check_at": "2026-04-02T16:22:34.268883Z",
        "first_presence_deleted_at": null, "seen_in_default_branch": null, "change_type":
        null, "full_tags": []}, "has_dropped_occurrences": false, "tags": [], "public_exposure":
        {"source_publicly_visible": false, "public_incident_linked": false, "leaked_outside_perimeter":
        false}, "occurrences_count": 1}, {"id": 29487333, "account": 8, "criterion":
        "Slack Bot Token", "date": "2026-04-02T16:22:26.591000Z", "last_trigger_published_at":
        "2026-04-02T16:22:26.591000Z", "last_triggered_at": "2026-04-02T16:22:27.578209Z",
        "last_trigger_detected_at": "2026-04-02T16:22:27.578209Z", "hash": "UeONCI+H/I19fHV7Ge45VQxOI0/YUY6CYZu9psQ6W53s6W+UOMgPzYhV28m6OGG4",
        "ignored": true, "ignored_at": "2026-04-02T16:22:27.592459Z", "ignore_reason":
        "invalid", "ignorer": 49141[...]
