interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets?per_page=5&ordering=-date
  response:
    body:
      string: '[{"id": 34205503, "detector": {"name": "microsoft_azure_storage_connection_string",
        "display_name": "Microsoft Azure Storage Connection String", "nature": "specific",
        "family": "credentials", "category": "cloud_provider", "detector_group_name":
        "microsoft_azure_storage_connection_string", "detector_group_display_name":
        "Microsoft Azure Storage Connection String"}, "date": "2026-06-23T11:13:31.325324Z",
        "secret_id": 34903121, "secret_hash": "HdPZ4cjZuziAqsakdlsUnJDapTz3ns5pX8vPzfhvGQvpWWWX25LITKmJimoqGr3z",
        "hmsl_hash": "fc26291ba9199f678ab0cf82c2e51f33d8edafcb311142da271d4cdc6c2cd305",
        "occurrences_count": 16, "status": "TRIGGERED", "triggered_at": "2026-06-23T11:13:31.343453Z",
        "ignored_at": null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at":
        null, "resolver_id": null, "resolver_api_token_id": null, "secret_revoked":
        false, "validity": "valid", "severity": "unknown", "assignee_id": null, "assignee_email":
        null, "share_url": "[REDACTED]", "feedback_list": [], "risk_score": 97, "severity_rule_id":
        null, "is_vaulted": false, "ignore_reason": null, "occurrences": null, "secret_presence":
        {"files_requiring_code_fix": 16, "files_pending_merge": 0, "files_fixed":
        0, "outside_vcs": 16, "removed_outside_vcs": 0, "in_vcs": 0, "removed_in_vcs":
        0}, "regression": false, "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/incidents/34205503",
        "tags": [], "incident_name": "Microsoft Azure Storage Connection String",
        "public_exposure": {"source_publicly_visible": false, "public_incident_linked":
        false, "leaked_outside_perimeter": false}, "destination_tickets": [], "custom_tags":
        []}, {"id": 34186239, "detector": {"name": "generic_password", "display_name":
        "Generic Password", "nature": "generic", "family": "other", "category": "other",
        "detector_group_name": "generic_password", "detector_group_display_name":
        "Generic Password"}, "date": "2026-06-22T15:14:57Z", "secret_id": 34876981,
        "secret_hash": "l20PufsE4GDTHxA+dQvcCRYgs5n0Jvz4ekZkuygCenyvIwxefma8ieOEhD7igl+v",
        "hmsl_hash": "6662d7be52f195e819ae005e22e00568c2e3ce932fd8[...]
