interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/sources?ordering=-last_scan_date&per_page=5
  response:
    body:
      string: '[{"id": 17543488, "type": "microsoft_teams", "full_name": "GitGuardian
        Engineering / Team 10 / 227 - a5c6943a5f124a5c96fe5b6c390a6f73", "health":
        "unknown", "source_criticality": "unknown", "default_branch": null, "default_branch_head":
        null, "open_incidents_count": 0, "closed_incidents_count": 0, "last_scan":
        null, "monitored": false, "monitoring_status": "deleted_on_remote", "visibility":
        "public", "external_id": "19:a31d8cc11fcd40b983dbbb907c92e054@thread.tacv2",
        "secret_incidents_breakdown": {"open_secret_incidents": {"total": 0, "severity_breakdown":
        {"critical": 0, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}},
        "closed_secret_incidents": {"total": 0, "severity_breakdown": {"critical":
        0, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}}}, "url": "https://teams.microsoft.com/l/channel/19:a31d8cc11fcd40b983dbbb907c92e054@thread.tacv2/227
        - a5c6943a5f124a5c96fe5b6c390a6f73?groupId=3246a4a0-4abf-453d-a53a-f4d4f8b3cbf5&tenantId=1eb62cd2-9303-4be2-8187-2404c20ba039",
        "provider_metadata": {"archived": false}, "deleted": false}, {"id": 17535269,
        "type": "microsoft_teams", "full_name": "GitGuardian Engineering / team 12
        / 177 - 522d63b20b20462fa75d3914f8ca2b12", "health": "unknown", "source_criticality":
        "unknown", "default_branch": null, "default_branch_head": null, "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": null, "monitored": false, "monitoring_status":
        "deleted_on_remote", "visibility": "public", "external_id": "19:7257a9a9f2574b82b07f0871fe665[...]
