interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/audit_logs?per_page=5
  response:
    body:
      string: '[{"id": 18378985, "api_token_id": null, "member_id": 937471, "member_email":
        "candidate.playground+eu3@gitguardian.com", "member_name": "EU3 Candidate",
        "date": "2026-02-05T07:35:42.412939Z", "data": {"type": "basic"}, "event_name":
        "user.logged_in", "action_type": "OTHER", "target_ids": ["935620"], "ip_address":
        "83.36.91.222"}, {"id": 18366488, "api_token_id": null, "member_id": 1301278,
        "member_email": "zach.mccullough@gitguardian.com", "member_name": "Zachary
        MCCULLOUGH", "date": "2026-02-04T20:29:00.481270Z", "data": {"type": "saml_sso"},
        "event_name": "user.logged_in", "action_type": "OTHER", "target_ids": ["1299091"],
        "ip_address": "73.8.249.128"}, {"id": 18366464, "api_token_id": null, "member_id":
        1301278, "member_email": "zach.mccullough@gitguardian.com", "member_name":
        "Zachary MCCULLOUGH", "date": "2026-02-04T20:28:10.215980Z", "data": {"type":
        "saml_sso"}, "event_name": "user.logged_in", "action_type": "OTHER", "target_ids":
        ["1299091"], "ip_address": "73.8.249.128"}, {"id": 18366177, "api_token_id":
        null, "member_id": 1301278, "member_email": "zach.mccullough@gitguardian.com",
        "member_name": "Zachary MCCULLOUGH", "date": "2026-02-04T20:14:07.951413Z",
        "data": {"type": "saml_sso"}, "event_name": "user.logged_in", "action_type":
        "OTHER", "target_ids": ["1299091"], "ip_address": "73.8.249.128"}, {"id":
        18366174, "api_token_id": null, "member_id": 1301278, "member_email": "zach.mccullough@gitguardian.com",
        "member_name": "Zachary MCCULLOUGH", "date": "2026-02-04T20:13:55.579230Z",
        "data": {"type": "saml_sso"}, "event_name": "user.logged_in", "action_type":
        "OTHER", "target_ids": ["1299091"], "ip_address": "73.8.249.128"}]'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
      link:
      - <https://api.gitguardian.com/v1/audit_logs?cursor=cD0xODM2NjE3NA%3D%3D&per_page=5>;
        rel="next"
      x-app-version:
      - v2.384.0
      x-per-page:
      - '5'
      x-secrets-engine-version:
      - 2.155.4
    status:
      code: 200
      message: OK
version: 1
