interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=20&status=ASSIGNED
  response:
    body:
      string: '[{"id": 57, "detector": {"name": "gitguardian_test_token_checked",
        "display_name": "GitGuardian Test Token Checked", "nature": "specific", "family":
        "token", "category": "internal", "detector_group_name": "gitguardian_test_token_checked",
        "detector_group_display_name": "GitGuardian Test Token Checked"}, "date":
        "2021-12-10T10:36:08Z", "secret_id": 7970357, "secret_hash": "cfDzN5RpdE7fN0bd474gxh8fBT9kKunY+sHOlD+OeXGzGAkSCxpDOKaZihAFaYMH",
        "hmsl_hash": "49b26d210036e493d068e32207ab35c98242c41d82db746b1342ef497560195e",
        "occurrences_count": 187, "status": "ASSIGNED", "triggered_at": "2025-01-07T18:06:03.015423Z",
        "ignored_at": null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at":
        null, "resolver_id": null, "resolver_api_token_id": null, "secret_revoked":
        false, "validity": "valid", "severity": "critical", "assignee_id": 1778296,
        "assignee_email": "zeke@binion.io", "share_url": "[REDACTED]", "feedback_list":
        [{"created_at": "2026-04-23T00:37:26.701645Z", "updated_at": "2026-04-23T00:37:26.701660Z",
        "email": "zeke@binion.io", "member_id": 1778296, "answers": [{"type": "boolean",
        "field_ref": "revoked_yes_no", "field_label": "Has this secret been revoked?",
        "boolean": true}, {"type": "text", "field_ref": "remarks_text", "field_label":
        "Additional remarks", "text": ""}]}], "risk_score": 27, "severity_rule_id":
        11891, "is_vaulted": false, "declarative_secret_status": "active", "resolve_reason":
        null, "ignore_reason": null, "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/public-incidents/57",
        "tags": ["COMPANY_NAME_IN_COMMIT", "DOMAIN", "FROM_HISTORICAL_SCAN", "TEST_FILE",
        "INTERNALLY_LEAKED"], "custom_tags": [], "destination_tickets": [], "incident_name":
        "GitGuardian Test Token Checked"}, {"id": 2816, "detector": {"name": "postgres_assignment_attached_port",
        "display_name": "PostgreSQL Credentials", "nature": "specific", "family":
        "identifiers", "category": "data_storage", "detector_group_name": "postgresql_credentials",
        "detector_group_display_name": "PostgreSQL Credentials"}, "date": "2023-02-15T14:47:35Z",
        "secret_id": 6608759, "secret_hash": "i/hwSGTtVTth0XrZbsg40m1CTTZOW/mZhf2/9VbpC/6mLCFlkwaXJ+SYISD[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=5&assignee_id=1778296
  response:
    body:
      string: '[{"id": 57, "detector": {"name": "gitguardian_test_token_checked",
        "display_name": "GitGuardian Test Token Checked", "nature": "specific", "family":
        "token", "category": "internal", "detector_group_name": "gitguardia[...]
