interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets?severity=critical&per_page=5
  response:
    body:
      string: '[{"id": 21461, "detector": {"name": "private_key_dsa", "display_name":
        "DSA Private Key", "nature": "specific", "family": "cryptographic_key", "detector_group_name":
        "private_key_dsa", "detector_group_display_name": "DSA Private Key"}, "date":
        "2020-10-29T09:19:54.249454Z", "secret_id": 70589, "secret_hash": "FNJbfEKG/ZXHjBfeEDa+45ryvtA8AC1egwR+QsSqIDlRVNh2Z/McHLTpLI6+WVL/",
        "hmsl_hash": "ae092263bbe1c8bbcc5e8e4dd785681b62e9d48226d66cb28f5d305fa5ef8e68",
        "occurrences_count": 2, "status": "ASSIGNED", "triggered_at": "2021-02-11T14:23:22.947605Z",
        "ignored_at": null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at":
        null, "resolver_id": null, "resolver_api_token_id": null, "secret_revoked":
        false, "validity": "no_checker", "severity": "critical", "assignee_id": 270722,
        "assignee_email": "clement.tourriere@gitguardian.com", "share_url": "[REDACTED]",
        "feedback_list": [{"created_at": "2024-06-28T07:01:19.458759Z", "updated_at":
        "2024-06-28T07:01:19.458771Z", "email": "lucius@protonmal.com", "member_id":
        null, "answers": [{"type": "boolean", "field_ref": "actual_secret_yes_no",
        "field_label": "Is this an actual secret?", "boolean": true}, {"type": "boolean",
        "field_ref": "access_to_sensitive_yes_no", "field_label": "Does this secret
        give or has given access to any sensitive information or services?", "boolean":
        true}, {"type": "boolean", "field_ref": "revoked_yes_no", "field_label": "Has
        this secret been revoked?", "boolean": false}, {"type": "text", "field_ref":
        "remarks_text", "field_label": "Additional remarks", "text": "important info."}]}],
        "risk_score": 60, "is_vaulted": false, "ignore_reason": null, "occurrences":
        null, "secret_presence": {"files_requiring_code_fix": 0, "files_pending_merge":
        0, "files_fixed": 0, "outside_vcs": 0, "removed_outside_vcs": 0, "in_vcs":
        0, "removed_in_vcs": 2}, "regression": false, "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/incidents/21461",
        "tags": ["PUBLICLY_LEAKED"], "incident_name": "DSA Private Key", "public_exposure":
        {"source_publicly_visible": true, "public_incident_linked": false, "leaked_outside_perimeter":
        false}, "destination_tickets": [{"id": "JB-15", "type": "jira_cloud", "link":
        "https://sandboxgitguardian.atlassian.net/browse/JB-15"}, {"id": "JB-14",
        "type": "jira_cloud", "link": "https://sandboxgitguardian.atlassian.net/browse/JB-14"}],
        "custom_tags": []}, {"id": 21467, "detector": {"name": "newrelic_apm_license_key",
        "display_name": "New Relic APM License Key", "nature": "specific", "family":
        "token", "detector_group_name": "newrelic_apm_license_key", "detector_group_display_name":
        "New Relic APM License Key"}, "date": "2020-10-26T14:19:40.469654Z", "secret_id":
        70595, "secret_hash": "Rkk5oUrdwpPC4VEVfur6poyo2E+7l2kFI6xMeO7sOu2Pz052OuGBsJoc20xNYyU1",
        "hmsl_hash": "beec046bdad5b63f3fcae66e5b5925240bcb0[...]
