interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets/3759/notes
  response:
    body:
      string: '[{"id": 5132786, "member_id": 480870, "api_token_id": "d0ca9877-641f-4c37-8857-c08e0ae148c4",
        "created_at": "2026-06-23T14:12:49.055117Z", "updated_at": "2026-06-23T14:12:49.360819Z",
        "comment": "Actor confirmed rotation", "incident_id": 3759}]'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, POST, HEAD, OPTIONS
      link:
      - ''
      x-app-version:
      - v2.521.0
      x-per-page:
      - '20'
      x-secrets-engine-version:
      - 2.165.0
    status:
      code: 200
      message: OK
version: 1
