interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets/3759/occurrences?per_page=5&ordering=-date
  response:
    body:
      string: '[{"id": 9846, "incident_id": 3759, "date": "2023-03-03T15:22:18Z",
        "filepath": "peer/peer-0.10.0.tar.gz/peer/local_settings.py", "kind": "historical",
        "presence": "removed", "matches": [{"name": "apikey", "indice_start": 295,
        "indice_end": 335, "pre_line_start": null, "pre_line_end": null, "post_line_start":
        14, "post_line_end": 14}], "tags": ["FROM_HISTORICAL_SCAN"], "sha": "2c9877a3019d6c2e261054f8e2fe6c11032ed880",
        "url": "https://github.com/pypi-data/pypi-code-2/commit/2c9877a3019d6c2e261054f8e2fe6c11032ed880#diff-63ebc151c08e8db0fd7e76e4d9329829c970d3ce7d3cc38b81ba0ab27107a282R14",
        "source": {"id": 455, "type": "github", "name": "pypi-data/pypi-code-2", "url":
        "https://github.com/pypi-data/pypi-code-2"}, "actor": {"id": 11, "type": "github_user",
        "name": "orf", "email": "tom@tomforb.es", "url": "https://github.com/orf"},
        "attachment_reasons": ["by_dev_from_perimeter"]}]'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, HEAD, OPTIONS
      link:
      - ''
      x-app-version:
      - v2.437.0
      x-per-page:
      - '5'
      x-secrets-engine-version:
      - 2.161.0
    status:
      code: 200
      message: OK
version: 1
