interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&publicly_shared=true
  response:
    body:
      string: '{"count": 11997, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?page=2&page_size=5&publicly_shared=true",
        "previous": null, "results": [{"id": 26805043, "account": 8, "criterion":
        "MongoDB URI", "date": "2026-02-04T12:40:14Z", "last_trigger_published_at":
        "2026-02-04T12:40:14Z", "last_triggered_at": "2026-02-04T13:38:51.987022Z",
        "last_trigger_detected_at": "2026-02-04T13:38:51.987022Z", "hash": "/7fR6f5kCJxcKOBY7aGaXANERrgmNFFGl2msVGfVPMEzhnM4feuh40iUuZt2nZY1",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null, "resolved": false, "resolved_at": null, "resolver": null,
        "regression": false, "manual_severity_setter": null, "policy_name": "ensure_no_secrets",
        "policy_display_name": "Secrets detection", "ignorer_display_name": "none",
        "ignorer_type": "none", "resolver_display_name": "none", "resolver_type":
        "none", "manual_severity_setter_display_name": "none", "manual_severity_setter_type":
        "none", "status": "TRIGGERED", "issue_name": "MongoDB Credentials", "severity_rule_config":
        {"id": 7276, "gg_created_at": "2025-03-18T08:57:54.146841Z", "gg_updated_at":
        "2025-03-18T08:57:54.146844Z", "index": 15, "severity": 20, "rule": {"id":
        516, "gg_created_at": "2025-03-18T08:57:54.142529Z", "gg_updated_at": "2025-03-18T08:57:54.142532Z",
        "name": "Specific Database Credentials", "description": "Specific Database
        Credentials", "json_rule": {"operator": "AND", "args": [{"operator": "EQ",
        "arg1": {"path": "issue.secret.detector.metadata.category", "default": null},
        "arg2": {"value": "data_storage"}}, {"operator": "EQ", "arg1": {"path": "issue.secret.detector.nature",
        "default": null}, "arg2": {"value": "specific"}}]}, "is_global": true, "scope":
        "private", "author": null}}, "declarative_secret_status": null, "assignee":
        null, "last_presence_check_at": null, "secret": "[REDACTED]", "severity":
        100, "authors": [{"info": "romain.jouhannet@gitguardian.com", "name": "Romain
        Jouhannet"}], "user_permission": 7, "is_publicly_shared": false, "feedbacks_count":
        0, "occurrences_presence_seen_count": 1, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 0, "sources":
        [{"name": "RomainJ / demo", "type": "gl_project", "path": "romain/demo", "source_criticality":
        "unknown"}], "custom_tags": [], "vault_metadata": null, "is_vaulted": false,
        "similar_issue_count": 0, "score": 49, "displayed_occurrence": {"id": 241287706,
        "issue": 26805043, "account": 8, "kind": "HIST", "element": "5198e8b1dbfceb42a733e2f96a8c737fa8bc5ee8",
        "element_type": "GIT_COMMIT", "author_name": "Romain Jouhannet", "author_info":
        "romain.jouhannet@gitguardian.com", "value": null, "value_hash": "I7HWuf4N7z4BUl5YTbmxXGsCjjQ/IlAjXcso7ELZ+5LYJl5p8C+H70xNQGAF2tHA",
        "published_at": "2026-02-04T12:40:14Z", "date": "2026-02-04T12:40:14Z", "detected_at":
        "2026-02-04T13:38:46.386256Z", "is_vcs_type": true, "last_detected_at": "2026-02-04T12:40:14Z",
        "last_seen_at": "2026-02-04T12:40:14Z", "data": {}, "url": "https://gitlab-01.aws-qa-gitguardian.com/romain/demo/commit/5198e8b1dbfceb42a733e2f96a8c737fa8bc5ee8#8b00584865b28d12f057cc2064a51a05b33603f1_None_8",
        "source": {"id": 23485702, "url": "https://gitlab-01.aws-qa-gitguardian.com/romain/demo",
        "type": "gl_project", "display_name": "RomainJ / demo", "visibility": "private",
        "monitored": true, "source_criticality": "unknown", "deleted_at": null, "default_branch":
        "main"}, "regression": false, "content": 129708170, "secrets_engine_version":
        "2.155.4", "matches": [{"name": "connection_uri", "string_matched": "[REDACTED]",
        "indice_start": 232, "indice_end": 323, "pre_line_start": null, "pre_line_end":
        null, "post_line_start": 8, "post_line_end": 8}, {"name": "scheme", "string_matched":
        "[REDACTED]", "indice_start": 232, "indice_end": 243, "pre_line_start": null,
        "pre_line_end": null, "post_line_start": 8, "post_line_end": 8}, {"name":
        "username", "string_matched": "[REDACTED]", "indice_start": 246, "indice_end":
        254, "pre_line_start": null, "pre_line_end": null, "post_line_start": 8, "post_line_end":
        8}, {"name": "password", "string_matched": "[REDACTED]", "indice_start": 255,
        "indice_end": 267, "pre_line_start": null, "pre_line_end": null, "post_line_start":
        8, "post_line_end": 8}, {"name": "host", "string_matched": "[REDACTED]", "indice_start":
        268, "indice_end": 288, "pre_line_start": null, "pre_line_end": null, "post_line_start":
        8, "post_line_end": 8}, {"name": "database", "string_matched": "[REDACTED]",
        "indice_start": 289, "indice_end": 295, "pre_line_start": null, "pre_line_end":
        null, "post_line_start": 8, "post_line_end": 8}, {"name": "query", "string_matched":
        "[REDACTED]", "indice_start": 296, "indice_end": 323, "pre_line_start": null,
        "pre_line_end": null, "post_line_start": 8, "post_line_end": 8}], "most_sensitive_match_name":
        "password", "insights": [], "filepath": "bluethroat.py", "filename": "bluethroat.py",
        "presence": "visible", "last_presence_seen_at": "2026-02-04T13:38:52.180505Z",
        "last_presence_check_at": "2026-02-04T13:38:52.180505Z", "first_presence_deleted_at":
        null, "seen_in_default_branch": null, "change_type": "addition", "full_tags":
        [{"type": "FROM_HISTORICAL_SCAN", "metadata": null}]}, "has_dropped_occurrences":
        false, "tags": ["FROM_HISTORICAL_SCAN"], "public_exposure": {"source_publicly_visible":
        false, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "occurrences_count": 1}, {"id": 26805046, "account": 8, "criterion": "Google
        API Key", "date": "2026-02-04T12:40:14Z", "last_trigger_published_at": "2026-02-04T12:40:14Z",
        "last_triggered_at": "2026-02-04T13:38:51.989891Z", "last_trigger_detected_at":
        "2026-02-04T13:38:51.989891Z", "hash": "CZJQmDNizaye6Se/yo5f/c+CUkxebkA24Agny/NaiDD4mt8CiwQ5Z8PP16EaJtIX",
        "policy": 1, "ignored": true, "ignored_at": "2026-02-04T13:38:52.089326Z",
        "ignore_reason": "invalid", "ignorer": 491414,[...]
