interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=1&status=TRIGGERED
  response:
    body:
      string: '[{"id": 3759, "detector": {"name": "slack_bot_token", "display_name":
        "Slack Bot Token", "nature": "specific", "family": "token", "category": "messaging_system",
        "detector_group_name": "slackbot_token", "detector_group_display_name": "Slack
        Bot Token"}, "date": "2024-08-22T14:15:22Z", "occurrences_count": 4, "status":
        "TRIGGERED", "validity": "valid", "severity": "high", "assignee_id": null,
        "assignee_email": null, "tags": ["FROM_HISTORICAL_SCAN"], "risk_score": 80,
        "share_url": "[REDACTED]", "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/public-incidents/3759"}]'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
- request:
    body: '{"ignore_reason": "test_credential"}'
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: POST
    uri: https://api.gitguardian.com/v1/public-incidents/secrets/3759/ignore
  response:
    body:
      string: '{"id": 3759, "detector": {"name": "slack_bot_token", "display_name":
        "Slack Bot Token", "nature": "specific", "family": "token", "category": "messaging_system",
        "detector_group_name": "slackbot_token", "detector_group_display_name": "Slack
        Bot Token"}, "date": "2024-08-22T14:15:22Z", "occurrences_count": 4, "status":
        "IGNORED", "validity": "valid", "severity": "high", "assignee_id": 480870,
        "assignee_email": "ci@gitguardian.com", "ignored_at": "2026-04-28T12:00:00Z",
        "ignorer_id": 480870, "ignorer_api_token_id": "8a262c6a-832d-49e5-8744-23c743ff25ac",
        "ignore_reason": "test_credential", "tags": ["FROM_HISTORICAL_SCAN"], "risk_score":
        80, "share_url": "[REDACTED]", "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/public-incidents/3759"}'
    headers:
      content-type:
      - application/json
    status:
      code: 200
      message: OK
version: 1
