interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets?per_page=5&ordering=-date
  response:
    body:
      string: '[{"id": 28905156, "detector": {"name": "gitlab_personal_token_v2",
        "display_name": "GitLab Token", "nature": "specific", "family": "token", "detector_group_name":
        "gitlab_token", "detector_group_display_name": "GitLab Token"}, "date": "2026-03-17T14:35:54.643000Z",
        "secret_id": 29710905, "secret_hash": "kbVfTxt8mubX2vVRQN/wNxpT9vQMThT40ap5w7qZ8b20vI7qxGkRAPRx8mJAAtol",
        "hmsl_hash": "7f5fdf5452e6f47b569cc9b90146d849ca98b9f6c746d0536be90a2d2c19f963",
        "occurrences_count": 2, "status": "TRIGGERED", "triggered_at": "2026-03-17T14:36:00.418064Z",
        "ignored_at": null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at":
        null, "resolver_id": null, "resolver_api_token_id": null, "secret_revoked":
        false, "validity": "invalid", "severity": "unknown", "assignee_id": null,
        "assignee_email": null, "share_url": "[REDACTED]", "feedback_list": [], "risk_score":
        10, "is_vaulted": false, "ignore_reason": null, "occurrences": null, "secret_presence":
        {"files_requiring_code_fix": 0, "files_pending_merge": 0, "files_fixed": 0,
        "outside_vcs": 2, "removed_outside_vcs": 0, "in_vcs": 0, "removed_in_vcs":
        0}, "regression": false, "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/incidents/28905156",
        "tags": ["REVOCABLE_BY_GG"], "incident_name": "GitLab Token", "public_exposure":
        {"source_publicly_visible": false, "public_incident_linked": false, "leaked_outside_perimeter":
        false}, "destination_tickets": [{"id": "AEF-2328", "type": "jira_cloud", "link":
        "https://yanne-gg-integration.atlassian.net/browse/AEF-2328"}], "custom_tags":
        []}, {"id": 28905135, "detector": {"name": "slackbototken", "display_name":
        "Slack Bot Token", "nature": "specific", "family": "token", "detector_group_name":
        "slackbot_token", "detector_group_display_name": "Slack Bot Token"}, "date":
        "2026-03-17T13:50:44.593000Z", "secret_id": 14594082, "secret_hash": "309P1XgaKYR7FzZGMd5i0zxesVleD684fYFlrVoGxd2P5zPPOMgPzYhV28m6OGG4",
        "hmsl_hash": "4898597939cc7d544a474eb4a74207a72ed1a75bf453af34ff09fdee2fa4570a",
     [...]
