interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/sources?search=test&per_page=50
  response:
    body:
      string: '[{"id": 12263, "type": "github", "full_name": "ns-242f04fd/christian_dior",
        "health": "safe", "source_criticality": "unknown", "default_branch": null,
        "default_branch_head": null, "open_incidents_count": 0, "closed_incidents_count":
        0, "last_scan": {"date": "2020-09-24T09:06:39.211442Z", "status": "finished",
        "failing_reason": "", "commits_scanned": 1, "duration": "1.218169", "branches_scanned":
        1, "progress": 100}, "monitored": true, "monitoring_status": "deleted_on_remote",
        "visibility": "public", "external_id": "12", "secret_incidents_breakdown":
        {"open_secret_incidents": {"total": 0, "severity_breakdown": {"critical":
        0, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}}, "closed_secret_incidents":
        {"total": 0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0,
        "low": 0, "info": 0, "unknown": 0}}}, "url": "https://host-3c66a8bc.example.com/ns-242f04fd/ns-eb7dee60",
        "provider_metadata": {"archived": false}, "deleted": false}, {"id": 12264,
        "type": "github", "full_name": "ns-242f04fd/armani_code", "health": "safe",
        "source_criticality": "unknown", "default_branch": null, "default_branch_head":
        null, "open_incidents_count": 0, "closed_incidents_count": 1, "last_scan":
        {"date": "2020-06-04T09:06:33.833273Z", "status": "finished", "failing_reason":
        "", "commits_scanned": 2, "duration": "2.830578", "branches_scanned": 1, "progress":
        100}, "monitored": true, "monitor[...]
