interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&search=aws
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?page=2&page_size=5&search=aws",
        "previous": null, "results": [{"id": 27395126, "account": 8, "criterion":
        "AWS Keys", "date": "2026-02-19T14:36:24Z", "last_trigger_published_at": "2026-02-19T14:36:24Z",
        "last_triggered_at": "2026-02-19T14:40:08.909390Z", "last_trigger_detected_at":
        "2026-02-19T14:40:08.909390Z", "hash": "ldopSL0HhOyMPVqrCoyqhrM0YiRtyDjCRKal/yZRhL1LxHMKL4Qc71cZRqNcojMG",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null, "resolved": false, "resolved_at": null, "resolver": null,
        "regression": false, "manual_severity_setter": null, "policy_name": "ensure_no_secrets",
        "policy_display_name": "Secrets detection", "ignorer_display_name": "none",
        "ignorer_type": "none", "resolver_display_name": "none", "resolver_type":
        "none", "manual_severity_setter_display_name": "none", "manual_severity_setter_type":
        "none", "status": "TRIGGERED", "issue_name": "AWS IAM Keys", "severity_rule_config":
        {"id": 10860, "gg_created_at": "2026-02-12T15:13:37.684167Z", "gg_updated_at":
        "2026-02-12T15:13:37.684171Z", "index": 30, "severity": 10, "rule": {"id":
        503, "gg_created_at": "2025-03-18T08:57:54.142008Z", "gg_updated_at": "2025-04-02T13:15:43.307296Z",
        "name": "Valid secrets related to highly sensitive detectors", "description":
        "Secrets related to highly sensitive detectors were valid when the incident
        was discovered. You can edit this rule to create your own list of sensitive
        detectors", "json_rule": {"operator": "AND", "args": [{"operator": "EQ", "arg1":
        {"path": "issue.secret.validity_status", "default": null}, "arg2": {"value":
        "valid"}}, {"operator": "IN", "arg1": {"path": "issue.secret.detector.detector_group_name",
        "default": null}, "arg2": {"value": ["github_app_token", "ldap_credentials",
        "github_oauth_token", "googlecloud_keys", "jira_basic_auth", "python_package_index_key",
        "aws_iam_sts", "npm_token", "gitlab_token", "smtp_credentials", "github_fine_grained_pat",
        "gitlab_enterprise_token", "github_access_token", "aws_iam"]}}]}, "is_global":
        true, "scope": "any", "author": null}}, "declarative_secret_status": null,
        "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "gim+dev@gitguardian.com", "name": "dev"}],
        "user_permission": 7, "is_publicly_shared": true, "feedbacks_count": 0, "occurrences_presence_seen_count":
        1, "occurrences_presence_deleted_count": 0, "occurrences_presence_should_be_checked":
        null, "locations_count": 0, "sources": [{"name": "Martin Faucheux / Repo A",
        "type": "gl_project", "path": "martin-faucheux/repo-a", "source_criticality":
        "unknown"}], "custom_tags": [], "vault_metadata": null, "is_vaulted": false,
        "similar_issue_count": 0, "score": 40, "displayed_occurrence": {"id": 245063312,
        "issue": 27395126, "account": 8, "kind": "RLTM", "element": "7a6a765a03f640cf002e7d23040dad8a17fe4255",
        "element_type": "GIT_COMMIT", "author_name": "dev", "author_info": "gim+dev@gitguardian.com",
        "value": null, "value_hash": "dLLMC28h0JB8KLz6ViyG9URvAnikbB5BBECedrqc2JmDHqkd2KVpMdI0NbaCVmKj",
        "published_at": "2026-02-19T14:36:24Z", "date": "2026-02-19T14:36:24Z", "detected_at":
        "2026-02-19T14:40:06.772801Z", "is_vcs_type": true, "last_detected_at": "2026-02-19T14:36:24Z",
        "last_seen_at": "2026-02-19T14:36:24Z", "data": {}, "url": "https://gitlab-01.aws-qa-gitguardian.com/martin-faucheux/repo-a/commit/7a6a765a03f640cf002e7d23040dad8a17fe4255#710a727ecafa5cfe744810c543a838230918ff04_0_4",
        "source": {"id": 16218988, "url": "https://gitlab-01.aws-qa-gitguardian.com/martin-faucheux/repo-a",
        "type": "gl_project", "display_name": "Martin Faucheux / Repo A", "visibility":
        "private", "monitored": true, "source_criticality": "unknown", "deleted_at":
        null, "default_branch": "main"}, "regression": false, "content": 134461307,
        "secrets_engine_version": "2.156.0", "matches": [{"name": "client_id", "string_matched":
        "[REDACTED]", "indice_start": 45, "indice_end": 65, "pre_line_start": null,
        "pre_line_end": null, "post_line_start": 3, "post_line_end": 3}, {"name":
        "client_secret", "string_matched": "[REDACTED]", "indice_start": 81, "indice_end":
        121, "pre_line_start": null, "pre_line_end": null, "post_line_start": 4, "post_line_end":
        4}], "most_sensitive_match_name": "client_secret", "insights": [{"name": "test_file",
        "source": "document", "metadata": null}], "filepath": "aws_example.py", "filename":
        "aws_example.py", "presence": "visible", "last_presence_seen_at": "2026-02-19T14:40:08.948798Z",
        "last_presence_check_at": "2026-02-19T14:40:08.948798Z", "first_presence_deleted_at":
        null, "seen_in_default_branch": false, "change_type": "addition", "full_tags":
        [{"type": "TEST_FILE", "metadata": null}]}, "has_dropped_occurrences": false,
        "tags": ["TEST_FILE"], "public_exposure": {"source_publicly_visible": false,
        "public_incident_linked": false, "leaked_outside_perimeter": false}, "occurrences_count":
        1}, {"id": 26879946, "account": 8, "criterion": "AWS Keys", "date": "2026-02-05T16:48:19Z",
        "last_trigger_published_at": "2026-02-05T16:48:19Z", "last_triggered_at":
        "2026-02-05T16:51:59.912161Z", "last_trigger_detected_at": "2026-02-05T16:51:59.912161Z",
        "hash": "BPRo0pF0ZesUJFhK1FAEiWQsj9wNtT2WYZ15WbzmXjC7vE/VL4Qc71cZRqNcojMG",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null, "resolved": false, "resolved[...]
