interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets?per_page=1
  response:
    body:
      string: '[{"id": 21460, "detector": {"name": "aws_iam", "display_name": "AWS
        IAM Keys", "nature": "specific", "family": "credentials", "detector_group_name":
        "aws_iam", "detector_group_display_name": "AWS IAM Keys"}, "date": "2020-10-29T13:19:59.005564Z",
        "secret_id": 70588, "secret_hash": "GxuGpow75lYUqq/11F2BTrhvz5MRq7Lp4iegdts1tBbsUTpYL4Qc71cZRqNcojMG",
        "hmsl_hash": "786f2e4bbe2c1ca4c8d274306a4f598fd8403ec332c2a52e11c3eb2f473c08e7",
        "occurrences_count": 2, "status": "IGNORED", "triggered_at": "2021-02-11T14:23:22.947577Z",
        "ignored_at": "2026-01-26T14:36:19.333114Z", "ignorer_id": 492181, "ignorer_api_token_id":
        null, "resolved_at": null, "resolver_id": null, "resolver_api_token_id": null,
        "secret_revoked": false, "validity": "invalid", "severity": "medium", "assignee_id":
        null, "assignee_email": "vincent.boyer@gitguardian.com", "share_url": "[REDACTED]",
        "feedback_list": [{"created_at": "2022-07-20T13:22:52.756189Z", "updated_at":
        "2022-07-20T13:22:52.756207Z", "email": "stanislas.crepin@gitguardian.com",
        "member_id": null, "answers": [{"type": "boolean", "field_ref": "actual_secret_yes_no",
        "field_label": "Is this an actual secret?", "boolean": true}, {"type": "boolean",
        "field_ref": "access_to_sensitive_yes_no", "field_label": "Does this secret
        give or has given access to any sensitive information or services?", "boolean":
        true}, {"type": "boolean", "field_ref": "revoked_yes_no", "field_label": "Has
        this secret been revoked?", "boolean": false}, {"type": "text", "field_ref":
        "remarks_text", "field_label": "Additional remarks", "text": "Hasn''t been
        revoked yet because X"}]}], "risk_score": 99, "is_vaulted": false, "ignore_reason":
        "invalid", "occurrences": null, "secret_presence": {"files_requiring_code_fix":
        0, "files_pending_merge": 0, "files_fixed": 0, "outside_vcs": 0, "removed_outside_vcs":
        0, "in_vcs": 0, "removed_in_vcs": 2}, "regression": false, "gitguardian_url":
        "https://dashboard.gitguardian.com/workspace/8/incidents/21460", "tags": ["PUBLIC",
        "PUBLICLY_EXPOSED"], "incident_name": "AWS IAM Keys", "public_exposure": null,
        "destination_tickets": [{"id": "AEF-97", "type": "jira_cloud", "link": "https://yanne-gg-integration.atlassian.net/browse/AEF-97"}],
        "custom_tags": []}]'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
      link:
      - <https://api.gitguardian.com/v1/incidents/secrets?cursor=cD0yMTQ2MA%3D%3D&per_page=1>;
        rel="next"
      x-app-version:
      - v2.384.0
      x-per-page:
      - '1'
      x-secrets-engine-version:
      - 2.155.4
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets/21460/notes
  response:
    body:
      string: '[]'
    headers:
      allow:
      - GET, POST, HEAD, OPTIONS
      content-type:
      - application/json
      link:
      - ''
      x-app-version:
      - v2.384.0
      x-per-page:
      - '20'
      x-secrets-engine-version:
      - 2.155.4
    status:
      code: 200
      message: OK
version: 1
