interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=20&validity=valid%2Cfailed_to_check
  response:
    body:
      string: '[{"id": 52, "detector": {"name": "aws_iam", "display_name": "AWS IAM
        Keys", "nature": "specific", "family": "credentials", "category": "cloud_provider",
        "detector_group_name": "aws_iam", "detector_group_display_name": "AWS IAM
        Keys"}, "date": "2024-12-17T10:19:33Z", "secret_id": 14592883, "secret_hash":
        "jfpGRuRzwwkh+0rO1sdbA98K4zuSMBfQHlBIXMm5dQVFAmmDL4Qc71cZRqNcojMG", "hmsl_hash":
        "e50cad6b8e0ca71b4e13b0091d440308990047320f621fadabfb37916010e8ad", "occurrences_count":
        1, "status": "TRIGGERED", "triggered_at": "2025-01-07T18:06:02.777462Z", "ignored_at":
        null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at": null,
        "resolver_id": null, "resolver_api_token_id": null, "secret_revoked": false,
        "validity": "valid", "severity": "critical", "assignee_id": null, "assignee_email":
        null, "share_url": "[REDACTED]", "feedback_list": [], "risk_score": 97, "severity_rule_id":
        10860, "is_vaulted": false, "declarative_secret_status": "active", "resolve_reason":
        null, "ignore_reason": null, "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/public-incidents/52",
        "tags": ["FROM_HISTORICAL_SCAN"], "custom_tags": [], "destination_tickets":
        [], "incident_name": "AWS IAM Keys"}, {"id": 57, "detector": {"name": "gitguardian_test_token_checked",
        "display_name": "GitGuardian Test Token Checked", "nature": "specific", "family":
        "token", "category": "internal", "detector_group_name": "gitguardian_test_token_checked",
        "detector_group_display_name": "GitGuardian Test Token Checked"}, "date":
        "2021-12-10T10:36:08Z", "secret_id": 7970357, "secret_hash": "cfDzN5RpdE7fN0bd474gxh8fBT9kKunY+sHOlD+OeXGzGAkSCxpDOKaZihAFaYMH",
        "[...]
