interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=5&validity=valid
  response:
    body:
      string: '[{"id": 52, "detector": {"name": "aws_iam", "display_name": "AWS IAM
        Keys", "nature": "specific", "family": "credentials", "category": "cloud_provider",
        "detector_group_name": "aws_iam", "detector_group_display_name": "AWS IAM
        Keys"}, "date": "2024-12-17T10:19:33Z", "secret_id": 14592883, "secret_hash":
        "jfpGRuRzwwkh+0rO1sdbA98K4zuSMBfQHlBIXMm5dQVFAmmDL4Qc71cZRqNcojMG", "hmsl_hash":
        "e50cad6b8e0ca71b4e13b0091d440308990047320f621fadabfb37916010e8ad", "occurrences_count":
        1, "status": "TRIGGERED", "triggered_at": "2025-01-07T18:06:02.777462Z", "ignored_at":
        null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at": null,
        "resolver_id": null, "resolver_api_token_id": null, "secret_revoked": false,
        "validity": "valid", "severity": "critical", "assignee_id": null, "assignee_email":
        null, "share_url": "[REDACTED]", "feedback_list": [], "risk_score": 97, "severity_rule_id":
        11885, "is_vaulted": false, "declarative_secret_status": "active", "resolve_reason":
        null, "ignore_reason": null, "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/public-incidents/52",
        "tags": ["FROM_HISTORICAL_SCAN"], "custom_tags": [], "destination_tickets":
        [], "incident_name": "AWS IAM Keys"}, {"id": 57, "detector": {"name": "gitguardian_test_token_checked",
        "display_name": "GitGuardian Test Token Checked", "nature": "specific", "family":
        "token", "category": "internal", "detector_group_name": "gitguardian_test_token_checked",
        "detector_group_display_name": "GitGuardian Test Token Checked"}, "date":
        "2021-12-10T10:36:08Z", "secret_id": 7970357, "secret_hash": "cfDzN5RpdE7fN0bd474gxh8fBT9kKunY+sHOlD+OeXGzGAkSCxpDOKaZihAFaYMH",
        "hmsl_hash": "49b26d210036e493d068e32207ab35c98242c41d82db746b1342ef497560195e",
        "occurrences_count": 187, "status": "ASSIGNED", "triggered_at": "2025-01-07T18:06:03.015423Z",
        "ignored_at": null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at":
        null, "resolver_id": null, "resolver_api_token_id": null, "secret_revoked":
        false, "validity": "valid", "severity": "critical", "assignee_id": 1778296,
        "assignee_email": "zeke@binion.io", "share_url": "[REDACTED]", "feedback_list":
        [{"created_at": "2026-04-23T00:37:26.701645Z", "updated_at": "2026-04-23T00:37:26.701660Z",
        "email": "zeke@binion.io", "member_id": 1778296, "answers": [{"type": "boolean",
        "field_ref": "revoked_yes_no", "field_label": "Has this secret been revoked?",
        "boolean": true}, {"type": "text", "field_ref": "remarks_text", "field_label":
        "Additional remarks", "text": ""}]}], "risk_score": 27, "severity_rule_id":
        11891, "is_vaulted": false, "declarative_secret_status": "active", "resolve_reason":
        null, "ignore_reason": null, "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/public-incidents/57",
        "tags": ["COMPANY_NAME_IN_COMMIT", "DOMAIN", "FROM_HISTORICAL_SCAN", "TEST_FILE",
        "INTERNALLY_LEAKED"], "custom_tags": [], "destination_tickets": [], "incident_name":
        "GitGuardian Test Token Checked"}, {"id": 12[...]
