interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&search=aws
  response:
    body:
      string: '{"count": 1102, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?page=2&page_size=5&search=aws",
        "previous": null, "results": [{"id": 24590787, "account": 8, "criterion":
        "AWS Keys", "date": "2026-01-12T15:27:28Z", "last_trigger_published_at": "2026-01-12T15:27:28Z",
        "last_triggered_at": "2026-01-12T15:33:36.783106Z", "last_trigger_detected_at":
        "2026-01-12T15:33:36.783106Z", "hash": "S/c7Y0f34gQYCYuTir+9tfWUCHbGG2SB2ejhc2TzrxnJAP7RL4Qc71cZRqNcojMG",
        "policy": 1, "ignored": true, "ignored_at": "2026-01-12T15:33:36.792417Z",
        "ignore_reason": "invalid", "ignorer": 491414, "resolved": false, "resolved_at":
        null, "resolver": null, "regression": false, "manual_severity_setter": null,
        "policy_name": "ensure_no_secrets", "policy_display_name": "Secrets detection",
        "ignorer_display_name": "8@bot.gitguardian.com", "ignorer_type": "user", "resolver_display_name":
        "none", "resolver_type": "none", "manual_severity_setter_display_name": "none",
        "manual_severity_setter_type": "none", "status": "IGNORED", "issue_name":
        "AWS IAM Keys", "severity_rule_config": null, "declarative_secret_status":
        "invalid", "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "gg-tools@gitguardianengineering.onmicrosoft.com",
        "name": "gg-tools"}], "user_permission": 7, "is_publicly_shared": false, "feedbacks_count":
        0, "occurrences_presence_seen_count": 1, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 0, "sources":
        [{"name": "Alina''s site (document libraries) / Documents", "type": "sharepoint_online_drive",
        "path": "Alina''s site (document libraries) / Documents", "source_criticality":
        "unknown"}], "custom_tags": [], "vault_metadata": null, "is_vaulted": false,
        "similar_issue_count": 0, "score": 7, "displayed_occurrence": {"id": 234815659,
        "issue": 24590787, "account": 8, "kind": "HIST", "element": "{\"drive_id\":
        \"b!EFtsUNZdNkyikeU9z6xQzkUMGeBD9bdJo5M6BS3bW67zTZ14Z8npSqr01XpQaXIh\", \"parent_reference_path\":
        \"/drives/b!EFtsUNZdNkyikeU9z6xQzkUMGeBD9bdJo5M6BS3bW67zTZ14Z8npSqr01XpQaXIh/root:\",
        \"file_id\": \"01Y5MCAQ3ZR5LIZECX3VCJF4HOR4QQQCUI\"}", "element_type": "SHAREPOINT_ONEDRIVE_FILE",
        "author_name": "gg-tools", "author_info": "gg-tools@gitguardianengineering.onmicrosoft.com",
        "value": null, "value_hash": "IoeO9NqppbMYrBec5EYVeL24YscpUDvxkMRdVgHjHUPSLcps2z4rUV35xgH8mqlo",
        "published_at": "2026-01-12T15:27:28Z", "date": "2026-01-12T15:27:28Z", "detected_at":
        "2026-01-12T15:30:00.373322Z", "is_vcs_type": false, "last_detected_at": "2026-01-12T15:27:28Z",
        "last_seen_at": "2026-01-12T15:27:28Z", "data": {}, "url": "https://gitguardianengineering.sharepoint.com/sites/Alina%27ssite/_layouts/15/Doc.aspx?sourcedoc=%7B8C568F79-5790-44DD-92F0-EE8F21080A88%7D&file=AWS%20secrets.docx&action=default&mobileredirect=true",
        "source": {"id": 23920761, "url": "https://gitguardianengineering.sharepoint.com/sites/Alina%27ssite/Shared%20Documents",
        "type": "sharepoint_online_drive", "display_name": "Alina''s site (document
        libraries) / Documents", "visibility": "private", "monitored": true, "source_criticality":
        "unknown", "deleted_at": null, "default_branch": null}, "regression": false,
        "content": 120431919, "secrets_engine_version": "2.154.3", "matches": [{"name":
        "client_id", "string_matched": "[REDACTED]", "indice_start": 1128, "indice_end":
        1148, "pre_line_start": null, "pre_line_end": null, "post_line_start": null,
        "post_line_end": null}, {"name": "client_secret", "string_matched": "[REDACTED]",
        "indice_start": 159, "indice_end": 199, "pre_line_start": null, "pre_line_end":
        null, "post_line_start": null, "post_line_end": null}], "most_sensitive_match_name":
        "client_secret", "insights": [], "filepath": "AWS secrets.docx", "filename":
        "AWS secrets.docx", "presence": "visible", "last_presence_seen_at": "2026-01-13T14:17:47.364898Z",
        "last_presence_check_at": "2026-01-13T14:17:47.364898Z", "first_presence_deleted_at":
        null, "seen_in_default_branch": null, "change_type": null, "full_tags": [{"type":
        "FROM_HISTORICAL_SCAN", "metadata": null}]}, "has_dropped_occurrences": false,
        "tags": ["FROM_HISTORICAL_SCAN"], "public_exposure": {"source_publicly_visible":
        false, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "occurrences_count": 1}, {"id": 23429983, "account": 8, "criterion": "AWS
        Keys", "date": "2025-12-16T17:22:08Z", "last_trigger_published_at": "2025-12-16T17:22:08Z",
        "last_triggered_at": "2025-12-16T18:22:25.117146Z", "last_trigger_detected_at":
        "2025-12-16T18:22:25.117146Z", "hash": "Bxk/2SaXQPI8yl7xAhB3l3Q9xdra8RHtG7PEK3Wc2BUYBzgKL4Qc71cZRqNcojMG",
        "policy": 1, "ignored": true, "ignored_at": "2025-12-16T18:22:25.122585Z",
        "ignore_reason": "invalid", "ignorer": 491414, "reso[...]
