interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=20&status=IGNORED
  response:
    body:
      string: '[{"id": 1, "detector": {"name": "stripe", "display_name": "Stripe Keys",
        "nature": "specific", "family": "token", "category": "payment_system", "detector_group_name":
        "stripe_keys", "detector_group_display_name": "Stripe Keys"}, "date": "2022-09-21T12:48:20Z",
        "secret_id": 14030708, "secret_hash": "oRwIqXVsin9BmHcHQx6WhicHNz4oNA/2C46qrJwl9Mn9/1HViIVhmFkAG+mbE/6F",
        "hmsl_hash": "413ceb0ac344f91b4de665e1c6d73af3a46a26b6562b4a934fe143a900acbeb6",
        "occurrences_count": 5, "status": "IGNORED", "triggered_at": "2025-01-07T18:06:02.721195Z",
        "ignored_at": "2025-07-30T12:45:49.970856Z", "ignorer_id": null, "ignorer_api_token_id":
        "e9a6365c-e79a-4ad9-b851-29489298e615", "resolved_at": null, "resolver_id":
        null, "resolver_api_token_id": null, "secret_revoked": false, "validity":
        "invalid", "severity": "unknown", "assignee_id": null, "assignee_email": null,
        "share_url": "[REDACTED]", "feedback_list": [], "risk_score": 9, "severity_rule_id":
        null, "is_vaulted": false, "declarative_secret_status": "invalid", "resolve_reason":
        null, "ignore_reason": "invalid", "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/public-incidents/1",
        "tags": ["FROM_HISTORICAL_SCAN", "INTERNALLY_LEAKED"], "custom_tags": [],
        "destination_tickets": [], "incident_name": "Stripe Keys"}, {"id": 62, "detector":
        {"name": "generic_high_entropy_secret", "display_name": "Generic High Entropy
        Secret", "nature": "generic", "family": "other", "category": "other", "detector_group_name":
        "generic_high_entropy_secret", "detector_group_display_name": "Generic High
        Entropy Secret"}, "date": "2021-05-05T14:31:57Z", "secret_id": 7970372, "secret_hash":
        "E0P08MxvQ0WZh0WYjvO9IPqXps/WBpCKl5ky7B6EaoHJVYxpp+KkPCNpyNbtXqJM", "hmsl_hash":
     [...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=5&ignorer_id=492181
  response:
    body:
      string: '[{"id": 62, "detector": {"name": "generic_high_entropy_secret", "display_name":
        "Generic High Entropy Secret", "nature": "generic", "family": "other", "category":
        "other", "detector_group_name": "generic_high_entropy_s[...]
