interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/sources?ordering=-last_scan_date&per_page=5
  response:
    body:
      string: '[{"id": 26694167, "type": "slack", "full_name": "Testing Slack / #social",
        "health": "unknown", "source_criticality": "unknown", "default_branch": null,
        "default_branch_head": null, "open_incidents_count": 0, "closed_incidents_count":
        0, "last_scan": null, "monitored": true, "visibility": "public", "external_id":
        "C0ADVSNQBAN", "secret_incidents_breakdown": {"open_secret_incidents": {"total":
        0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0, "low": 0,
        "info": 0, "unknown": 0}}, "closed_secret_incidents": {"total": 0, "severity_breakdown":
        {"critical": 0, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}}},
        "url": "https://11deletetestingslack.slack.com/archives/C0ADVSNQBAN", "provider_metadata":
        {"archived": false}, "deleted": false}, {"id": 26694166, "type": "slack",
        "full_name": "Testing Slack / #nouveau-canal", "health": "unknown", "source_criticality":
        "unknown", "default_branch": null, "default_branch_head": null, "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": null, "monitored": true, "visibility":
        "public", "external_id": "C0ADSEJ45RT", "secret_incidents_breakdown": {"open_secret_incidents":
        {"total": 0, "severity_breakdown": {"critical": 0, "high": [...]
