interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&feedback=true
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?feedback=true&page=2&page_size=5",
        "previous": null, "results": [{"id": 27966952, "account": 8, "criterion":
        "OpenAI API Key", "date": "2026-03-06T06:44:00Z", "last_trigger_published_at":
        "2026-03-06T06:44:00Z", "last_triggered_at": "2026-03-06T06:46:00.813247Z",
        "last_trigger_detected_at": "2026-03-06T06:46:00.813247Z", "hash": "qAqxBGe/jVUeo2sH1EACPXT4xKnxJeIOJlp4g3WKNS64WAaZ95GRLqiXIWrK60u6",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null, "resolved": true, "resolved_at": "2026-03-06T06:49:45.664666Z",
        "resolver": 491414, "regression": false, "manual_severity_setter": null, "policy_name":
        "ensure_no_secrets", "policy_display_name": "Secrets detection", "ignorer_display_name":
        "none", "ignorer_type": "none", "resolver_display_name": "8@bot.gitguardian.com",
        "resolver_type": "user", "manual_severity_setter_display_name": "none", "manual_severity_setter_type":
        "none", "status": "RESOLVED", "issue_name": "OpenAI API Key", "severity_rule_config":
        {"id": 10876, "gg_created_at": "2026-02-12T15:13:37.684414Z", "gg_updated_at":
        "2026-02-12T15:13:37.684418Z", "index": 190, "severity": 20, "rule": {"id":
        519, "gg_created_at": "2025-03-18T08:57:54.142609Z", "gg_updated_at": "2025-03-18T08:57:54.142612Z",
        "name": "Valid secret", "description": "The secrets were valid when the incident
        was discovered", "json_rule": {"operator": "EQ", "arg1": {"path": "issue.secret.validity_status",
        "default": null}, "arg2": {"value": "valid"}}, "is_global": true, "scope":
        "private", "author": null}}, "declarative_secret_status": "revoked", "assignee":
        null, "last_presence_check_at": null, "secret": "[REDACTED]", "severity":
        100, "authors": [{"info": "romain.jouhannet@gitguardian.com", "name": "Romain
        Jouhannet"}], "user_permission": 7, "is_publicly_shared": false, "feedbacks_count":
        0, "occurrences_presence_seen_count": 1, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 1, "sources":
        [{"name": "RomainJ / demo", "type": "gl_project", "path": "romain/demo", "source_criticality":
        "unknown"}], "custom_tags": [], "vault_metadata": null, "is_vaulted": false,
        "similar_issue_count": 0, "score": 71, "displayed_occurrence": {"id": 248062638,
        "issue": 27966952, "account": 8, "kind": "RLTM", "element": "ffed371ff171aaf844c433d58ace37f0f7f3aba1",
        "element_type": "GIT_COMMIT", "author_name": "Romain Jouhannet", "author_info":
        "romain.jouhannet@gitguardian.com", "value": null, "value_hash": "4sooonqBbWJu6Yf7TJItubjzIv+0+o8DtXQyynagLjSNV1GV7JDrI7vPyIRMpjWn",
        "published_at": "2026-03-06T06:44:00Z", "date": "2026-03-06T06:44:00Z", "detected_at":
        "2026-03-06T06:45:58.524698Z", "is_vcs_type": true, "last_detected_at": "2026-03-06T06:44:00Z",
        "last_seen_at": "2026-03-06T06:44:00Z", "data": {}, "url": "https://gitlab-01.aws-qa-gitguardian.com/romain/demo/commit/ffed371ff171aaf844c433d58ace37f0f7f3aba1#057715000d77d4d956b27699e12440e405fb48ed_0_1",
        "source": {"id": 23485702, "url": "https://gitlab-01.aws-qa-gitguardian.com/romain/demo",
        "type": "gl_project", "display_name": "RomainJ / demo", "visibility": "private",
        "monitored": true, "source_criticality": "unknown", "deleted_at": null, "default_branch":
        "main"}, "regression": false, "content": 138922166, "secrets_engine_version":
        "2.158.0", "matches": [{"name": "apikey", "string_matched": "[REDACTED]",
        "indice_start": 33, "indice_end": 84, "pre_line_start": null, "pre_line_end":
        null, "post_line_start": 1, "post_line_end": 1}], "most_sensitive_match_name":
        "apikey", "insights": [], "filepath": "local_scanning.txt", "filename": "local_scanning.txt",
        "presence": "visible", "last_presence_seen_at": "2026-03-06T06:46:00.854986Z",
        "last_presence_check_at": "2026-03-06T06:46:00.854986Z", "first_presence_deleted_at":
        null, "seen_in_default_branch": true, "change_type": "addition", "full_tags":
        [{"type": "DEFAULT_BRANCH", "metadata": null}]}, "has_dropped_occurrences":
        false, "tags": ["DEFAULT_BRANCH", "REVOCABLE_BY_GG"], "public_exposure": {"source_publicly_visible":
        false, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "occurrences_count": 1}, {"id": 27743219, "account": 8, "criterion": "Generic
        Password", "date": "2026-03-02T08:03:19Z", "last_trigger_published_at": "2026-03-02T08:03:19Z",
        "last_triggered_at": "2026-03-02T08:04:40.966599Z", "last_trigger_detected_at":
        "2026-03-02T08:04:40.966599Z", "hash": "DIhTV8EvZb3qiiqNdZxIdx5KXxPM1+opgvbjqYv9ikr7Xshkfma8ieOEhD7igl+v",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null, "resolved": false, "resolved[...]
