interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/members?per_page=5
  response:
    body:
      string: '[{"id": 10, "role": "manager", "access_level": "manager", "email":
        "bruce-wayne-gg@protonmail.com", "name": "Bruce Wayne", "created_at": "2020-01-15T15:07:36.510559Z",
        "last_login": "2020-09-30T12:21:19.319487Z", "active": true}, {"id": 13, "role":
        "manager", "access_level": "manager", "email": "aymeric.sicard@gitguardian.com",
        "name": "Aymeric SICARD", "created_at": "2020-01-21T09:35:47.907207Z", "last_login":
        "2026-06-22T14:20:46.680540Z", "active": true}, {"id": 2508, "role": "manager",
        "access_level": "manager", "email": "guillaume.charpiat@gitguardian.com",
        "name": "Guillaume CHARPIAT", "created_at": "2020-03-23T17:53:57.158457Z",
        "last_login": "2026-06-10T11:29:54.420261Z", "active": true}, {"id": 37699,
        "role": "manager", "access_level": "manager", "email": "alexis.larnaud@gitguardian.com",
        "name": "Alexis LARNAUD", "created_at": "2020-09-03T11:16:05.980606Z", "last_login":
        "2026-06-22T09:33:43.124144Z", "active": true}, {"id": 63809, "role": "manager",
        "access_level": "manager", "email": "orian.roturier@gitguardian.com", "name":
        "Orian ROTURIER", "created_at": "2020-11-25T14:01:01.749542Z", "last_login":
        "2025-08-05T08:47:38.723615Z", "active": true}]'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, HEAD, OPTIONS
      link:
      - <https://api.gitguardian.com/v1/members?cursor=cD02MzgwOQ%3D%3D&per_page=5>;
        rel="next"
      x-app-version:
      - v2.521.0
      x-per-page:
      - '5'
      x-secrets-engine-version:
      - 2.165.0
    status:
      code: 200
      message: OK
version: 1
