interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&source_criticality__in=critical%2Chigh
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?page=2&page_size=5&source_criticality__in=critical%2Chigh",
        "previous": null, "results": [{"id": 33677678, "account": 8, "criterion":
        "Slack Bot Token", "date": "2026-06-05T10:30:39Z", "last_trigger_published_at":
        "2026-06-05T10:30:39Z", "last_triggered_at": "2026-06-05T10:30:41.691996Z",
        "last_trigger_detected_at": "2026-06-05T10:30:41.691996Z", "hash": "yqtucKpj6ENdYYA0YiXpal4qcQLOZvxb28M4FZHJU90ArWBROMgPzYhV28m6OGG4",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at": null, "resolver": null, "regression": false,
        "manual_severity_setter": null, "ignorer_display_name": "none", "ignorer_type":
        "none", "resolver_display_name": "none", "resolver_type": "none", "manual_severity_setter_display_name":
        "none", "manual_severity_setter_type": "none", "status": "TRIGGERED", "issue_name":
        "Slack Bot Token", "severity_rule_config": null, "declarative_secret_status":
        null, "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "pierre.lalanne.p@gmail.com", "name":
        "Pierre Lalanne"}], "user_permission": 7, "is_publicly_shared": true, "feedbacks_count":
        0, "occurrences_presence_seen_count": 1, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 1, "sources":
        [{"id": 17188087, "name": "pierrelalanne/test_repo", "type": "gh_repository",
        "path": "pierrelalanne/test_repo", "source_criticality": "critical", "monitoring_status":
        "active", "deleted_at": null}], "custom_tags": [], "vault_metadata": null,
        "is_vaulted": false, "similar_issue_count": 0, "score": 12, "displayed_occurrence":
        {"id": 271584642, "issue": 33677678, "account": 8, "kind": "RLTM", "element":
        "b355f606d5884cfbe83a19c83e6804c0fc9a95f0", "element_type": "GIT_COMMIT",
        "author_name": "Pierre Lalanne", "author_info": "pierre.lalanne.p@gmail.com",
        "value": null, "value_hash": "BwX3iCglyVyrnbQJ+uR2bcHgVmnkzFUUxyizOMJrHc3YG8H/gEDCz7InbgSdLTaR",
        "published_at": "2026-06-05T10:30:39Z", "date": "2026-06-05T10:30:39Z", "detected_at":
        "2026-06-05T10:30:40.398638Z", "is_vcs_type": true, "last_detected_at": "2026-06-05T10:30:39Z",
        "last_seen_at": "2026-06-05T10:30:39Z", "data": {}, "url": "https://github.com/pierrelalanne/test_repo/commit/b355f606d5884cfbe83a19c83e6804c0fc9a95f0#diff-cf36aad2a70418098362b5fbd96a9fbbb199e931ccab1ee9713f5b5eb84eba94R67",
        "source": {"id": 17188087, "url": "https://github.com/pierrelalanne/test_repo",
        "type": "gh_repository", "display_name": "pierrelalanne/test_repo", "visibility":
        "private", "monitored": true, "source_criticality": "critical", "deleted_at":
        null, "default_branch": "main", "monitoring_status": "active"}, "regression":
        false, "content": 166970520, "secrets_engine_version": "2.164.0", "matches":
        [{"name": "apikey", "string_matched": "[REDACTED]", "indice_start": 303, "indice_end":
        345, "pre_line_start": null, "pre_line_end": null, "post_line_start": 67,
        "post_line_end": 67}], "most_sensitive_match_name": "apikey", "insights":
        [], "filepath": "pii/first_pii.py", "filename": "first_pii.py", "presence":
        "visible", "last_presence_seen_at": "2026-06-05T10:30:41.723413Z", "last_presence_check_at":
        "2026-06-05T10:30:41.723413Z", "first_presence_deleted_at": null, "seen_in_default_branch":
        true, "change_type": "addition", "full_tags": [{"type": "DEFAULT_BRANCH",
        "metadata": null, "field": "content"}]}, "has_dropped_occurrences": false,
        "tags": ["DEFAULT_BRANCH", "REVOCABLE_BY_GG"], "public_exposure": {"source_publicly_visible":
        false, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "occurrences_count": 1}, {"id": 33677565, "account": 8, "criterion": "Slack
        Bot Token", "date": "2026-06-05T10:22:50Z", "last_trigger_published_at": "2026-06-05T10:22:50Z",
        "last_triggered_at": "2026-06-05T10:22:54.870744Z", "last_trigger_detected_at":
        "2026-06-05T10:22:54.870744Z", "hash": "E0oFI6V78grKtHh0UZXzEEgK25OJOpHtnKC+t7Dzy0qhfh5lOMgPzYhV28m6OGG4",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at": null, "r[...]
