interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&issue_tracker__in=jira_cloud_notifier
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?issue_tracker__in=jira_cloud_notifier&page=2&page_size=5",
        "previous": null, "results": [{"id": 34186239, "account": 8, "criterion":
        "Generic Password", "date": "2026-06-22T15:14:57Z", "last_trigger_published_at":
        "2026-06-22T15:14:57Z", "last_triggered_at": "2026-06-22T15:16:49.799821Z",
        "last_trigger_detected_at": "2026-06-22T15:16:49.799821Z", "hash": "l20PufsE4GDTHxA+dQvcCRYgs5n0Jvz4ekZkuygCenyvIwxefma8ieOEhD7igl+v",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at": null, "resolver": null, "regression": false,
        "manual_severity_setter": null, "ignorer_display_name": "none", "ignorer_type":
        "none", "resolver_display_name": "none", "resolver_type": "none", "manual_severity_setter_display_name":
        "none", "manual_severity_setter_type": "none", "status": "TRIGGERED", "issue_name":
        "Generic Password", "severity_rule_config": null, "declarative_secret_status":
        null, "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "gim+dev@gitguardian.com", "name": "dev"}],
        "user_permission": 7, "is_publicly_shared": true, "feedbacks_count": 0, "occurrences_presence_seen_count":
        1, "occurrences_presence_deleted_count": 0, "occurrences_presence_should_be_checked":
        null, "locations_count": 1, "sources": [{"id": 23485701, "name": "olaugier
        / test", "type": "gl_project", "path": "olaugier/test", "source_criticality":
        "unknown", "monitoring_status": "active", "deleted_at": null}], "custom_tags":
        [], "vault_metadata": null, "is_vaulted": false, "similar_issue_count": 20,
        "score": 53, "displayed_occurrence": {"id": 274668904, "issue": 34186239,
        "account": 8, "kind": "RLTM", "element": "66a360da7770977c2b7146563965cc3b8f9bef14",
        "element_type": "GIT_COMMIT", "author_name": "dev", "author_info": "gim+dev@gitguardian.com",
        "value": null, "value_hash": "qqQJUpRklXj/KcBjoHQUnrWhkWLSAzSR9We18pNwPA0YKdPADPOCUzfoeV0RPL4H",
        "published_at": "2026-06-22T15:14:57Z", "date": "2026-06-22T15:14:57Z", "detected_at":
        "2026-06-22T15:16:47.285045Z", "is_vcs_type": true, "last_detected_at": "2026-06-22T15:14:57Z",
        "last_seen_at": "2026-06-22T15:14:57Z", "data": {}, "url": "https://gitlab-01.aws-qa-gitguardian.com/olaugier/test/commit/66a360da7770977c2b7146563965cc3b8f9bef14#157ea6d1df25f65376ae6ed723abb24924786892_0_2",
        "source": {"id": 23485701, "url": "https://gitlab-01.aws-qa-gitguardian.com/olaugier/test",
        "type": "gl_project", "display_name": "olaugier / test", "visibility": "private",
        "monitored": true, "source_criticality": "unknown", "deleted_at": null, "default_branch":
        "main", "monitoring_status": "active"}, "regression": false, "content": 171323163,
        "secrets_engine_version": "2.165.0", "matches": [{"name": "password", "string_matched":
        "[REDACTED]", "indice_start": 67, "indice_end": 113, "pre_line_start": null,
        "pre_line_end": null, "post_line_start": 2, "post_line_end": 2}], "most_sensitive_match_name":
        "password", "insights": [], "filepath": "configuration_63.txt", "filename":
        "configuration_63.txt", "presence": "visible", "last_presence_seen_at": "2026-06-22T15:16:49.824313Z",
        "last_presence_check_at": "2026-06-22T15:16:49.824313Z", "first_presence_deleted_at":
        null, "seen_in_default_branch": true, "change_type": "addition", "full_tags":
        [{"type": "DEFAULT_BRANCH", "metadata": null, "field": "content"}]}, "has_dropped_occurrences":
        false, "tags": ["DEFAULT_BRANCH"], "public_exposure": {"source_publicly_visible":
        false, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "occurrences_count": 1}, {"id": 34122510, "account": 8, "criterion": "Generic
        Password", "date": "2026-06-19T13:41:03Z", "last_trigger_published_at": "2026-06-19T13:41:03Z",
        "last_triggered_at": "2026-06-19T13:43:05.020137Z", "last_trigger_detected_at":
        "2026-06-19T13:43:05.020137Z", "hash": "ZrwgRkzkzFhTNLZ5+7Vy66dNh9edibFaWQu44rsMeP6/Ykt9fma8ieOEhD7igl+v",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at": null, "[...]
