interactions:
- request:
    body: '{"comment": "Investigating this incident via MCP"}'
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: POST
    uri: https://api.gitguardian.com/v1/incidents/secrets/21460/notes
  response:
    body:
      string: '{"id": 74758007, "member_id": 480870, "api_token_id": "d0ca9877-641f-4c37-8857-c08e0ae148c4",
        "created_at": "2026-06-23T14:12:48.339652Z", "updated_at": null, "comment":
        "Investigating this incident via MCP", "issue_id": 21460, "incident_id": 21460,
        "user_id": 480218, "api_token": "ggmcp CI (April)"}'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, POST, HEAD, OPTIONS
      x-app-version:
      - v2.521.0
      x-secrets-engine-version:
      - 2.165.0
    status:
      code: 201
      message: Created
- request:
    body: '{"comment":"Resolved: secret rotated"}'
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: PATCH
    uri: https://api.gitguardian.com/v1/incidents/secrets/21460/notes/74758007
  response:
    body:
      string: '{"id": 74758007, "member_id": 480870, "api_token_id": "d0ca9877-641f-4c37-8857-c08e0ae148c4",
        "created_at": "2026-06-23T14:12:48.339652Z", "updated_at": "2026-06-23T14:12:48.681495Z",
        "comment": "Resolved: secret rotated", "issue_id": 21460, "incident_id": 21460,
        "user_id": 480218, "api_token": "ggmcp CI (April)"}'
    headers:
      Content-Type:
      - application/json
      allow:
      - PUT, PATCH, DELETE, OPTIONS
      x-app-version:
      - v2.521.0
      x-secrets-engine-version:
      - 2.165.0
    status:
      code: 200
      message: OK
version: 1
