interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/audit_logs?per_page=10
  response:
    body:
      string: '[{"id": 20290245, "api_token_id": null, "member_id": 1139585, "member_email":
        "ghislain.casier@gitguardian.com", "member_name": "Ghislain CASIER", "date":
        "2026-04-02T07:24:14.392589Z", "data": {"type": "saml_sso"}, "event_name":
        "user.logged_in", "action_type": "OTHER", "target_ids": ["1137449"], "ip_address":
        "185.175.151.131"}, {"id": 20289873, "api_token_id": null, "member_id": 1322458,
        "member_email": "hugo.guiheneuf@gitguardian.com", "member_name": "Hugo GUIH\u00c9NEUF",
        "date": "2026-04-02T07:07:18.407023Z", "data": {"name": "ggshield token 2026-04-02",
        "expire_at": null}, "event_name": "personal_access_token.created", "action_type":
        "CREATE", "target_ids": ["c3d1071f-572f-478f-a511-c8edaf03bb8f"], "ip_address":
        "185.175.151.131"}, {"id": 20289870, "api_token_id": null, "member_id": 1322458,
        "member_email": "hugo.guiheneuf@gitguardian.com", "member_name": "Hugo GUIH\u00c9NEUF",
        "date": "2026-04-02T07:07:06.778442Z", "data": {"type": "saml_sso"}, "event_name":
        "user.logged_in", "action_type": "OTHER", "target_ids": ["[...]
