interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&date__le=2025-12-31&date__ge=2024-01-01
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?date__ge=2024-01-01&date__le=2025-12-31&page=2&page_size=5",
        "previous": null, "results": [{"id": 30818247, "account": 8, "criterion":
        "Claude API Key", "date": "2025-12-19T08:54:54Z", "last_trigger_published_at":
        "2025-12-19T08:54:54Z", "last_triggered_at": "2026-04-22T15:59:49.925044Z",
        "last_trigger_detected_at": "2026-04-22T15:59:49.925044Z", "hash": "sZn1CS8E1GrE0Qu3CkjUdxHljt+LVX+8WiX9g95Qb0jNvobDiWeX8ZNFxTsysfz1",
        "ignored": true, "ignored_at": "2026-04-22T15:59:49.932528Z", "ignore_reason":
        "invalid", "ignorer": 491414, "resolved": false, "resolved_at": null, "resolver":
        null, "regression": false, "manual_severity_setter": null, "ignorer_display_name":
        "8@bot.gitguardian.com", "ignorer_type": "user", "resolver_display_name":
        "none", "resolver_type": "none", "manual_severity_setter_display_name": "none",
        "manual_severity_setter_type": "none", "status": "IGNORED", "issue_name":
        "Claude API Key", "severity_rule_config": null, "declarative_secret_status":
        "invalid", "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "", "name": ""}], "user_permission":
        7, "is_publicly_shared": false, "feedbacks_count": 0, "occurrences_presence_seen_count":
        1, "occurrences_presence_deleted_count": 0, "occurrences_presence_should_be_checked":
        null, "locations_count": 0, "sources": [{"id": 27612802, "name": "docker-trial/test",
        "type": "jfrog_container_registry_v2_repository", "path": "docker-trial/test",
        "source_criticality": "unknown", "monitoring_status": "active", "deleted_at":
        "2026-06-10T13:57:55.109144+00:00"}], "custom_tags": [], "vault_metadata":
        null, "is_vaulted": false, "similar_issue_count": 0, "score": 12, "displayed_occurrence":
        {"id": 261862866, "issue": 30818247, "account": 8, "kind": "HIST", "element":
        "{\"repository_name\": \"docker-trial/test\", \"file_path\": \"main.py\"}",
        "element_type": "CONTAINER_LAYER", "author_name": "", "author_info": "", "value":
        null, "value_hash": "2nKj1DQO5oDFeuLQmxhAastnTOwNkPpXetDLhcYw4GEtonYb1Lvc8iON0EcSEZAD",
        "published_at": "2025-12-19T08:54:54Z", "date": "2025-12-19T08:54:54Z", "detected_at":
        "2026-04-22T15:56:46.122179Z", "is_vcs_type": false, "last_detected_at": "2025-12-19T08:54:54Z",
        "last_seen_at": "2025-12-19T08:54:54Z", "data": {"blob_sha": "sha256:c8ebd6a8b0125c8cff3e4ca275c6438f986265c8a46a919821d67af68825af05",
        "image_tag": "v1", "manifest_sha": "sha256:55e18847e9d4e4ff60d0b8cde21c964dcad01d8960c15c7e43107957a198c8c0",
        "manifest_digest": "sha256:926faa6d63311f8bfe03a7cc10275b9a79fd544c78ae2d89bea790e2cc469103"},
        "url": "https://gitguardianengineering.jfrog.io/ui/repos/tree/General/docker-trial/test/v1/sha256__c8ebd6a8b0125c8cff3e4ca275c6438f986265c8a46a919821d67af68825af05",
        "source": {"id": 27612802, "url": "https://gitguardianengineering.jfrog.io/ui/repos/tree/General/docker-trial/test",
        "type": "jfrog_container_registry_v2_repository", "display_name": "docker-trial/test",
        "visibility": "private", "monitored": true, "source_criticality": "unknown",
        "deleted_at": "2026-06-10T13:57:55.109144Z", "default_branch": null, "monitoring_status":
        "active"}, "regression": false, "content": 154961672, "secrets_engine_version":
        "2.161.0", "matches": [{"name": "apikey", "string_matched": "[REDACTED]",
        "indice_start": 8, "indice_end": 116, "pre_line_start": null, "pre_line_end":
        null, "post_line_start": null, "post_line_end": null}], "most_sensitive_match_name":
        "apikey", "insights": [], "filepath": "main.py", "filename": "main.py", "presence":
        "visible", "last_presence_seen_at": "2026-04-22T15:59:49.957496Z", "last_presence_check_at":
        "2026-04-22T15:59:49.957496Z", "first_presence_deleted_at": null, "seen_in_default_branch":
        null, "change_type": null, "full_tags": [{"type": "FROM_HISTORICAL_SCAN",
        "metadata": null, "field": "content"}]}, "has_dropped_occurrences": false,
        "tags": ["FROM_HISTORICAL_SCAN"], "public_exposure": {"source_publicly_visible":
        false, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "occurrences_count": 1}, {"id": 23429983, "account": 8, "criterion": "AWS
        Keys", "date": "2025-12-16T17:22:08Z", "last_trigger_published_at": "2025-12-16T17:22:08Z",
        "last_triggered_at": "2025-12-16T18:22:25.117146Z", "last_trigger_detected_at":
        "2025-12-16T18:22:25.117146Z", "hash": "Bxk/2SaXQPI8yl7xAhB3l3Q9xdra8RHtG7PEK3Wc2BUYBzgKL4Qc71cZRqNcojMG",
        "ignored": true, "ignored_at": "2025-12-16T18:22:25.122585Z", "ignore_reason":
        "invalid", "ignorer": 491414, "resolved": false,[...]
