interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=5&severity=high
  response:
    body:
      string: '[{"id": 23, "detector": {"name": "sendgrid", "display_name": "SendGrid
        Key", "nature": "specific", "family": "token", "category": "messaging_system",
        "detector_group_name": "sendgrid_key", "detector_group_display_name": "SendGrid
        Key"}, "date": "2022-07-19T09:52:09Z", "secret_id": 7970364, "secret_hash":
        "CBz9BMCUQDF3+MCOXcTqfTSvrVZTp8XQF+z38O1amQpnfh2zOwbZvYHhb+uS0r+s", "hmsl_hash":
        "049d5bbb613a172b0eb21c73a827ae34a30233dbfc9e9b75377a4743082bd447", "occurrences_count":
        527, "status": "TRIGGERED", "triggered_at": "2025-01-07T18:06:02.760032Z",
        "ignored_at": null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at":
        null, "resolver_id": null, "resolver_api_token_id": null, "secret_revoked":
        false, "validity": "invalid", "severity": "high", "assignee_id": null, "assignee_email":
        null, "share_url": "[REDACTED]", "feedback_list": [], "risk_score": 0, "severity_rule_id":
        10872, "is_vaulted": false, "declarative_secret_status": "active", "resolve_reason":
        null, "ignore_reason": null, "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/public-incidents/23",
        "tags": ["COMPANY_NAME_IN_COMMIT", "DOMAIN", "FROM_HISTORICAL_SCAN", "TEST_FILE",
        "INTERNALLY_LEAKED"], "custom_tags": [], "destination_tickets": [], "incident_name":
        "SendGrid Key"}, {"id": 24, "detector": {"name": "gitguardian_test_token",
        "display_name": "GitGuardian Development Secret", "nature": "specific", "family":
        "token", "category": "internal", "detector_group_name": "gitguardian_test_token",
        "detector_group_display_name": "GitGuardian Development Secret"}, "date":
        "2022-07-19T09:52:09Z", "secret_id": 7970365, "secret_hash": "DQ6dPu9BXyq1FZTNVzfsEpxI24qF82fR4BvL62o1Q7AVIqBId9tR0/CjGaYu0TLp",
        "hmsl_has[...]
