interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets?per_page=1
  response:
    body:
      string: '[{"id": 21460, "detector": {"name": "aws_iam", "display_name": "AWS
        IAM Keys", "nature": "specific", "family": "credentials", "detector_group_name":
        "aws_iam", "detector_group_display_name": "AWS IAM Keys"}, "date": "2020-10-29T13:19:59.005564Z",
        "secret_id": 70588, "secret_hash": "GxuGpow75lYUqq/11F2BTrhvz5MRq7Lp4iegdts1tBbsUTpYL4Qc71cZRqNcojMG",
        "hmsl_hash": "786f2e4bbe2c1ca4c8d274306a4f598fd8403ec332c2a52e11c3eb2f473c08e7",
        "occurrences_count": 2, "status": "RESOLVED", "triggered_at": "2021-02-11T14:23:22.947577Z",
        "ignored_at": null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at":
        "2026-03-11T22:41:04.525493Z", "resolver_id": 492181, "resolver_api_token_id":
        null, "secret_revoked": true, "validity": "invalid", "severity": "medium",
        "assignee_id": null, "assignee_email": "vincent.boyer@gitguardian.com", "share_url":
        "[REDACTED]", "feedback_list": [{"created_at": "2022-07-20T13:22:52.756189Z",
        "updated_at": "2022-07-20T13:22:52.756207Z", "email": "stanislas.crepin@gitguardian.com",
        "member_id": null, "answers": [{"type": "boolean", "field_ref": "actual_secret_yes_no",
        "field_label": "Is this an actual secret?", "boolean": true}, {"type": "boolean",
        "field_ref": "access_to_sensitive_yes_no", "field_label": "Does this secret
        give or has given access to any sensitive information or services?", "boolean":
        true}, {"type": "boolean", "field_ref": "revoked_yes_no", "field_label": "Has
        this secret been revoked?", "boolean": false}, {"type": "text", "field_ref":
        "remarks_text", "field_label": "Additional remarks", "text": "Hasn''t been
        revoked yet because X"}]}], "risk_score": 100, "is_vaulted": false, "ignore_reason":
        null, "occurrences": null, "secret_presence": {"files_requiring_code_fix":
        0, "files_pending_merge": 0, "files_fixed": 0, "outside_vcs": 0, "removed_outside_vcs":
        0, "in_vcs": 0, "removed_in_vcs": 2}, "regression": false, "gitguardian_url":
        "https://dashboard.gitguardian.com/workspace/8/incidents/21460", "tags": ["PUBLICLY_LEAKED"],
        "incident_name": "AWS IAM Keys", "public_exposure": {"source_publicly_visible":
        true, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "destination_tickets": [{"id": "AEF-97", "type": "jira_cloud", "link": "https://yanne-gg-integration.atlassian.net/browse/AEF-97"}],
        "custom_tags": []}]'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
      link:
      - <https://api.gitguardian.com/v1/incidents/secrets?cursor=cD0yMTQ2MA%3D%3D&per_page=1>;
        rel="next"
      x-app-version:
      - v2.426.0
      x-per-page:
      - '1'
      x-secrets-engine-version:
      - 2.159.0
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets/21460/members
  response:
    body:
      string: '[{"id": 10, "member_id": 10, "role": "manager", "name": "Bruce Wayne",
        "email": "bruce-wayne-gg@protonmail.com", "incident_id": 21460, "incident_permission":
        "full_access"}, {"id": 13, "member_id": 13, "role": "manager", "name": "Aymeric
        SICARD", "email": "aymeric.sicard@gitguardian.com", "incident_id": 21460,
        "incident_permission": "full_access"}, {"id": 2508, "member_id": 2508, "role":
        "manager", "name": "Guillaume CHARPIAT", "email": "guillaume.charpiat@gitguardian.com",
        "incident_id": 21460, "incident_permission": "full_access"}, {"id": 37699,
        "member_id": 37699, "role": "manager", "name": "Alexis [...]
