interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/audit_logs?per_page=5
  response:
    body:
      string: '[{"id": 20290245, "api_token_id": null, "member_id": 1139585, "member_email":
        "ghislain.casier@gitguardian.com", "member_name": "Ghislain CASIER", "date":
        "2026-04-02T07:24:14.392589Z", "data": {"type": "saml_sso"}, "event_name":
        "user.logged_in", "action_type": "OTHER", "target_ids": ["1137449"], "ip_address":
        "185.175.151.131"}, {"id": 20289873, "api_token_id": null, "member_id": 1322458,
        "member_email": "hugo.guiheneuf@gitguardian.com", "member_name": "Hugo GUIH\u00c9NEUF",
        "date": "2026-04-02T07:07:18.407023Z", "data": {"name": "ggshield token 2026-04-02",
        "expire_at": null}, "event_name": "personal_access_token.created", "action_type":
        "CREATE", "target_ids": ["c3d1071f-572f-478f-a511-c8edaf03bb8f"], "ip_address":
        "185.175.151.131"}, {"id": 20289870, "api_token_id": null, "member_id": 1322458,
        "member_email": "hugo.guiheneuf@gitguardian.com", "member_name": "Hugo GUIH\u00c9NEUF",
        "date": "2026-04-02T07:07:06.778442Z", "data": {"type": "saml_sso"}, "event_name":
        "user.logged_in", "action_type": "OTHER", "target_ids": ["1320326"], "ip_address":
        "185.175.151.131"}, {"id": 20284990, "api_token_id": null, "member_id": 1121302,
        "member_email": "candidate.playground+eu5@gitguardian.com", "member_name":
        "Candidate EU5", "date": "2026-04-02T03:16:45.050099Z", "data": null, "event_name":
        "secret_incident.viewed", "action_type": "READ", "target_ids": ["8137955"],
        "ip_address": "108.46.132.81"}, {"id": 20284732, "api_token_id": null, "member_id":
        1121302, "member_email": "candidate.playground+eu5@gitguardian.com", "member_name":
        "Candidate EU5", "date": "2026-04-02T02:57:03.248265Z", "data": null, "event_name":
        "playbook.activated", "action_type": "UPDATE", "target_ids": ["9503"], "ip_address":
        "108.46.132.81"}]'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
      link:
      - <https://api.gitguardian.com/v1/audit_logs?cursor=cD0yMDI4NDczMg%3D%3D&per_page=5>;
        rel="next"
      x-app-version:
      - v2.425.0
      x-per-page:
      - '5'
      x-secrets-engine-version:
      - 2.159.0
    status:
      code: 200
      message: OK
version: 1
