interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets/21460/activity-logs
  response:
    body:
      string: '[{"id": 92680, "member": null, "api_token_id": null, "created_at":
        "2021-02-11T14:23:22.947577Z", "updated_at": null, "content": {"type": "action",
        "content_key": "TRIGGER", "data": {"triggered_at": "2020-10-29T13:19:59.005564+00:00"}},
        "incident_id": 21460}, {"id": 383926, "member": null, "api_token_id": null,
        "created_at": "2021-03-10T09:59:27.398782Z", "updated_at": null, "content":
        {"type": "action", "content_key": "RESOLVE", "data": {"revoked": true}}, "incident_id":
        21460}, {"id": 1394920, "member": null, "api_token_id": null, "created_at":
        "2021-08-25T17:16:06.029941Z", "updated_at": null, "content": {"type": "action",
        "content_key": "SHARE", "data": {"shared_at": "2021-08-25T17:16:06.026036+00:00"}},
        "incident_id": 21460}, {"id": 1547962, "member": null, "api_token_id": null,
        "created_at": "2021-08-30T17:29:48.326754Z", "updated_at": null, "content":
        {"type": "action", "content_key": "AUTO_UNSHARE", "data": {"issue_token_id":
        5706}}, "incident_id": 21460}, {"id": 2918023, "member": {"id": 104916, "name":
        "Wassim HANA", "email": "wassim.hana@gitguardian.com", "access_level": "manager"},
        "api_token_id": null, "created_at": "2022-02-10T17:23:01.713143Z", "updated_at":
        null, "content": {"type": "action", "content_key": "SHARE", "data": {"shared_at":
        "2022-02-10T17:23:01.710300+00:00"}}, "incident_id": 21460}, {"id": 2918040,
        "member": {"id": 104916, "name": "Wassim HANA", "email": "wassim.hana@gitguardian.com",
        "access_level": "manager"}, "api_token_id": null, "created_at": "2022-02-10T17:31:53.593799Z",
        "updated_at": null, "content": {"type": "action", "content_key": "UNSHARE",
        "data": {"unshared_at": "2022-02-10T17:31:53.590070+00:00"}}, "incident_id":
        21460}, {"id": 2999444, "member": null, "api_token_id": null, "created_at":
        "2022-02-22T15:28:01.520877Z", "updated_at": null, "content": {"type": "action",
        "content_key": "SET_SEVERITY", "data": {"severity": "critical", "previous_severity":
        "unknown"}}, "incident_id": 21460}, {"id": 2999445, "member": null, "api_token_id":
        null, "created_at": "2022-02-22T15:28:03.424967Z", "updated_at": null, "content":
        {"type": "action", "content_key": "SET_SEVERITY", "data": {"severity": "unknown",
        "previous_severity": "critical"}}, "incident_id": 21460}, {"id": 2999446,
        "member": null, "api_token_id": null, "created_at": "2022-02-22T15:28:16.658526Z",
        "updated_at": null, "content": {"type": "action", "content_key": "UNRESOLVE",
        "data": null}, "incident_id": 21460}, {"id": 2999447, "member": null, "api_token_id":
        null, "created_at": "2022-02-22T15:28:21.081191Z", "updated_at": null, "content":
        {"type": "action", "content_key": "ASSIGN", "data": {"assignees": [9322]}},
        "incident_id": 21460}, {"id": 2999451, "member": null, "api_token_id": null,
        "created_at": "2022-02-22T15:29:24.093383Z", "updated_at": null, "content":
        {"type": "action", "content_key": "SHARE", "data": {"shared_at": "2022-02-22T15:29:24.089492+00:00"}},
        "incident_id": 21460}, {"id": 3006072, "member": null, "api_token_id": null,
        "created_at": "2022-02-23T08:46:36.367333Z", "updated_at": null, "content":
        {"type": "action", "content_key"[...]
