interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/api_tokens/self
  response:
    body:
      string: '{"id": "d0ca9877-641f-4c37-8857-c08e0ae148c4", "name": "ggmcp CI (April)",
        "type": "personal_access_token", "scopes": ["scan", "incidents:read", "incidents:write",
        "incidents:share", "members:read", "members:write", "audit_logs:read", "teams:read",
        "teams:write", "honeytokens:read", "honeytokens:write", "api_tokens:read",
        "api_tokens:write", "ip_allowlist:read", "ip_allowlist:write", "sources:read",
        "sources:write", "nhi:send-inventory", "nhi:write-vault", "custom_tags:read",
        "custom_tags:write", "secrets:read", "secrets:write", "scan:create-incidents",
        "public-perimeter:read", "nhi:ownership:read", "nhi:ownership:write", "sources:scan"],
        "member_id": 480870, "workspace_id": 8, "created_at": "2026-04-20T13:31:42.422943Z",
        "last_used_at": "2026-06-23T12:45:00Z", "expire_at": null, "revoked_at": null,
        "status": "active", "creator_id": 480870}'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, DELETE, HEAD, OPTIONS
      x-app-version:
      - v2.521.0
      x-secrets-engine-version:
      - 2.165.0
    status:
      code: 200
      message: OK
version: 1
