interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/audit_logs?per_page=10
  response:
    body:
      string: '[{"id": 18378985, "api_token_id": null, "member_id": 937471, "member_email":
        "candidate.playground+eu3@gitguardian.com", "member_name": "EU3 Candidate",
        "date": "2026-02-05T07:35:42.412939Z", "data": {"type": "basic"}, "event_name":
        "user.logged_in", "action_type": "OTHER", "target_ids": ["935620"], "ip_address":
        "83.36.91.222"}, {"id": 18366488, "api_token_id": null, "member_id": 1301278,
        "member_email": "zach.mccullough@gitguardian.com", "member_name": "Zachary
        MCCULLOUGH", "date": "2026-02-04T20:29:00.481270Z", "data": {"type": "saml_sso"},
        "event_name": "user.logged_in", "action_type": "OTHER", "target_ids": ["1299091"],
        "ip_address": "73.8.249.128"}, {"id": 18366464, "api_token_id": null, "member_id":
        1301278, "member_email": "zach.mccullough@gitguard[...]
