interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets?per_page=5&ordering=-date
  response:
    body:
      string: '[{"id": 29305270, "detector": {"name": "openai_apikey", "display_name":
        "OpenAI API Key", "nature": "specific", "family": "token", "detector_group_name":
        "openai_apikey", "detector_group_display_name": "OpenAI API Key"}, "date":
        "2026-03-27T13:47:01Z", "secret_id": 30183432, "secret_hash": "MTJFo5AaJdAJ7giIaJE2+Vn/3hEL1nR7oKsu0ry8AAS38W2S95GRLqiXIWrK60u6",
        "hmsl_hash": "1d83cdea747cb8f141183f5453b8a91afc30d8124da43f904a2ff3f4fae18d5a",
        "occurrences_count": 1, "status": "IGNORED", "triggered_at": "2026-03-28T05:01:36.397561Z",
        "ignored_at": "2026-03-28T05:01:36.405919Z", "ignorer_id": 492181, "ignorer_api_token_id":
        null, "resolved_at": null, "resolver_id": null, "resolver_api_token_id": null,
        "secret_revoked": false, "validity": "invalid", "severity": "unknown", "assignee_id":
        null, "assignee_email": null, "share_url": "[REDACTED]", "feedback_list":
        [], "risk_score": 6, "is_vaulted": false, "ignore_reason": "invalid", "occurrences":
        null, "secret_presence": {"files_requiring_code_fix": 0, "files_pending_merge":
        0, "files_fixed": 0, "outside_vcs": 1, "removed_outside_vcs": 0, "in_vcs":
        0, "removed_in_vcs": 0}, "regression": false, "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/incidents/29305270",
        "tags": ["REVOCABLE_BY_GG"], "incident_name": "OpenAI API Key", "public_exposure":
        {"source_publicly_visible": false, "public_incident_linked": false, "leaked_outside_perimeter":
        false}, "destination_tickets": [], "custom_tags": []}, {"id": 29236167, "detector":
        {"name": "slackbototken", "display_name": "Slack Bot Token", "nature": "specific",
        "family": "token", "detector_group_name": "slackbot_token", "detector_group_display_name":
        "Slack Bot Token"}, "date": "2026-03-26T16:10:40Z", "secret_id": 30092110,
        "secret_hash": "zjn71aK7GgaG08kYQpcl/JoZIqGNGCjNlB7jcstxdWYrVg3rOMgPzYhV28m6OGG4",
        "hmsl_hash": "1b7034015ae219c0f41bf3ba656baac33d29debbde6304c81f1d38a2280a2ac2",
        "occ[...]
