interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=10&ordering=-score&score__ge=50
  response:
    body:
      string: '{"count": 2051, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?ordering=-score&page=2&page_size=10&score__ge=50",
        "previous": null, "results": [{"id": 15850682, "account": 8, "criterion":
        "Generic High Entropy Secret", "date": "2025-03-05T04:48:56Z", "last_trigger_published_at":
        "2025-03-05T04:48:56Z", "last_triggered_at": "2025-03-05T05:36:18.431191Z",
        "last_trigger_detected_at": "2025-03-05T05:36:18.431191Z", "hash": "wTNgbH2Ra7jYDRNm9ZdISVj3oE0glL7wdC0rbuHBI/uhxn7hp+KkPCNpyNbtXqJM",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null, "resolved": true, "resolved_at": "2025-03-09T02:53:29.158442Z",
        "resolver": 581869, "regression": false, "manual_severity_setter": 581869,
        "policy_name": "ensure_no_secrets", "policy_display_name": "Secrets detection",
        "ignorer_display_name": "none", "ignorer_type": "none", "resolver_display_name":
        "candidate.playground+3@gitguardian.com", "resolver_type": "user", "manual_severity_setter_display_name":
        "candidate.playground+3@gitguardian.com", "manual_severity_setter_type": "user",
        "status": "RESOLVED", "issue_name": "Generic High Entropy Secret", "severity_rule_config":
        {"id": 6459, "gg_created_at": "2025-02-03T14:13:41.508933Z", "gg_updated_at":
        "2025-02-03T14:13:41.508935Z", "index": 160, "severity": 20, "rule": {"id":
        13, "gg_created_at": "2022-11-28T14:53:29.767694Z", "gg_updated_at": "2023-04-17T09:40:21.035058Z",
        "name": "Secret exposed publicly", "description": "Secret exposed publicly",
        "json_rule": {"operator": "CONTAINS_ANY", "arg1": {"path": "tag_names", "default":
        null}, "arg2": {"value": ["PUBLIC"]}}, "is_global": true, "scope": "private",
        "author": 251340}}, "declarative_secret_status": "revoked", "assignee": 581869,
        "last_presence_check_at": null, "secret": "[REDACTED]", "severity": 30, "authors":
        [{"info": "ubuntu@ip-172-31-20-198.us-east-2.compute.internal", "name": "Ubuntu"}],
        "user_permission": 7, "is_publicly_shared": false, "feedbacks_count": 1, "occurrences_presence_seen_count":
        1, "occurrences_presence_deleted_count": 0, "occurrences_presence_should_be_checked":
        null, "locations_count": 0, "sources": [{"name": "CalcoastWineries/sample_secrets",
        "type": "gh_repository", "path": "CalcoastWineries/sample_secrets", "source_criticality":
        "unknown"}], "custom_tags": [], "vault_metadata": null, "is_vaulted": false,
        "similar_issue_count": 0, "score": 100, "displayed_occurrence": {"id": 179679160,
        "issue": 15850682, "account": 8, "kind": "RLTM", "element": "5bb5717166769bf0a547bb09395dbcf788d294c5",
        "element_type": "GIT_COMMIT", "author_name": "Ubuntu", "author_info": "ubuntu@ip-172-31-20-198.us-east-2.compute.internal",
        "value": null, "value_hash": "Kr0PRWHU5nDuA/ALmam70wq51Ks+bGs1bbNG2vwd8REY8HYWuwoZDbwNPekK1/jB",
        "published_at": "2025-03-05T04:48:56Z", "date": "2025-03-05T04:48:56Z", "detected_at":
        "2025-03-05T05:36:15.856218Z", "is_vcs_type": true, "last_detected_at": "2025-03-05T04:48:56Z",
        "last_seen_at": "2025-03-05T04:48:56Z", "data": {}, "url": "https://github.com/CalcoastWineries/sample_secrets/commit/5bb5717166769bf0a547bb09395dbcf788d294c5#diff-c10c74a3a17e27b057145a615025bd530ccd0728ea8285a6d3ea53a842ec7b39R75",
        "source": {"id": 18467902, "url": "https://github.com/CalcoastWineries/sample_secrets",
        "type": "gh_repository", "display_name": "CalcoastWineries/sample_secrets",
        "visibility": "public", "monitored": true, "source_criticality": "unknown",
        "deleted_at": "2025-03-10T10:13:16.613218Z", "default_branch": "main"}, "regression":
        false, "content": 53831216, "secrets_engine_version": "2.133.0", "matches":
        [{"name": "apikey", "string_matched": "[REDACTED]", "indice_start": 13073,
        "indice_end": 14069, "pre_line_start": null, "pre_line_end": null, "post_line_start":
        75, "post_line_end": 75}], "most_sensitive_match_name": "apikey", "insights":
        [], "filepath": ".azure/msal_token_cache.json", "filename": "msal_token_cache.json",
        "presence": "visible", "last_presence_seen_at": "2025-03-05T20:54:59.444872Z",
        "last_presence_check_at": "2025-03-05T20:54:59.444872Z", "first_presence_deleted_at":
        null, "seen_in_default_branch": true, "change_type": "addition", "full_tags":
        [{"type": "PUBLICLY_EXPOSED", "metadata": null}, {"type": "DEFAULT_BRANCH",
        "metadata": null}]}, "has_dropped_occurrences": false, "tags": ["DEFAULT_BRANCH",
        "PUBLICLY_EXPOSED", "PUBLICLY_LEAKED"], "public_exposure": {"source_publicly_visible":
        true, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "occurrences_count": 1}, {"id": 19393623, "account": 8, "criterion": "1Password
        Service Account Token", "date": "2025-06-20T21:38:41.888719Z", "last_trigger_published_at":
        "2025-06-20T21:38:41.888719Z", "last_triggered_at": "2025-07-28T14:11:20.200718Z",
        "last_trigger_detected_at": "2025-07-28T14:11:20.200718Z", "hash": "tbvCJz/mlPqhwCw5sWvMFDJE9je/nSW/NXbAgyM88/hql8CfVTTvfMvzOhUGsHeF",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null,[...]
