interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&assignee__in=0
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?assignee__in=0&page=2&page_size=5",
        "previous": null, "results": [{"id": 29305270, "account": 8, "criterion":
        "OpenAI API Key", "date": "2026-03-27T13:47:01Z", "last_trigger_published_at":
        "2026-03-27T13:47:01Z", "last_triggered_at": "2026-03-28T05:01:36.397561Z",
        "last_trigger_detected_at": "2026-03-28T05:01:36.397561Z", "hash": "MTJFo5AaJdAJ7giIaJE2+Vn/3hEL1nR7oKsu0ry8AAS38W2S95GRLqiXIWrK60u6",
        "ignored": true, "ignored_at": "2026-03-28T05:01:36.405919Z", "ignore_reason":
        "invalid", "ignorer": 491414, "resolved": false, "resolved_at": null, "resolver":
        null, "regression": false, "manual_severity_setter": null, "ignorer_display_name":
        "8@bot.gitguardian.com", "ignorer_type": "user", "resolver_display_name":
        "none", "resolver_type": "none", "manual_severity_setter_display_name": "none",
        "manual_severity_setter_type": "none", "status": "IGNORED", "issue_name":
        "OpenAI API Key", "severity_rule_config": null, "declarative_secret_status":
        "invalid", "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "gg-tools@gitguardianengineering.onmicrosoft.com",
        "name": "gg-tools"}], "user_permission": 7, "is_publicly_shared": false, "feedbacks_count":
        0, "occurrences_presence_seen_count": 1, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 0, "sources":
        [{"name": "gg-tools / OneDrive", "type": "microsoft_onedrive", "path": "gg-tools
        / OneDrive", "source_criticality": "unknown"}], "custom_tags": [], "vault_metadata":
        null, "is_vaulted": false, "similar_issue_count": 0, "score": 6, "displayed_occurrence":
        {"id": 255746729, "issue": 29305270, "account": 8, "kind": "RLTM", "element":
        "{\"drive_id\": \"b!ifwT0vIqDE2MYP5tWpOaVJKsAA38ZA1PqHTPWAaO0Ovk8yFkaTlITKSgS6Y2Zlvu\",
        \"parent_reference_path\": \"/drives/b!ifwT0vIqDE2MYP5tWpOaVJKsAA38ZA1PqHTPWAaO0Ovk8yFkaTlITKSgS6Y2Zlvu/root:/Recordings\",
        \"file_id\": \"01ICX32E3NSJA7PEQVFZAKEEXG4DH65RP4\"}", "element_type": "SHAREPOINT_ONEDRIVE_FILE",
        "author_name": "gg-tools", "author_info": "gg-tools@gitguardianengineering.onmicrosoft.com",
        "value": null, "value_hash": "CFPFVOpXX+26OfRN+bRLyvVCXnQmU1Cpu36m73v5F4pgz7WMu+D6UW65wQZMF7kQ",
        "published_at": "2026-03-27T13:47:01Z", "date": "2026-03-27T13:47:01Z", "detected_at":
        "2026-03-28T04:58:40.843022Z", "is_vcs_type": false, "last_detected_at": "2026-03-27T13:47:01Z",
        "last_seen_at": "2026-03-27T13:47:01Z", "data": {}, "url": "https://gitguardianengineering-my.sharepoint.com/personal/gg-tools_gitguardianengineering_onmicrosoft_com/Documents/Recordings/secret.txt",
        "source": {"id": 19962591, "url": "https://onedrive.com/", "type": "microsoft_onedrive",
        "display_name": "gg-tools / OneDrive", "visibility": "private", "monitored":
        true, "source_criticality": "unknown", "deleted_at": null, "default_branch":
        null}, "regression": false, "content": 147214824, "secrets_engine_version":
        "2.159.0", "matches": [{"name": "apikey", "string_matched": "[REDACTED]",
        "indice_start": 8, "indice_end": 59, "pre_line_start": null, "pre_line_end":
        null, "post_line_start": null, "post_line_end": null}], "most_sensitive_match_name":
        "apikey", "insights": [], "filepath": "Recordings/secret.txt", "filename":
        "secret.txt", "presence": "visible", "last_presence_seen_at": "2026-03-28T05:01:36.456203Z",
        "last_presence_check_at": "2026-03-28T05:01:36.456203Z", "first_presence_deleted_at":
        null, "seen_in_default_branch": null, "change_type": null, "full_tags": []},
        "has_dropped_occurrences": false, "tags": ["REVOCABLE_BY_GG"], "public_exposure":
        {"source_publicly_visible": false, "public_incident_linked": false, "leaked_outside_perimeter":
        false}, "occurrences_count": 1}, {"id": 29236129, "account": 8, "criterion":
        "Slack Bot Token", "date": "2026-03-26T16:10:40Z", "last_trigger_published_at":
        "2026-03-26T16:10:40Z", "last_triggered_at": "2026-03-26T16:10:55.648969Z",
        "last_trigger_detected_at": "2026-03-26T16:10:55.648969Z", "hash": "0Y7z2cw2c6cwAdy+TeYUL5BKR7Lb/hDQRLHld5PCWUkg5Q0OOMgPzYhV28m6OGG4",
        "ignored": true, "ignored_at": "2026-03-26T16:10:55.689671Z", "ignore_reason":
        "invalid", "ignorer": 491414, "resolved":[...]
