interactions:
- request:
    body: '{"comment": "Reported the leak to the actor"}'
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: POST
    uri: https://api.gitguardian.com/v1/public-incidents/secrets/3759/notes
  response:
    body:
      string: '{"id": 5132786, "member_id": 480870, "api_token_id": "d0ca9877-641f-4c37-8857-c08e0ae148c4",
        "created_at": "2026-06-23T14:12:49.055117Z", "updated_at": null, "comment":
        "Reported the leak to the actor", "incident_id": 3759}'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, POST, HEAD, OPTIONS
      x-app-version:
      - v2.521.0
      x-secrets-engine-version:
      - 2.165.0
    status:
      code: 201
      message: Created
- request:
    body: '{"comment":"Actor confirmed rotation"}'
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: PATCH
    uri: https://api.gitguardian.com/v1/public-incidents/secrets/3759/notes/5132786
  response:
    body:
      string: '{"id": 5132786, "member_id": 480870, "api_token_id": "d0ca9877-641f-4c37-8857-c08e0ae148c4",
        "created_at": "2026-06-23T14:12:49.055117Z", "updated_at": "2026-06-23T14:12:49.360819Z",
        "comment": "Actor confirmed rotation", "incident_id": 3759}'
    headers:
      Content-Type:
      - application/json
      allow:
      - PUT, PATCH, DELETE, OPTIONS
      x-app-version:
      - v2.521.0
      x-secrets-engine-version:
      - 2.165.0
    status:
      code: 200
      message: OK
version: 1
