interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&issue_tracker__in=jira_cloud_notifier
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?issue_tracker__in=jira_cloud_notifier&page=2&page_size=5",
        "previous": null, "results": [{"id": 29186788, "account": 8, "criterion":
        "GitLab Token", "date": "2026-03-25T16:53:05.035206Z", "last_trigger_published_at":
        "2026-03-25T16:53:05.035206Z", "last_triggered_at": "2026-03-25T16:53:05.853859Z",
        "last_trigger_detected_at": "2026-03-25T16:53:05.853859Z", "hash": "SJOfhHk3hANA5qiK6fypwRpA6pyKIbh2xmK/JYKpXtMCszyZxGkRAPRx8mJAAtol",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at": null, "resolver": null, "regression": false,
        "manual_severity_setter": null, "ignorer_display_name": "none", "ignorer_type":
        "none", "resolver_display_name": "none", "resolver_type": "none", "manual_severity_setter_display_name":
        "none", "manual_severity_setter_type": "none", "status": "TRIGGERED", "issue_name":
        "GitLab Token", "severity_rule_config": {"id": 10877, "gg_created_at": "2026-02-12T15:13:37.684430Z",
        "gg_updated_at": "2026-02-12T15:13:37.684433Z", "index": 200, "severity":
        20, "rule": {"id": 520, "gg_created_at": "2025-03-18T08:57:54.142633Z", "gg_updated_at":
        "2025-03-18T08:57:54.142636Z", "name": "The secret is in a sensitive file",
        "description": "Secret found in a sensitive file (.env, .pem key, dotfiles)",
        "json_rule": {"operator": "CONTAINS_ANY", "arg1": {"path": "tag_names", "default":
        null}, "arg2": {"value": ["SENSITIVE_FILE"]}}, "is_global": true, "scope":
        "any", "author": null}}, "declarative_secret_status": null, "assignee": null,
        "last_presence_check_at": null, "secret": "[REDACTED]", "severity": 100, "authors":
        [{"info": "", "name": "GitGuardian Sandbox [internal]"}], "user_permission":
        7, "is_publicly_shared": false, "feedbacks_count": 0, "occurrences_presence_seen_count":
        3, "occurrences_presence_deleted_count": 0, "occurrences_presence_should_be_checked":
        null, "locations_count": 0, "sources": [{"name": "totaaa", "type": "custom_source",
        "path": "totaaa", "source_criticality": "unknown"}, {"name": "totaaab", "type":
        "custom_source", "path": "totaaab", "source_criticality": "unknown"}, {"name":
        "totaaabccb", "type": "custom_source", "path": "totaaabccb", "source_criticality":
        "unknown"}], "custom_tags": [], "vault_metadata": null, "is_vaulted": false,
        "similar_issue_count": 0, "score": 9, "displayed_occurrence": {"id": 253371418,
        "issue": 29186788, "account": 8, "kind": "RLTM", "element": "", "element_type":
        "CUSTOM_ELEMENT", "author_name": "GitGuardian Sandbox [internal]", "author_info":
        "", "value": null, "value_hash": "bYdCbHZ101hGcZ6Q6XqcVQkGryoOAuqw4QxVXQLjQfpBf5OllP448kL+4h/ug/8v",
        "published_at": "2026-03-25T16:53:05.035206Z", "date": "2026-03-25T16:53:05.035206Z",
        "detected_at": "2026-03-25T16:53:05.737995Z", "is_vcs_type": false, "last_detected_at":
        "2026-03-25T16:53:05.035206Z", "last_seen_at": "2026-03-25T16:53:05.035206Z",
        "data": {}, "url": "", "source": {"id": 26968497, "url": "", "type": "custom_source",
        "display_name": "totaaa", "visibility": "private", "monitored": true, "source_criticality":
        "unknown", "deleted_at": null, "default_branch": null}, "regression": false,
        "content": 146400014, "secrets_engine_version": "2.158.0", "matches": [{"name":
        "apikey", "string_matched": "[REDACTED]", "indice_start": 123, "indice_end":
        149, "pre_line_start": null, "pre_line_end": null, "post_line_start": null,
        "post_line_end": null}], "most_sensitive_match_name": "apikey", "insights":
        [{"name": "sensitive_filepath", "source": "document", "metadata": {"sensitive_patterns":
        [{"tags": [], "comment": "", "pattern": "\\.?env(?![^\\.])", "category": "filename",
        "description": "Environment configuration file"}]}}], "filepath": "/tmp/tmpvcmhu56nggshield/home/hhubert/.env",
        "filename": ".env", "presence": "visible", "last_presence_seen_at": "2026-03-25T16:53:05.897743Z",
        "last_presence_check_at": "2026-03-25T16:53:05.897743Z", "first_presence_deleted_at":
        null, "seen_in_default_branch": null, "change_type": null, "full_tags": [{"type":
        "SENSITIVE_FILE", "metadata": null}]}, "has_dropped_occurrences": false, "tags":
        ["REVOCABLE_BY_GG", "SENSITIVE_FILE"], "public_exposure": {"source_publicly_visible":
        false, "public_incident_linked": false, "leaked_outside_perimeter": false},
        "occurrences_count": 3}, {"id": 28905156, "account": 8, "criterion": "GitLab
        Token", "date": "2026-03-17T14:35:54.643000Z", "last_trigger_published_at":
        "2026-03-17T14:35:54.643000Z", "last_triggered_at": "2026-03-17T14:36:00.418064Z",
        "last_trigger_detected_at": "2026-03-17T14:36:00.418064Z", "hash": "kbVfTxt8mubX2vVRQN/wNxpT9vQMThT40ap5w7qZ8b20vI7qxGkRAPRx8mJAAtol",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at": null, "resolver": null, "regression": false,
        "manual_severity_setter": null, "ignorer_display_name": "none", "ignorer_type":
        "none", "resolver_display_name": "none", "resolver_type": "none", "manual_severity_setter_display_name":
        "none", "manual_severity_setter_type": "none", "status": "TRIGGERED", "issue_name":
        "GitLab Token", "severity_rule_config": null, "declarative_secret_status":
        null, "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "<unknown>", "name": "GG Test Integrations"},
        {"info": "<unknown>", "name": "Unknown"}], "user_permission": 7, "is_publicly_shared":
        false, "feedbacks_count": 0, "occurrences_presence_seen_count": 4, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 0, "sources":
        [{"name": "gg-test-integrations / My Kanban Space", "type": "jira_cloud_project",
        "path": "gg-test-integrations / My Kanban Space", "source_critical[...]
