interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=20
  response:
    body:
      string: '[{"id": 1, "detector": {"name": "stripe", "display_name": "Stripe Keys",
        "nature": "specific", "family": "token", "category": "payment_system", "detector_group_name":
        "stripe_keys", "detector_group_display_name": "Stripe Keys"}, "date": "2022-09-21T12:48:20Z",
        "secret_id": 14030708, "secret_hash": "oRwIqXVsin9BmHcHQx6WhicHNz4oNA/2C46qrJwl9Mn9/1HViIVhmFkAG+mbE/6F",
        "hmsl_hash": "413ceb0ac344f91b4de665e1c6d73af3a46a26b6562b4a934fe143a900acbeb6",
        "occurrences_count": 5, "status": "IGNORED", "triggered_at": "2025-01-07T18:06:02.721195Z",
        "ignored_at": "2025-07-30T12:45:49.970856Z", "ignorer_id": null, "ignorer_api_token_id":
        "e9a6365c-e79a-4ad9-b851-29489298e615", "resolved_at": null, "resolver_id":
        null, "resolver_api_token_id": null, "secret_revoked": false, "validity":
        "invalid", "severity": "unknown", "assignee_id": null, "assignee_email": null,
        "share_url": "[REDACTED]", "feedback_list": [], "risk_score": 9, "severity_rule_id":
        null, "is_vaulted": false, "declarative_secret_status": "invalid", "resolve_reason":
        null, "ignore_reason": "invalid", "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/public-incidents/1",
        "tags": ["FROM_HISTORICAL_SCAN", "INTERNALLY_LEAKED"], "custom_tags": [],
        "destination_tickets": [], "incident_name": "Stripe Keys"}, {"id": 2, "detector":
        {"name": "slackbototken", "display_name": "Slack Bot Token", "nature": "specific",
        "family": "token", "category": "messaging_system", "detector_group_name":
        "slackbot_token", "detector_group_display_name": "Slack Bot Token"}, "date":
        "2024-05-14T08:57:46Z", "secret_id": 14592835, "secret_hash": "X/Zvbsaxe42JEhaT3zKDBzG7y7ttdN2JNe4t5HOXYxsmOaHROMgPzYhV28m6OGG4",
        "hmsl_hash": "d2fe5a505156deed0d96e6ee0731deef2d459e652b2[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets/1/occurrences?per_page=5
  response:
    body:
      string: '[{"id": 1, "incident_id": 1, "date": "2022-09-21T12:48:20Z", "filepath":
        "hello.py", "kind": "historical", "presence": "present", "matches": [{"name":
        "apikey", "indice_start": 52, "indice_end": 84, "pre_line_start": null, "pre_line_end":
        null, "post_line_start": 3, "post_line_end": 3}], "tags": ["FROM_HISTORICAL_SCAN",
        "INTERNALLY_LEAKED"], "sha": "7474a92c9f1f5da3a71fcf4a6a395118ad780fe2", "url":
        "https://github.com/guillaume-malle/test/commit/7474a92c9f1f5da3a71fcf4a6a395118ad780fe2#diff-d9972c0502bd2119acc4368f9d34b3310c6841190ded5fcece8aa9b66b845103R3",
        "source": {"id": 1, "type": "github", "name": "guillaume-malle/test", "url":
        "https://github.com/guillaume-malle/test"}, "actor": {"id": 1, "type": "github_user",
        "name": "guillaume-malle", "email": "110610637+guillaume-malle@users.noreply.github.com",
        "url": "https://github.com/guillaume-malle"}, "attachment_reasons": ["by_dev_from_perimeter"]},
        {"id": 212, "incident_id": 1, "date": "2022-08-09T08:29:08Z", "filepath":
        "hello.py", "kind": "historical", "presence": "present", "matches": [{"name":
        "apikey", "indice_start": 50, "indice_end": 82, "pre_line_start": null, "pre_line_end":
        null, "post_line_start": 3, "post_line_end": 3}], "tags": ["FROM_HISTORICAL_SCAN",
        "INTERNALLY_LEAKED"], "sha": "b45f9204145211197fb32f0e10fec4f115f7b290", "url":
        "https://github.com/[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets/1/occurrences?per_page=5&sha=7474a92c9f
  response:
    body:
      string: '[{"id": 1, "incident_id": 1, "date": "2022-09-21T12:48:20Z", "filepath":
        "hello.py", "kind": "historical", "presence": "present", "matches": [{"name":
        "apikey", "indice_start": 52, "indice_end": 84, "pre_line_start": null, "pre_line_end":
        null, "post_line_start": 3, "post_line_end": 3}], "tags": ["FROM_HISTORICAL_SCAN",
        "INTERNALLY_LEAKED"], "sha": "7474a92c9f1f5da3a71fcf4a6a395118ad780fe2", "url":
        "https://github.com/guillaume-malle/test/commit/7474a92c9f1f5da3a71fcf4a6a395118ad780fe2#diff-d9972c0502bd2119acc4368f9d34b3310c6841190ded5fcece8aa9b66b845103R3",
        "source": {"id": 1, "type": "github", "name": "guillaume-malle/test", "url":
        "https://github.com/guillaume-malle/test"}, "actor": {"id": 1, "type": "github_user",
        "name": "guillaume-malle", "email": "110610637+guillaume-malle@users.noreply.github.com",
        "url": "https://github.com/guillaume-malle"}, "attachment_reasons": ["by_dev_from_perimeter"]}]'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, HEAD, OPTIONS
      link:
      - ''
      x-app-version:
      - v2.437.0
      x-per-page:
      - '5'
      x-secrets-engine-version:
      - 2.161.0
    status:
      code: 200
      message: OK
version: 1
