interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=20&status=RESOLVED
  response:
    body:
      string: '[{"id": 120, "detector": {"name": "aws_iam", "display_name": "AWS IAM
        Keys", "nature": "specific", "family": "credentials", "category": "cloud_provider",
        "detector_group_name": "aws_iam", "detector_group_display_name": "AWS IAM
        Keys"}, "date": "2022-09-21T07:47:10Z", "secret_id": 14592936, "secret_hash":
        "HCWrG3nEt9czkeRivsO5t2mdGFXFrkwOSPchO87xypH14P2ML4Qc71cZRqNcojMG", "hmsl_hash":
        "44126737df445f6b9468541f77e5c5bdac71b057644a7fe1c8c219940948acc4", "occurrences_count":
        1, "status": "RESOLVED", "triggered_at": "2025-01-07T18:06:03.840266Z", "ignored_at":
        null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at": "2026-01-26T14:38:12.774362Z",
        "resolver_id": 492181, "resolver_api_token_id": null, "secret_revoked": true,
        "validity": "invalid", "severity": "critical", "assignee_id": null, "assignee_email":
        null, "share_url": "[REDACTED]", "feedback_list": [], "risk_score": 97, "severity_rule_id":
        7263, "is_vaulted": false, "declarative_secret_status": "revoked", "resolve_reason":
        null, "ignore_reason": null, "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/public-incidents/120",
        "tags": ["FROM_HISTORICAL_SCAN"], "custom_tags": [], "destination_tickets":
        [], "incident_name": "AWS IAM Keys"}, {"id": 385, "detector": {"name": "aws_iam",
        "display_name": "AWS IAM Keys", "nature": "specific", "family": "credentials",
        "category": "cloud_provider", "detector_group_name": "aws_iam", "detector_group_display_name":
        "AWS IAM Keys"}, "date": "2023-07-06T12:36:07Z", "secret_id": 9181441, "secret_hash":
        "mKn4Nj0bR4rIic8L5Vdx8VllYYtf+CISEyDv7GToL66gKwIWL4Qc71cZRqNcojMG", "hmsl_hash":
        "838d881ae00bfb022f27c3b2e57e4927d7a2ef12c4a2f75b8b6730c8[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=5&resolver_id=492181
  response:
    body:
      string: '[{"id": 120, "detector": {"name": "aws_iam", "display_name": "AWS IAM
        Keys", "nature": "specific", "family": "credentials", "category": "cloud_provider",
        "detector_group_name": "aws_iam", "detector_group_display_name"[...]
