interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=5&date_before=2026-01-01T00%3A00%3A00Z&date_after=2024-01-01T00%3A00%3A00Z
  response:
    body:
      string: '[{"id": 2, "detector": {"name": "slackbototken", "display_name": "Slack
        Bot Token", "nature": "specific", "family": "token", "category": "messaging_system",
        "detector_group_name": "slackbot_token", "detector_group_display_name": "Slack
        Bot Token"}, "date": "2024-05-14T08:57:46Z", "secret_id": 14592835, "secret_hash":
        "X/Zvbsaxe42JEhaT3zKDBzG7y7ttdN2JNe4t5HOXYxsmOaHROMgPzYhV28m6OGG4", "hmsl_hash":
        "d2fe5a505156deed0d96e6ee0731deef2d459e652b237c25a72ceb67d0abe1c3", "occurrences_count":
        2, "status": "TRIGGERED", "triggered_at": "2025-01-07T18:06:02.737359Z", "ignored_at":
        null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at": null,
        "resolver_id": null, "resolver_api_token_id": null, "secret_revoked": false,
        "validity": "invalid", "severity": "unknown", "assignee_id": null, "assignee_email":
        null, "share_url": "[REDACTED]", "feedback_list": [], "risk_score": 11, "severity_rule_id":
        null, "is_vaulted": false, "declarative_secret_status": "active", "resolve_reason":
        null, "ignore_reason": null, "gitguardian_url": "https://dashboard.gitguardian.com/workspace/8/public-incidents/2",
        "tags": ["FROM_HISTORICAL_SCAN"], "custom_tags": [], "destination_tickets":
        [], "incident_name": "Slack Bot Token"}, {"id": 5, "detector": {"name": "slackbototken",
        "display_name": "Slack Bot Token", "nature": "specific", "family": "token",
        "category": "messaging_system", "detector_group_name": "slackbot_token", "detector_group_display_name":
        "Slack Bot Token"}, "date": "2024-05-24T12:18:15Z", "secret_id": 14592838,
        "secret_hash": "Z5EChCcGXgX/eXhBjNhs4sGINbMdnzWjcD4m3l7naZmf7qCBOMgPzYhV28m6OGG4",
        "hmsl_hash": "dc66b2a9c718f0d32581426943c736bfed9bcfd[...]
