interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&ordering=-date&status__in=TRIGGERED%2CASSIGNED&severity__in=10%2C20
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?ordering=-date&page=2&page_size=5&severity__in=10%2C20&status__in=TRIGGERED%2CASSIGNED",
        "previous": null, "results": [{"id": 33929626, "account": 8, "criterion":
        "Artifactory Token", "date": "2026-06-12T10:26:58.151000Z", "last_trigger_published_at":
        "2026-06-12T10:26:58.151000Z", "last_triggered_at": "2026-06-12T11:58:00.658791Z",
        "last_trigger_detected_at": "2026-06-12T11:58:00.658791Z", "hash": "XoKoErcCGXQNocX6b4MGPd8hwhobdx0SCEYMSWCwKkzVE9LnmfERIIoosvzjJs1k",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at": null, "resolver": null, "regression": false,
        "manual_severity_setter": 910203, "ignorer_display_name": "none", "ignorer_type":
        "none", "resolver_display_name": "none", "resolver_type": "none", "manual_severity_setter_display_name":
        "celine.agbo@gitguardian.com", "manual_severity_setter_type": "user", "status":
        "ASSIGNED", "issue_name": "Artifactory Token", "severity_rule_config": {"id":
        11895, "gg_created_at": "2026-05-20T08:56:10.055460Z", "gg_updated_at": "2026-05-20T08:56:10.055463Z",
        "index": 130, "severity": 10, "rule": {"id": 513, "gg_created_at": "2025-03-18T08:57:54.142453Z",
        "gg_updated_at": "2025-03-18T08:57:54.142456Z", "name": "Package manager related
        secret", "description": "The detector relates to a package manager", "json_rule":
        {"operator": "EQ", "arg1": {"path": "issue.secret.detector.metadata.category",
        "default": null}, "arg2": {"value": "package_registry"}}, "is_global": true,
        "scope": "private", "author": null}}, "declarative_secret_status": null, "assignee":
        550880, "last_presence_check_at": null, "secret": "[REDACTED]", "severity":
        20, "authors": [{"info": "ggtestintegrations@proton.me", "name": "GG Test
        Integrations"}], "user_permission": 7, "is_publicly_shared": false, "feedbacks_count":
        0, "occurrences_presence_seen_count": 1, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 0, "sources":
        [{"id": 27177247, "name": "gg-test-integrations / Payment Systems", "type":
        "jira_cloud_project", "path": "gg-test-integrations / Payment Systems", "source_criticality":
        "unknown", "monitoring_status": "active", "deleted_at": null}], "custom_tags":
        [], "vault_metadata": null, "is_vaulted": false, "similar_issue_count": 0,
        "score": 86, "displayed_occurrence": {"id": 272781097, "issue": 33929626,
        "account": 8, "kind": "RLTM", "element": "PAY-4", "element_type": "JIRA_TICKET",
        "author_name": "GG Test Integrations", "author_info": "ggtestintegrations@proton.me",
        "value": null, "value_hash": "T71tr/N63V71e27iMbDQa9L9Oh/xkgVEZdomur2uk2WyqO/9fr4lNYuUjUFpuLDi",
        "published_at": "2026-06-12T10:26:58.151000Z", "date": "2026-06-12T10:26:58.151000Z",
        "detected_at": "2026-06-12T11:57:58.655858Z", "is_vcs_type": false, "last_detected_at":
        "2026-06-12T10:26:58.151000Z", "last_seen_at": "2026-06-12T10:26:58.151000Z",
        "data": {}, "url": "https://gg-test-integrations.atlassian.net/browse/PAY-4",
        "source": {"id": 27177247, "url": "https://gg-test-integrations.atlassian.net/browse/PAY",
        "type": "jira_cloud_project", "display_name": "gg-test-integrations / Payment
        Systems", "visibility": "private", "monitored": true, "source_criticality":
        "unknown", "deleted_at": null, "default_branch": null, "monitoring_status":
        "active"}, "regression": false, "content": 168812050, "secrets_engine_version":
        "2.165.0", "matches": [{"name": "apikey", "string_matched": "[REDACTED]",
        "indice_start": 5333, "indice_end": 5406, "pre_line_start": null, "pre_line_end":
        null, "post_line_start": null, "post_line_end": null}], "most_sensitive_match_name":
        "apikey", "insights": [], "filepath": null, "filename": null, "presence":
        "visible", "last_presence_seen_at": "2026-06-12T18:28:18.251022Z", "last_presence_check_at":
        "2026-06-12T18:28:18.251022Z", "first_presence_deleted_at": null, "seen_in_default_branch":
        null, "change_type": null, "full_tags": []}, "has_dropped_occurrences": false,
        "tags": [], "public_exposure": {"source_publicly_visible": false, "public_incident_linked":
        false, "leaked_outside_perimeter": false}, "occurrences_count": 1}, {"id":
        33211589, "account": 8, "criterion": "MongoDB URI", "date": "2026-05-27T09:42:47Z",
        "last_trigger_published_at": "2026-05-27T09:42:47Z", "last_triggered_at":
        "2026-05-27T09:51:38.902002Z", "last_trigger_detected_at": "2026-05-27T09:51:38.902002Z",
        "hash": "dX7xqTqTRiPdxjxHbmvvsqr7fWCc2yGu6359hN8zQhe1adbofeuh40iUuZt2nZY1",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at": null, "resolver": null, "regression": false,
        "manual_severity_setter": null, "ignorer_display_name": "none", "ignorer_type":
        "none", "resolver_display_name": "none", "resolver_type": "none", "manual_severity_setter_display_name":
        "none", "manual_severity_setter_type": "none", "status": "TRIGGERED", "issue_name":
        "MongoDB Credentials", "severity_rule_config": {"id": 11898, "gg_created_at":
        "2026-05-20T08:56:10.055489Z", "gg_updated_at": "2026-05-20T08:56:10.055492Z",
        "index": 160, "severity": 20, "rule": {"id": 516, "gg_created_at": "2025-03-18T08:57:54.142529Z",
        "gg_updated_at": "2025-03-18T08:57:54.142532Z", "name": "Specific Database
        Credentials", "description": "Specific Database Credentials", "json_rule":
        {"operator": "AND", "args": [{"operator": "EQ", "arg1": {"path": "issue.secret.detector.metadata.category",
        "default": null}, "arg2": {"value": "data_storage"}}, {"operator": "EQ", "arg1":
        {"path": "issue.secret.detector.nature", "default": null}, "arg2": {"value":
        "specific"}}]}, "is_global": true, "scope": "private", "author": null}}, "declarative_secret_status":
        null, "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "[...]
