interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&secret_manager_type__in=hashicorpvault%2Cawssecretsmanager
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?page=2&page_size=5&secret_manager_type__in=hashicorpvault%2Cawssecretsmanager",
        "previous": null, "results": [{"id": 27376615, "account": 8, "criterion":
        "OpenAI Project API Key v2", "date": "2026-02-03T15:03:39Z", "last_trigger_published_at":
        "2026-02-03T15:03:39Z", "last_triggered_at": "2026-02-18T22:23:47.640078Z",
        "last_trigger_detected_at": "2026-02-18T22:23:47.640078Z", "hash": "/DopfU4CT1D+jswm0e8XK/2X2RNOUplZqcydv7A4+/nN6WWPQvtp9WTZ/kMbY8Dv",
        "ignored": true, "ignored_at": "2026-02-18T22:23:47.653867Z", "ignore_reason":
        "invalid", "ignorer": 491414, "resolved": false, "resolved_at": null, "resolver":
        null, "regression": false, "manual_severity_setter": null, "ignorer_display_name":
        "8@bot.gitguardian.com", "ignorer_type": "user", "resolver_display_name":
        "none", "resolver_type": "none", "manual_severity_setter_display_name": "none",
        "manual_severity_setter_type": "none", "status": "IGNORED", "issue_name":
        "OpenAI Project API Key v2", "severity_rule_config": null, "declarative_secret_status":
        "invalid", "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "gim+dev@gitguardian.com", "name": "dev"},
        {"info": "xavier.blanchot@gitguardian.com", "name": "Xavier Blanchot"}], "user_permission":
        7, "is_publicly_shared": false, "feedbacks_count": 0, "occurrences_presence_seen_count":
        3, "occurrences_presence_deleted_count": 0, "occurrences_presence_should_be_checked":
        null, "locations_count": 1, "sources": [{"name": "Loic / demo-shield", "type":
        "gl_project", "path": "Loic/demo-shield", "source_criticality": "unknown"},
        {"name": "Xavier Blanchot / qa-sca", "type": "gl_project", "path": "xblanchot/qa-sca",
        "source_criticality": "unknown"}], "custom_tags": [], "vault_metadata": [{"source":
        "awssecretsmanager"}], "is_vaulted": true, "similar_issue_count": 0, "score":
        44, "displayed_occurrence": {"id": 244951751, "issue": 27376615, "account":
        8, "kind": "HIST", "element": "7f75f6e85952d5ac1c625bd3fcf40d003b0ba8c4",
        "element_type": "GIT_COMMIT", "author_name": "Xavier Blanchot", "author_info":
        "xavier.blanchot@gitguardian.com", "value": null, "value_hash": "CBaS+/d/madbwvs/8T4WdjsExX8NK6aTuQDdGQA1GtNcnCtNB1WaTUij1r/0DT4F",
        "published_at": "2026-02-03T14:54:25Z", "date": "2026-02-03T14:54:25Z", "detected_at":
        "2026-02-18T22:33:23.391472Z", "is_vcs_type": true, "last_detected_at": "2026-02-03T14:54:25Z",
        "last_seen_at": "2026-02-03T14:54:25Z", "data": {}, "url": "https://gitlab-01.aws-qa-gitguardian.com/Loic/demo-shield/commit/7f75f6e85952d5ac1c625bd3fcf40d003b0ba8c4#06b6a8978505059f2298eeea18b85735506e50b0_None_10",
        "source": {"id": 24090906, "url": "https://gitlab-01.aws-qa-gitguardian.com/Loic/demo-shield",
        "type": "gl_project", "display_name": "Loic / demo-shield", "visibility":
        "private", "monitored": true, "source_criticality": "unknown", "deleted_at":
        null, "default_branch": "master"}, "regression": false, "content": 134320072,
        "secrets_engine_version": "2.156.0", "matches": [{"name": "apikey", "string_matched":
        "[REDACTED]", "indice_start": 152, "indice_end": 316, "pre_line_start": null,
        "pre_line_end": null, "post_line_start": 10, "post_line_end": 10}], "most_sensitive_match_name":
        "apikey", "insights": [{"name": "test_file", "source": "document", "metadata":
        null}], "filepath": "test_xav.py", "filename": "test_xav.py", "presence":
        "visible", "last_presence_seen_at": "2026-02-18T22:33:24.059192Z", "last_presence_check_at":
        "2026-02-18T22:33:24.059192Z", "first_presence_deleted_at": null, "seen_in_default_branch":
        null, "change_type": "addition", "full_tags": [{"type": "FROM_HISTORICAL_SCAN",
        "metadata": null}, {"type": "TEST_FILE", "metadata": null}]}, "has_dropped_occurrences":
        false, "tags": ["FROM_HISTORICAL_SCAN", "PUBLICLY_LEAKED", "REVOCABLE_BY_GG",
        "TEST_FILE"], "public_exposure": {"source_publicly_visible": false, "public_incident_linked":
        true, "leaked_outside_perimeter": false}, "occurrences_count": 3}, {"id":
        27376617, "account": 8, "criterion": "PostgreSQL URI", "date": "2026-02-03T15:03:39Z",
        "last_trigger_published_at": "2026-02-03T15:03:39Z", "last_triggered_at":
        "2026-02-18T22:23:47.640669Z", "last_trigger_detected_at": "2026-02-18T22:23:47.640669Z",
        "hash": "w8plTKT2Ax3sZ5tlV9qlvmUA0pdIAWVowmytVrQQ4fNGeLrECUnJ9mpXO6ItKClD",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at": null, "resolver": null, "regression": false,
        "manual_severity_setter": null, "ignorer_display_name": "none", "ignorer_type":
        "none", "resolver_display_name": "none", "resolver_type": "none", "manual_severity_setter_display_name":
        "none", "manual_severity_setter_type": "none", "status": "TRIGGERED", "issue_name":
        "PostgreSQL Credentials", "severity_rule_config": {"id": 10873, "gg_created_at":
        "2026-02-12T15:13:37.684368Z", "gg_updated_at": "2026-02-12T15:13:37.684372Z",
        "index": 160, "severity": 20, "rule": {"id": 516, "gg_created_at": "2025-03-18T08:57:54.142529Z",
        "gg_updated_at": "2025-03-18T08:57:54.142532Z", "name": "Specific Database
        Credentials", "description": "Specific Database Credentials", "json_rule":
        {"operator": "AND", "args": [{"operator": "EQ", "arg1": {"path": "issue.secret.detector.metadata.category",
        "default": null}, "arg2": {"value": "data_storage"}}, {"operator": "EQ", "arg1":
        {"path": "issue.secret.detector.nature", "default": null}, "arg2": {"value":
        "specific"}}]}, "is_global": true, "scope": "private", "author": null}}, "declarative_secret_status":
        null, "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "gim+dev@gitguardian.com", "name": "dev"},
        {"info": "xavier.blanchot@gitguardian.com", "name": "Xavier Blanchot"}], "user_permission":
        7, "is_publicly_shared": false, "feedbacks_count": 0, "occurrences_presence_seen_count":
        3, "occurrences_presence_deleted_count": 0, "occurrences_presence_should_be_chec[...]
