interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/public-incidents/secrets?per_page=5&risk_score_min=50&risk_score_max=100
  response:
    body:
      string: '[{"id": 10, "detector": {"name": "generic_password", "display_name":
        "Generic Password", "nature": "generic", "family": "other", "category": "other",
        "detector_group_name": "generic_password", "detector_group_display_name":
        "Generic Password"}, "date": "2022-06-20T16:04:33Z", "secret_id": 14592843,
        "secret_hash": "1rC83I0fTz8CLTr6Tz7usCc9nbtqZqUU2qXEU2V6CGzNxOl3fma8ieOEhD7igl+v",
        "hmsl_hash": "9f54d16410ea8fae5f1389bcfa2d48539da4491cf4998d5d8cbcb9b4b946255f",
        "occurrences_count": 2, "status": "TRIGGERED", "triggered_at": "2025-01-07T18:06:02.749479Z",
        "ignored_at": null, "ignorer_id": null, "ignorer_api_token_id": null, "resolved_at":
        null, "resolver_id": null, "resolver_api_token_id": null, "secret_revoked":
        false, "validity": "no_checker", "severity": "unknown", "assignee_id": null,
        "assignee_email": null, "share_url": "[REDACTED]", "feedback_list": [], "risk_score":
        51, "severity_rule_id": null, "is_vaulted": false, "declarative_secret_status":
        "active", "resolve_reason": null, "ignore_reason": null, "gitguardian_url":
        "https://dashboard.gitguardian.com/workspace/8/public-incidents/10", "tags":
        ["FROM_HISTORICAL_SCAN"], "custom_tags": [], "destination_tickets": [], "incident_name":
        "Generic Password"}, {"id": 49, "detector": {"name": "generic_high_entropy_secret",
        "display_name": "Generic High Entropy Secret", "nature": "generic", "family":
        "other", "category": "other", "detector_group_name": "generic_high_entropy_secret",
        "detector_group_display_name": "Generic High Entropy Secret"}, "date": "2020-08-21T22:38:38Z",
        "secret_id": 14592880, "secret_hash": "fZeBBRr92fcSZCIP3SOUx7xdH4Ey7nIYN9aC/b82XCFI2Zkdp+KkPCNpyNbtXqJM",
        "hms[...]
