interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=2
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?page=2&page_size=2",
        "previous": null, "results": [{"id": 28905156, "account": 8, "criterion":
        "GitLab Token", "date": "2026-03-17T14:35:54.643000Z", "last_trigger_published_at":
        "2026-03-17T14:35:54.643000Z", "last_triggered_at": "2026-03-17T14:36:00.418064Z",
        "last_trigger_detected_at": "2026-03-17T14:36:00.418064Z", "hash": "kbVfTxt8mubX2vVRQN/wNxpT9vQMThT40ap5w7qZ8b20vI7qxGkRAPRx8mJAAtol",
        "ignored": false, "ignored_at": null, "ignore_reason": null, "ignorer": null,
        "resolved": false, "resolved_at": null, "resolver": null, "regression": false,
        "manual_severity_setter": null, "ignorer_display_name": "none", "ignorer_type":
        "none", "resolver_display_name": "none", "resolver_type": "none", "manual_severity_setter_display_name":
        "none", "manual_severity_setter_type": "none", "status": "TRIGGERED", "issue_name":
        "GitLab Token", "severity_rule_config": null, "declarative_secret_status":
        null, "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "<unknown>", "name": "GG Test Integrations"}],
        "user_permission": 7, "is_publicly_shared": false, "feedbacks_count": 0, "occurrences_presence_seen_count":
        2, "occurrences_presence_deleted_count": 0, "occurrences_presence_should_be_checked":
        null, "locations_count": 0, "sources": [{"name": "gg-test-integrations / My
        Kanban Space", "type": "jira_cloud_project", "path": "gg-test-integrations
        / My Kanban Space", "source_criticality": "unknown"}], "custom_tags": [],
        "vault_metadata": null, "is_vaulted": false, "similar_issue_count": 0, "score":
        10, "displayed_occurrence": {"id": 251398324, "issue": 28905156, "account":
        8, "kind": "RLTM", "element": "KAN-1/attachment/10003", "element_type": "JIRA_ATTACHMENT",
        "author_name": "GG Test Integrations", "author_info": "<unknown>", "value":
        null, "value_hash": "ANhrxxdlpUdBuuKCFgR9GCYhiQtUs9r3Zdbz3c2kuqZy+eS+jy+nX8JdITltnLl1",
        "published_at": "2026-03-17T14:35:54.643000Z", "date": "2026-03-17T14:35:54.643000Z",
        "detected_at": "2026-03-17T14:35:57.639696Z", "is_vcs_type": false, "last_detected_at":
        "2026-03-17T14:35:54.643000Z", "last_seen_at": "2026-03-17T14:35:54.643000Z",
        "data": {}, "url": "https://gg-test-integrations.atlassian.net/browse/KAN-1",
        "source": {"id": 26780039, "url": "https://gg-test-integrations.atlassian.net/browse/KAN",
        "type": "jira_cloud_project", "display_name": "gg-test-integrations / My Kanban
        Space", "visibility": "private", "monitored": true, "source_criticality":
        "unknown", "deleted_at": null, "default_branch": null}, "regression": false,
        "content": 144316417, "secrets_engine_version": "2.158.0", "matches": [{"name":
        "apikey", "string_matched": "[REDACTED]", "indice_start": 106, "indice_end":
        132, "pre_line_start": null, "pre_line_end": null, "post_line_start": null,
        "post_line_end": null}], "most_sensitive_match_name": "apikey", "insights":
        [], "filepath": "https://gg-test-integrations.atlassian.net/rest/api/2/attachment/content/10003",
        "filename": "toto9.txt", "presence": "visible", "last_presence_seen_at": "2026-03-17T14:36:00.446573Z",
        "last_presence_check_at": "2026-03-17T14:36:00.446573Z", "first_presence_deleted_at":
        null, "seen_in_default_branch": null, "change_type": null, "full_tags": []},
        "has_dropped_occurrences": false, "tags": ["REVOCABLE_BY_GG"], "public_exposure":
        {"source_publicly_visible": false, "public_incident_linked": false, "leaked_outside_perimeter":
        false}, "occurrences_count": 2}, {"id": 28905135, "account": 8, "criterion":
        "Slack Bot Token", "date": "2026-03-17T13:50:44.593000Z", "last_trigger_published_at":
        "2026-03-17T13:50:44.593000Z", "last_triggered_at": "2026-03-17T14:35:04.182936Z",
        "last_trigger_detected_at": "2026-03-17T14:35:04.182936Z", "hash": "309P1XgaKYR7FzZGMd5i0zxesVleD684fYFlrVoGxd2P5zPPOMgPzYhV28m6OGG4",
        "ignored": true, "ignored_at": "2026-03-17T14:35:04.192451Z", "ignore_reason":
        "invalid", "ignorer": 49141[...]
[...]
