interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/audit_logs?per_page=5
  response:
    body:
      string: '[{"id": 20321653, "api_token_id": null, "member_id": 937958, "member_email":
        "daniele.brusca@gitguardian.com", "member_name": "Daniele BRUSCA", "date":
        "2026-04-03T08:20:24.694817Z", "data": {"scopes": ["scan", "incidents:read",
        "incidents:write", "incidents:share", "members:read", "members:write", "audit_logs:read",
        "teams:read", "teams:write", "honeytokens:read", "honeytokens:write", "api_tokens:read",
        "api_tokens:write", "ip_allowlist:read", "ip_allowlist:write", "sources:read",
        "sources:write", "nhi:send-inventory", "nhi:write-vault", "custom_tags:read",
        "custom_tags:write", "secrets:read", "secrets:write", "scan:create-incidents",
        "public-perimeter:read", "nhi:ownership:read", "nhi:ownership:write", "health_checks:read",
        "health_checks:write"], "expire_at": "2026-04-13T08:20:24.655856+00:00"},
        "event_name": "personal_access_token.created", "action_type": "CREATE", "target_ids":
        ["ce80d253-c672-4c2e-ad86-c2a127fbe0ff"], "ip_address": "54.212.233.107"},
        {"id": 20321531, "api_token_id": null, "member_id": 1121302, "member_email":
        "candidate.playground+eu5@gitguardian.com", "member_name": "Candidate EU5",
        "date": "2026-04-03T08:16:13.796999Z", "data": null, "event_name": "secret_incident.viewed",
        "action_type": "READ", "target_ids": ["11038927"], "ip_address": "92.170.72.162"},
        {"id": 20321452, "api_token_id": null, "member_id": 1121302, "member_email":
        "candidate.playground+eu5@gitguardian.com", "member_name": "Candidate EU5",
        "date": "2026-04-03T08:10:59.237953Z", "data": {"type": "basic"}, "event_name":
        "user.logged_in", "action_type": "OTHER", "target_ids": ["1119171"], "ip_address":
        "92.170.72.162"}, {"id": 20320840, "api_token_id": null, "member_id": 701514,
        "member_email": "pierre.leclezio@gitguardian.com", "member_name": "Pierre
        LE CLEZIO", "date": "2026-04-03T07:38:22.311430Z", "data": {"type": "saml_sso"},
        "event_name": "user.logged_in", "action_type": "OTHER", "target_ids": ["700455"],
        "ip_address": "35.161.89.114"}, {"id": 20319386, "api_token_id": null, "member_id":
        1754656, "member_email": "candidate.playground+eu@gitguardian.com", "member_name":
        "CandidateEU DemoAccess", "date": "2026-04-03T06:31:23.572560Z", "data": null,
        "event_name": "user.logged_out", "action_type": "OTHER", "target_ids": ["1751937"],
        "ip_address": "35.83.131.170"}]'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
      link:
      - <https://api.gitguardian.com/v1/audit_logs?cursor=cD0yMDMxOTM4Ng%3D%3D&per_page=5>;
        rel="next"
      x-app-version:
      - v2.426.0
      x-per-page:
      - '5'
      x-secrets-engine-version:
      - 2.159.0
    status:
      code: 200
      message: OK
version: 1
