interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&search=aws
  response:
    body:
      string: '{"count": null, "page": 1, "next": "https://api.gitguardian.com/exposed/v1/incidents-for-mcp?page=2&page_size=5&search=aws",
        "previous": null, "results": [{"id": 32828142, "account": 8, "criterion":
        "AWS Keys", "date": "2026-05-13T15:25:02.693000Z", "last_trigger_published_at":
        "2026-05-13T15:25:02.693000Z", "last_triggered_at": "2026-05-13T15:25:06.309395Z",
        "last_trigger_detected_at": "2026-05-13T15:25:06.309395Z", "hash": "t7xQt+ZkSijV750x3druPYHdfKPpK9gQxSJCBfrrfNDrwz31L4Qc71cZRqNcojMG",
        "ignored": true, "ignored_at": "2026-05-13T15:25:06.323251Z", "ignore_reason":
        "invalid", "ignorer": 491414, "resolved": false, "resolved_at": null, "resolver":
        null, "regression": false, "manual_severity_setter": null, "ignorer_display_name":
        "8@bot.gitguardian.com", "ignorer_type": "user", "resolver_display_name":
        "none", "resolver_type": "none", "manual_severity_setter_display_name": "none",
        "manual_severity_setter_type": "none", "status": "IGNORED", "issue_name":
        "AWS IAM Keys", "severity_rule_config": null, "declarative_secret_status":
        "invalid", "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "ggtestintegrations@proton.me", "name":
        "GG Test Integrations"}, {"info": "<unknown>", "name": "GG Test Integrations"}],
        "user_permission": 7, "is_publicly_shared": false, "feedbacks_count": 0, "occurrences_presence_seen_count":
        3, "occurrences_presence_deleted_count": 0, "occurrences_presence_should_be_checked":
        null, "locations_count": 0, "sources": [{"id": 28093162, "name": "gg-test-integrations
        / QA SH Jira Space", "type": "jira_cloud_project", "path": "gg-test-integrations
        / QA SH Jira Space", "source_criticality": "unknown", "monitoring_status":
        "active", "deleted_at": null}], "custom_tags": [], "vault_metadata": null,
        "is_vaulted": false, "similar_issue_count": 0, "score": 0, "displayed_occurrence":
        {"id": 269409153, "issue": 32828142, "account": 8, "kind": "HIST", "element":
        "QJS-2", "element_type": "JIRA_TICKET", "author_name": "GG Test Integrations",
        "author_info": "ggtestintegrations@proton.me", "value": null, "value_hash":
        "mnhuCDXkjCXmXE4PfqGTgnchdepV6MVg3j0V4l5lv7W2jUxLFuVgLjxYdCAlSkbB", "published_at":
        "2026-05-13T13:00:33.511000Z", "date": "2026-05-13T13:00:33.511000Z", "detected_at":
        "2026-05-26T07:42:57.694929Z", "is_vcs_type": false, "last_detected_at": "2026-05-13T13:00:33.511000Z",
        "last_seen_at": "2026-05-13T13:00:33.511000Z", "data": {}, "url": "https://gg-test-integrations.atlassian.net/browse/QJS-2",
        "source": {"id": 28093162, "url": "https://gg-test-integrations.atlassian.net/browse/QJS",
        "type": "jira_cloud_project", "display_name": "gg-test-integrations / QA SH
        Jira Space", "visibility": "private", "monitored": true, "source_criticality":
        "unknown", "deleted_at": null, "default_branch": null, "monitoring_status":
        "active"}, "regression": false, "content": 164512729, "secrets_engine_version":
        "2.163.1", "matches": [{"name": "client_id", "string_matched": "[REDACTED]",
        "indice_start": 1798, "indice_end": 1818, "pre_line_start": null, "pre_line_end":
        null, "post_line_start": null, "post_line_end": null}, {"name": "client_secret",
        "string_matched": "[REDACTED]", "indice_start": 1853, "indice_end": 1893,
        "pre_line_start": null, "pre_line_end": null, "post_line_start": null, "post_line_end":
        null}], "most_sensitive_match_name": "client_secret", "insights": [], "filepath":
        null, "filename": null, "presence": "visible", "last_presence_seen_at": "2026-06-03T05:57:09.531478Z",
        "last_presence_check_at": "2026-06-03T05:57:09.531478Z", "first_presence_deleted_at":
        null, "seen_in_default_branch": null, "change_type": null, "full_tags": [{"type":
        "FROM_HISTORICAL_SCAN", "metadata": null, "field": "content"}]}, "has_dropped_occurrences":
        false, "tags": ["FROM_HISTORICAL_SCAN", "REVOCABLE_BY_GG", "TEST_FILE"], "public_exposure":
        {"source_publicly_visible": false, "public_incident_linked": false, "leaked_outside_perimeter":
        false}, "occurrences_count": 3}, {"id": 32567570, "account": 8, "criterion":
        "AWS Keys", "date": "2026-05-07T18:37:22Z", "last_trigger_published_at": "2026-05-07T18:37:22Z",
        "last_triggered_at": "2026-05-07T18:37:25.895765Z", "last_trigger_detected_at":
        "2026-05-07T18:37:25.895765Z", "hash": "kQsp1yOoI1CqpcB6NI828uqR2nHSidAhduiJpl30jfD2dULcL4Qc71cZRqNcojMG",
        "ignored": true, "ignored_at": "2026-05-07T18:37:25.902297Z", "ignore_reason":
        "invalid", "ignorer": 491414, "resolved": false,[...]
