interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&secret_manager_type__in=hashicorpvault%2Cawssecretsmanager
  response:
    body:
      string: '{"count": 4, "page": 1, "next": null, "previous": null, "results":
        [{"id": 21537872, "account": 8, "criterion": "AWS Keys", "date": "2025-05-06T13:30:40Z",
        "last_trigger_published_at": "2025-05-06T13:30:40Z", "last_triggered_at":
        "2025-10-10T21:51:39.656900Z", "last_trigger_detected_at": "2025-10-10T21:51:39.656900Z",
        "hash": "cbyxqpAjYKG6B6pIofNchCFpgjht/BnnaICdGlk1rgdxrm2VL4Qc71cZRqNcojMG",
        "policy": 1, "ignored": true, "ignored_at": "2025-10-10T21:51:39.672073Z",
        "ignore_reason": "invalid", "ignorer": 491414, "resolved": false, "resolved_at":
        null, "resolver": null, "regression": false, "manual_severity_setter": null,
        "policy_name": "ensure_no_secrets", "policy_display_name": "Secrets detection",
        "ignorer_display_name": "8@bot.gitguardian.com", "ignorer_type": "user", "resolver_display_name":
        "none", "resolver_type": "none", "manual_severity_setter_display_name": "none",
        "manual_severity_setter_type": "none", "status": "IGNORED", "issue_name":
        "AWS IAM Keys", "severity_rule_config": null, "declarative_secret_status":
        "invalid", "assignee": null, "last_presence_check_at": null, "secret": "[REDACTED]",
        "severity": 100, "authors": [{"info": "mathias.millet@gitguardian.com", "name":
        "Mathias Millet"}], "user_permission": 7, "is_publicly_shared": false, "feedbacks_count":
        0, "occurrences_presence_seen_count": 1, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 1, "sources":
        [{"name": "mathias millet / test-realtime", "type": "gl_project", "path":
        "mmillet/test-realtime", "source_criticality": "unknown"}], "custom_tags":
        [], "vault_metadata": [{"source": "awssecretsmanager"}], "is_vaulted": true,
        "similar_issue_count": 0, "score": 7, "displayed_occurrence": {"id": 219702250,
        "issue": 21537872, "account": 8, "kind": "HIST", "element": "0fbf5048185b219b68415ee491be9b959cc05ebd",
        "element_type": "GIT_COMMIT", "author_name": "Mathias Millet", "author_info":
        "mathias.millet@gitguardian.com", "value": null, "value_hash": "tbL/37FIqWG5eM10TSd/993Dy0wZkL8cgSGYbt1ueLX0q3dbh7q3gEg/RXNDnzPJ",
        "published_at": "2025-05-06T13:30:40Z", "date": "2025-05-06T13:30:40Z", "detected_at":
        "2025-10-10T21:51:36.414746Z", "is_vcs_type": true, "last_detected_at": "2025-05-06T13:30:40Z",
        "last_seen_at": "2025-05-06T13:30:40Z", "data": {}, "url": "https://gitlab-01.aws-qa-gitguardian.com/mmillet/test-realtime/commit/0fbf5048185b219b68415ee491be9b959cc05ebd#8c984c0aec6bbbe7157a1e5c4df1764ddd9ee83c_7_6",
        "source": {"id": 23485699, "url": "https://gitlab-01.aws-qa-gitguardian.com/mmillet/test-realtime",
        "type": "gl_project", "display_name": "mathias millet / test-realtime", "visibility":
        "internal", "monitored": true, "source_criticality": "unknown", "deleted_at":
        null, "default_branch": "main"}, "regression": false, "content": 98398797,
        "secrets_engine_version": "2.148.0", "matches": [{"name": "client_secret",
        "string_matched": "[REDACTED]", "indice_start": 169, "indice_end": 209, "pre_line_start":
        null, "pre_line_end": null, "post_line_start": 6, "post_line_end": 6}, {"name":
        "client_id", "string_matched": "[REDACTED]", "indice_start": 55, "indice_end":
        75, "pre_line_start": 5, "pre_line_end": 5, "post_line_start": 5, "post_line_end":
        5}], "most_sensitive_match_name": "client_secret", "insights": [], "filepath":
        "aws_iam", "filename": "aws_iam", "presence": "visible", "last_presence_seen_at":
        "2025-10-24T13:55:26.014169Z", "last_presence_check_at": "2025-10-24T13:55:26.014169Z",
        "first_presence_deleted_at": null, "seen_in_default_branch": true, "change_type":
        "addition", "full_tags": [{"type": "FROM_HISTORICAL_SCAN", "metadata": null},
        {"type": "DEFAULT_BRANCH", "metadata": null}]}, "has_dropped_occurrences":
        false, "tags": ["DEFAULT_BRANCH", "FROM_HISTORICAL_SCAN"], "public_exposure":
        {"source_publicly_visible": false, "public_incident_linked": false, "leaked_outside_perimeter":
        false}, "occurrences_count": 1}, {"id": 15154672, "account": 8, "criterion":
        "GitLab OAuth Application Token", "date": "2025-01-13T09:55:09Z", "last_trigger_published_at":
        "2025-01-13T09:55:09Z", "last_triggered_at": "2025-01-13T09:59:52.011211Z",
        "last_trigger_detected_at": "2025-01-13T09:59:52.011211Z", "hash": "4g5/yEr5XshVtZHKqFi1E9yX6MX4TpW8xvREMb0ijkeY9HRiDKw0Wt0HegDxFpeb",
        "policy": 1, "ignored": false, "ignored_at": null, "ignore_reason": null,
        "ignorer": null, "resolved": false, "resolved_at": null, "resolver": null,
        "regression": false, "manual_severity_setter": null, "policy_name": "ensure_no_secrets",
        "policy_display_name": "Secrets detection", "ignorer_display_name": "none",
        "ignorer_type": "none", "resolver_display_name": "none", "resolver_type":
        "none", "manual_severity_setter_display_name": "none", "manual_severity_setter_type":
        "none", "status": "TRIGGERED", "issue_name": "GitLab OAuth Application Token",
        "severity_rule_config": {"id": 10289, "gg_created_at": "2025-11-05T13:08:54.487518Z",
        "gg_updated_at": "2025-11-05T13:08:54.487521Z", "index": 160, "severity":
        20, "rule": {"id": 574, "gg_created_at": "2025-06-13T16:15:20.466677Z", "gg_updated_at":
        "2025-06-13T16:15:20.466692Z", "name": "VCS Creds", "description": null, "json_rule":
        {"operator": "AND", "args": [{"operator": "EQ", "arg1": {"path": "issue.secret.detector.metadata.category",
        "default": null}, "arg2": {"value": "version_control_platform"}}, {"operator":
        "NOT", "arg1": {"operator": "EQ", "arg1": {"path": "issue.secret.validity_status",
        "default": null}, "arg2": {"value": "invalid"}}}]}, "is_global": false, "scope":
        "private", "author": 520858}}, "declarative_secret_status": "active", "assignee":
        null, "last_presence_check_at": null, "secret": "[REDACTED]", "severity":
        100, "authors": [{"info": "jonathan.griffe@gitguardian.com", "name": "Jonathan
        Griffe"}], "user_permission": 7, "is_publicly_shared": false, "feedbacks_count":
        1, "occurrences_presence_seen_count": 1, "occurrences_presence_deleted_count":
        0, "occurrences_presence_should_be_checked": null, "locations_count": 0, "sources":
 [...]
