interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/sources?per_page=5
  response:
    body:
      string: '[{"id": 12259, "type": "github", "full_name": "lonely/cowboy", "health":
        "unknown", "source_criticality": "unknown", "default_branch": null, "default_branch_head":
        null, "open_incidents_count": 0, "closed_incidents_count": 0, "last_scan":
        null, "monitored": true, "monitoring_status": "deleted_on_remote", "visibility":
        "private", "external_id": "23", "secret_incidents_breakdown": {"open_secret_incidents":
        {"total": 0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0,
        "low": 0, "info": 0, "unknown": 0}}, "closed_secret_incidents": {"total":
        0, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0, "low": 0,
        "info": 0, "unknown": 0}}}, "url": "https://ghe.dev.gitguardian.com/lonely/cowboy",
        "provider_metadata": {"archived": false}, "deleted": false}, {"id": 12260,
        "type": "github", "full_name": "lonely/hunter", "health": "unknown", "source_criticality":
        "unknown", "default_branch": null, "default_branch_head": null, "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": null, "monitored": true, "monitoring_status":
        "deleted_on_remote", "visibility": "public", "external_id": "22", "secret_incidents_breakdown":
        {"open_secret_incidents": {"total": 0, "severity_breakdown": {"critical[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/sources?per_page=5&cursor=cD0xMjI2Mw%3D%3D
  response:
    body:
      string: '[{"id": 12264, "type": "github", "full_name": "my-testing-org/armani_code",
        "health": "safe", "source_criticality": "unknown", "default_branch": null,
        "default_branch_head": null, "open_incidents_count": 0, "closed_incidents_count":
        1, "last_scan": {"date": "2020-06-04T09:06:33.833273Z", "status": "finished",
        "failing_reason": "", "commits_scanned": 2, "duration": "2.830578", "branches_scanned":
        1, "progress": 100}, "monitored": true, "monitoring_status": "deleted_on_remote",
        "visibility": "public", "external_id": "30", "secret_incidents_breakdown":
        {"open_secret_incidents": {"total": 0, "severity_breakdown": {"critical":
        0, "high": 0, "medium": 0, "low": 0, "info": 0, "unknown": 0}}, "closed_secret_incidents":
        {"total": 1, "severity_breakdown": {"critical": 0, "high": 0, "medium": 0,
        "low": 0, "info": 0, "unknown": 1}}}, "url": "https://ghe.dev.gitguardian.com[...]
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/sources?per_page=5&cursor=cD0xMjI2OA%3D%3D
  response:
    body:
      string: '[{"id": 12269, "type": "github", "full_name": "wayne-enterprises-gg/private-gg-bis-2021-02",
        "health": "at_risk", "source_criticality": "unknown", "default_branch": null,
        "default_branch_head": null, "open_incidents_count": 3, "c[...]
[...]
