interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
      X-Privacy-Mode:
      - 'true'
    method: GET
    uri: https://api.gitguardian.com/v1/incidents/secrets/21460/activity-logs
  response:
    body:
      string: '[{"id": 9001, "incident_id": 21460, "member": {"id": 480870, "name":
        "Jane Doe", "email": "jane.doe@example.com", "access_level": "owner"}, "api_token_id":
        null, "created_at": "2026-06-23T10:00:00.123456Z", "updated_at": null, "content":
        {"type": "note", "comment": "Investigating this incident via MCP"}}, {"id":
        9002, "incident_id": 21460, "member": {"id": 480870, "name": "Jane Doe", "email":
        "jane.doe@example.com", "access_level": "owner"}, "api_token_id": null, "created_at":
        "2026-06-23T10:05:00.654321Z", "updated_at": null, "content": {"type": "action",
        "content_key": "RESOLVE", "data": {"resolution": "revoked"}}}]'
    headers:
      Content-Type:
      - application/json
      allow:
      - GET, HEAD, OPTIONS
      link:
      - ''
      x-app-version:
      - v2.521.0
      x-per-page:
      - '20'
      x-secrets-engine-version:
      - 2.165.0
    status:
      code: 200
      message: OK
version: 1
