interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/incidents-for-mcp?page=1&page_size=5&teams__in=1
  response:
    body:
      string: '{"count": 0, "page": 1, "next": null, "previous": null, "results":
        []}'
    headers:
      allow:
      - GET, HEAD, OPTIONS
      content-type:
      - application/json
      x-app-version:
      - v2.384.0
      x-secrets-engine-version:
      - 2.155.4
    status:
      code: 200
      message: OK
version: 1
