interactions:
- request:
    body: ''
    headers:
      Content-Type:
      - application/json
    method: GET
    uri: https://api.gitguardian.com/v1/sources?ordering=-last_scan_date&per_page=5
  response:
    body:
      string: '[{"id": 22181104, "type": "confluence_cloud", "full_name": "nathan-riviere-nksfwf2
        / Granite Car", "health": "at_risk", "source_criticality": "unknown", "default_branch":
        null, "default_branch_head": null, "open_incidents_count": 3, "closed_incidents_count":
        6, "last_scan": null, "monitored": false, "visibility": "private", "external_id":
        "109642050", "secret_incidents_breakdown": {"open_secret_incidents": {"total":
        3, "severity_breakdown": {"critical": 1, "high": 0, "medium": 0, "low": 0,
        "info": 0, "unknown": 2}}, "closed_secret_incidents": {"total": 6, "severity_breakdown":
        {"critical": 0, "high": 1, "medium": 0, "low": 0, "info": 0, "unknown": 5}}},
        "url": "https://nathan-riviere-nksfwf2.atlassian.net/wiki/spaces/GRAN490879",
        "deleted": false}, {"id": 13905736, "type": "jira_cloud", "full_name": "gitjez
        / Jira Work Management Project", "health": "safe", "source_criticality": "unknown",
        "default_branch": null, "default_branch_head": null, "open_incidents_count":
        0, "closed_incidents_count": 0, "last_scan": null, "monitored": true, "visibility":
        "private", "external_id": "10004", "secret_incidents_breakdown": {"open_secret_incidents":
        {"total": 0, "severity_breakdown": {"critical": 0, "hig[...]
